<div
  data-active-color="white"
  data-background-color="timber"
  data-image="./assets/app-assets/img/sidebar-bg/01.jpg"
  class="app-sidebar"
>
  <div class="sidebar-header">
    <div class="logo clearfix">
      <a  href="/app/" class="logo-text float-right">
        <div class="logo-img">
          <img
            src="./assets/img/logos/small-logo.png"
            alt="madpay 724"
          />
        </div>
        <span class="text align-middle logomaintext">مادپی 724</span> </a
      ><a
        id="sidebarToggle"
        href="javascript:;"
        class="nav-toggle d-none d-sm-none d-md-none d-lg-block"
        ><i data-toggle="collapsed" class="ft-circle toggle-icon"></i
      ></a>
      <a
        id="sidebarClose"
        href="javascript:;"
        class="nav-close d-block d-md-block d-lg-none d-xl-none"
        ><i class="ft-circle"></i
      ></a>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="nav-container">
      <ul
        *ngIf="notifications$ | async as notifications"
        id="main-menu-navigation"
        data-menu="menu-navigation"
        class="navigation navigation-main"
      >
        <!--#region Admin-->
        <li *appHasRole="['Admin']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/common/admin/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>

        <li *appHasRole="['Admin']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-info"></i>
            <span data-i18n="" class="menu-title">کاربران</span>
            <!-- <span class="tag badge badge-pill badge-danger mt-1">2</span> -->
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/admin/users/management']"
                class="menu-item"
              >
                <i class="icon-user-following"></i>
                مدیریت کاربران</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->
        <!--#region Accountant-->
        <ng-container *appHasRoleNotShow="['Admin']">
          <li
          *appHasRole="['Accountant']"
          
          routerLinkActive="active"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/common/accountant/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        </ng-container>
        
         <li *appHasRole="['Admin', 'Accountant']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-logout"></i>
              <span
              [hidden]="getEntryNotifySum(notifications.unCheckedEntry , notifications.unSpecifiedEntry)  === 0"
              matTooltip="واریزی های بررسی نشده"
              matTooltipPosition="left"
              [ngClass]="getEntryNotifySum(notifications.unCheckedEntry , notifications.unSpecifiedEntry).toBadgeClass()"
              class="tag badge badge-pill mt-1"
              >{{ getEntryNotifySum(notifications.unCheckedEntry , notifications.unSpecifiedEntry) }}</span>
            <span data-i18n="" class="menu-title">مدیریت واریزی</span>
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/entryapprove']"
                class="menu-item"
              >
                <i class="icon-shield"></i>
                <span
                [hidden]="notifications.unCheckedEntry === 0"
                matTooltip="واریزی های بررسی نشده"
                matTooltipPosition="left"
                [ngClass]="notifications.unCheckedEntry.toBadgeClass()"
                class="tag badge badge-pill mt-1 madpaynotifybadge"
                >{{ notifications.unCheckedEntry}}</span>
                 واریز تایید نشده</a>
            </li>
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/entrypardakht']"
                class="menu-item"
              >
                <i class="icon-share-alt"></i>
                 <span
                [hidden]="notifications.unSpecifiedEntry === 0"
                matTooltip="واریزی های پرداخت نشده"
                matTooltipPosition="left"
                [ngClass]="notifications.unSpecifiedEntry.toBadgeClass()"
                class="tag badge badge-pill mt-1 madpaynotifybadge"
                >{{notifications.unSpecifiedEntry }}</span>
                 واریز پرداخت نشده</a>
            </li>
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/entryarchive']"
                class="menu-item"
              >
                <i class="ft-command"></i>
                آرشیو واریزی ها</a
              >
            </li>
          </ul>
        </li>
        <li *appHasRole="['Admin', 'Accountant']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-pie-chart"></i>
                            <span
                [hidden]="getMaliNotifySum(notifications.unVerifiedGateInPast7Days,notifications.unVerifiedBankCardInPast7Days) === 0"
                matTooltip="کارت ها و درگاه های تایید نشده 7 روز پیش"
                matTooltipPosition="left"
                [ngClass]="getMaliNotifySum(notifications.unVerifiedGateInPast7Days,notifications.unVerifiedBankCardInPast7Days).toBadgeClass()"
                class="tag badge badge-pill mt-1"
                >{{getMaliNotifySum(notifications.unVerifiedGateInPast7Days,notifications.unVerifiedBankCardInPast7Days) }}</span>
            <span data-i18n="" class="menu-title">مدیریت مالی</span>
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/gates']"
                class="menu-item"
              >
                <i class="icon-globe"></i>
                                            <span
                
                [hidden]="notifications.unVerifiedGateInPast7Days === 0"
                matTooltip="درگاه های فعال نشده 7 روز پیش"
                matTooltipPosition="left"
                [ngClass]="notifications.unVerifiedGateInPast7Days.toBadgeClass()"
                class="tag badge badge-pill mt-1 madpaynotifybadge"
                >{{notifications.unVerifiedGateInPast7Days }}</span>
                درگاه های پرداخت</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/bankcards']"
                class="menu-item"
              >
                <i class="icon-credit-card"></i>
                                            <span
                                            
                [hidden]="notifications.unVerifiedBankCardInPast7Days === 0"
                matTooltip="کارت های تایید نشده 7 روز پیش"
                matTooltipPosition="left"
                [ngClass]="notifications.unVerifiedBankCardInPast7Days.toBadgeClass()"
                class="tag badge badge-pill mt-1 madpaynotifybadge"
                >{{notifications.unVerifiedBankCardInPast7Days }}</span>
                 کارت های بانکی</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/wallets']"
                class="menu-item"
              >
                <i class="icon-wallet"></i>
                 کیف پول ها</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/inventory']" class="menu-item">
                <i class="icon-calculator"></i>
                مدیریت موجودی</a
              >
            </li>
          </ul>
        </li>
        <li
          *appHasRole="['Admin', 'Accountant']"
          class="has-sub nav-item"
        >
          <a href="javascript:;">
            <i class="ft-shopping-cart"></i>
            <span data-i18n="" class="menu-title">فاکتور ها</span>
          </a>
          <ul class="menu-content">
            <!-- <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/factorsreport']" class="menu-item">
                <i class="ft-bar-chart-2"></i>
                گزارش فاکتور ها
              </a>
            </li> -->
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/factors']" class="menu-item">
                <i class="icon-bag"></i>
                مدیریت فاکتور ها</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->

        <!--#region Blog-->
        <ng-container *appHasRoleNotShow="['Admin']">
          <li
          *appHasRole="['AdminBlog', 'Blog']"
          routerLinkActive="active"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/common/blog/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        </ng-container>
        
        <li
          *appHasRole="['Admin','AdminBlog', 'Blog']"
          class="has-sub nav-item"
        >
          <a href="javascript:;">
            <i class="ft-clipboard"></i>
            <span data-i18n="" class="menu-title">بلاگ</span>
            <span
             
              *appHasRole="['Admin','AdminBlog']"
              [hidden]="notifications.unVerifiedBlogCount === 0"
              matTooltip="بلاگ های تایید نشده"
              matTooltipPosition="left"
              [ngClass]="notifications.unVerifiedBlogCount.toBadgeClass()"
              class="tag badge badge-pill mt-1"
              >{{ notifications.unVerifiedBlogCount }}</span>
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/blog/bloggroup']" class="menu-item">
                <i class="ft-copy"></i>
                مدیریت دسته بندی
              </a>
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/blog/blog']" class="menu-item">
                <i class="ft-airplay "></i>
                <span
                  *appHasRole="['Admin', 'AdminBlog']"
                 
                  [hidden]="notifications.unVerifiedBlogCount === 0"
                  matTooltipPosition="left"
                  matTooltip="بلاگ های تایید نشده"
                   [ngClass]="notifications.unVerifiedBlogCount.toBadgeClass()"
                  class="tag badge badge-pill mt-1 madpaynotifybadge"
                  >{{ notifications.unVerifiedBlogCount }}</span
                >
                مدیریت بلاگ</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->

        <!--#region User-->
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/common/user/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/gate']"
            ><i class="icon-globe"></i
            ><span data-i18n="" class="menu-title">درگاه های پرداخت</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/bankcard']"
            ><i class="icon-credit-card"></i
            ><span data-i18n="" class="menu-title">کارت های بانکی</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/wallet']"
            ><i class="icon-wallet"></i
            ><span data-i18n="" class="menu-title">کیف پول</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/easypay']"
            ><i class="icon-link"></i
            ><span data-i18n="" class="menu-title">ایزی پی</span></a
          >
        </li>
        <li *appHasRole="['User']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-info"></i>
            <span data-i18n="" class="menu-title">اطلاعات شما</span>
            <!-- <span class="tag badge badge-pill badge-danger mt-1">2</span> -->
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/user/userinfo/documents']"
                class="menu-item"
              >
                <i class="icon-docs"></i>
                ارسال مدارک</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/user/notification']" class="menu-item">
                <i class="ft-twitter"></i>
                تنظیمات اطلاع رسانی</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->
        <!--#region Admin-->
        <li *appHasRole="['Admin']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/admin/tickets/management']">
            <i class="icon-bubbles"> </i
            ><span class="menu-title">تیکت ها</span>
            <span
              [hidden]="notifications.unClosedTicketCount === 0"
              *appHasRole="['Admin']"
              matTooltip="تیکت های باز"
              matTooltipPosition="left"
              [ngClass]="notifications.unClosedTicketCount.toBadgeClass()"
              class="tag badge badge-pill mt-1"
              >{{ notifications.unClosedTicketCount }}</span
            >
          </a>
        </li>
        <li *appHasRole="['Admin']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/admin/documents/management']">
            <i class="icon-docs"> </i
            ><span class="menu-title">مدارک کاربران</span>
            <span
            
              [hidden]="notifications.unVerifiedDocuments === 0"
              *appHasRole="['Admin']"
              matTooltip="مدارک بررسی نشده"
              matTooltipPosition="left"
              [ngClass]="notifications.unVerifiedDocuments.toBadgeClass()"
              class="tag badge badge-pill mt-1"
              >{{ notifications.unVerifiedDocuments }}</span
            >
          </a>
        </li>
         <li *appHasRole="['Admin']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/admin/file/management']">
            <i class="ft-folder"> </i
            ><span class="menu-title">فایل منیجر</span>
          </a>
        </li>
        <!--#endregion-->
        <!--#region Com-->
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/tickets']">
            <i class="icon-bubbles"> </i
            ><span class="menu-title">پشتیبانی</span>
            <span
              
              *appHasRole="['User']"
              matTooltip="تیکت های باز"
              matTooltipPosition="left"
              [hidden]="notifications.unClosedTicketCount === 0"
              [ngClass]="notifications.unClosedTicketCount.toBadgeClass()"
              class="tag badge badge-pill mt-1"
              >{{ notifications.unClosedTicketCount }}</span
            >
          </a>
        </li>
        <li
          *appHasRole="['User', 'Admin', 'AdminBlog', 'Blog', 'Accountant']"
          routerLinkActive="active mlisub"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/common/userprofile']">
            <i class="icon-user-following"></i>
            <span class="menu-title">پروفایل</span></a
          >
          <!--#endregion-->
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-background"></div>
</div>
