<div
  data-active-color="white"
  data-background-color="timber"
  data-image="../../../../../assets/app-assets/img/sidebar-bg/01.jpg"
  class="app-sidebar"
>
  <div class="sidebar-header">
    <div class="logo clearfix">
      <a [routerLink]="['/panel/user/dashboard']" class="logo-text float-right">
        <div class="logo-img">
          <img
            src="../../../../assets/img/logos/small-logo.png"
            alt="madpay 724"
          />
        </div>
        <span class="text align-middle logomaintext">مادپی 724</span> </a
      ><a
        id="sidebarToggle"
        href="javascript:;"
        class="nav-toggle d-none d-sm-none d-md-none d-lg-block"
        ><i data-toggle="collapsed" class="ft-circle toggle-icon"></i
      ></a>
      <a
        id="sidebarClose"
        href="javascript:;"
        class="nav-close d-block d-md-block d-lg-none d-xl-none"
        ><i class="ft-circle"></i
      ></a>
    </div>
  </div>
  <div class="sidebar-content">
    <div class="nav-container">
      <ul
        *ngIf="notifications$ | async as notifications"
        id="main-menu-navigation"
        data-menu="menu-navigation"
        class="navigation navigation-main"
      >
        <!--#region Admin-->
        <li *appHasRole="['Admin']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/admin/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>

        <li *appHasRole="['Admin']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-info"></i>
            <span data-i18n="" class="menu-title">کاربران</span>
            <!-- <span class="tag badge badge-pill badge-danger mt-1">2</span> -->
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/admin/users/usersmanagement']"
                class="menu-item"
              >
                <i class="icon-user-following"></i>
                مدیریت کاربران</a
              >
            </li>
          </ul>
        </li>

        <!--#endregion-->
        <!--#region Accountant-->
        <li
          *appHasRole="['Admin', 'Accountant']"
          routerLinkActive="active"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/accountant/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        <li *appHasRole="['Admin', 'Accountant']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-pie-chart"></i>
            <span data-i18n="" class="menu-title">مدیریت مالی</span>
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/bankcards']"
                class="menu-item"
              >
                <i class="icon-credit-card"></i>
                مدیریت کارت های بانکی</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/accountant/wallets']"
                class="menu-item"
              >
                <i class="icon-wallet"></i>
                مدیریت کیف پول ها</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/inventory']" class="menu-item">
                <i class="icon-calculator"></i>
                مدیریت موجودی</a
              >
            </li>
          </ul>
        </li>
      
        
        <li
          *appHasRole="['Admin', 'Accountant']"
          class="has-sub nav-item"
        >
          <a href="javascript:;">
            <i class="ft-shopping-cart"></i>
            <span data-i18n="" class="menu-title">فاکتور ها</span>
            <span
              *appHasRole="['Admin', 'Accountant']"
              [hidden]="notifications.unverifiedBlogCount === 0"
              matTooltip="بلاگ های تایید نشده"
              matTooltipPosition="left"
              class="tag badge badge-pill badge-danger mt-1"
              >{{ notifications.unverifiedBlogCount }}</span
            >
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/factorsreport']" class="menu-item">
                <i class="ft-bar-chart-2"></i>
                گزارش فاکتور ها
              </a>
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/accountant/factors']" class="menu-item">
                <i class="icon-bag"></i>
                <span
                  *appHasRole="['Admin', 'Accountant']"
                  [hidden]="notifications.unverifiedBlogCount === 0"
                  matTooltipPosition="left"
                  matTooltip="بلاگ های تایید نشده"
                  class="tag badge badge-pill badge-success mt-1 madpaynotifybadge"
                  >{{ notifications.unverifiedBlogCount }}</span
                >
                مدیریت فاکتور ها</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->

        <!--#region Blog-->
        <li
          *appHasRole="['AdminBlog', 'Blog']"
          routerLinkActive="active"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/blog/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        <li
          *appHasRole="['Admin', 'AdminBlog', 'Blog']"
          class="has-sub nav-item"
        >
          <a href="javascript:;">
            <i class="ft-clipboard"></i>
            <span data-i18n="" class="menu-title">بلاگ</span>
            <span
              *appHasRole="['Admin', 'AdminBlog']"
              [hidden]="notifications.unverifiedBlogCount === 0"
              matTooltip="بلاگ های تایید نشده"
              matTooltipPosition="left"
              class="tag badge badge-pill badge-danger mt-1"
              >{{ notifications.unverifiedBlogCount }}</span
            >
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/blog/bloggroup']" class="menu-item">
                <i class="ft-copy"></i>
                مدیریت دسته بندی
              </a>
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/blog/blog']" class="menu-item">
                <i class="ft-airplay "></i>
                <span
                  *appHasRole="['Admin', 'AdminBlog']"
                  [hidden]="notifications.unverifiedBlogCount === 0"
                  matTooltipPosition="left"
                  matTooltip="بلاگ های تایید نشده"
                  class="tag badge badge-pill badge-success mt-1 madpaynotifybadge"
                  >{{ notifications.unverifiedBlogCount }}</span
                >
                مدیریت بلاگ</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->

        <!--#region User-->
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/dashboard']"
            ><i class="icon-home"></i
            ><span data-i18n="" class="menu-title">داشبورد</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/gate']"
            ><i class="icon-globe"></i
            ><span data-i18n="" class="menu-title">درگاه های پرداخت</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/bankcard']"
            ><i class="icon-credit-card"></i
            ><span data-i18n="" class="menu-title">کارت های بانکی</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/wallet']"
            ><i class="icon-wallet"></i
            ><span data-i18n="" class="menu-title">کیف پول</span></a
          >
        </li>
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/easypay']"
            ><i class="icon-link"></i
            ><span data-i18n="" class="menu-title">ایزی پی</span></a
          >
        </li>
        <li *appHasRole="['User']" class="has-sub nav-item">
          <a href="javascript:;">
            <i class="icon-info"></i>
            <span data-i18n="" class="menu-title">اطلاعات شما</span>
            <!-- <span class="tag badge badge-pill badge-danger mt-1">2</span> -->
          </a>
          <ul class="menu-content">
            <li routerLinkActive="active mlisub">
              <a
                [routerLink]="['/panel/user/userinfo/documents']"
                class="menu-item"
              >
                <i class="icon-docs"></i>
                ارسال مدارک</a
              >
            </li>
            <li routerLinkActive="active mlisub">
              <a [routerLink]="['/panel/user/notification']" class="menu-item">
                <i class="ft-twitter"></i>
                تنظیمات اطلاع رسانی</a
              >
            </li>
          </ul>
        </li>
        <!--#endregion-->

        <!--#region Com-->
        <li *appHasRole="['User']" routerLinkActive="active" class=" nav-item">
          <a [routerLink]="['/panel/user/tickets']">
            <i class="icon-bubbles"> </i
            ><span class="menu-title">پشتیبانی</span>
            <span
              [hidden]="notifications.unClosedTicketCount === 0"
              *appHasRole="['User']"
              matTooltip="تیکت های باز"
              matTooltipPosition="left"
              class="tag badge badge-pill badge-danger mt-1"
              >{{ notifications.unClosedTicketCount }}</span
            >
          </a>
        </li>
        <li
          *appHasRole="['User', 'Admin', 'AdminBlog', 'Blog', 'Accountant']"
          routerLinkActive="active mlisub"
          class=" nav-item"
        >
          <a [routerLink]="['/panel/user/userinfo/profile']">
            <i class="icon-user-following"></i>
            <span class="menu-title">پروفایل</span></a
          >
          <!--#endregion-->
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-background"></div>
</div>
