.ml-10 {
  margin-left: 10px;
}
.mat-green {
  background: #4caf50;
  color: #fff;
  width: 250px;
  float: left;
  font-weight: 900;
  font-size: 16px;
}

.mmatdiagtitle {
  background: #333;
  padding: 15px 25px 25px;
  border-radius: 5px;
  color: #fff;
}
.msgicon {
  background: #197dff;

  padding: 7px;

  color: #fff !important;

  border-radius: 50px;

  margin-left: 10px;
}
.attach {
  cursor: pointer;
}
.attach {
  cursor: pointer;
  margin-right: 10px;
}
.attach {
  cursor: pointer;
}
.attach input[type='file'] {
  display: none;
}
