<div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ (adminDashboard.totalInventory | irc).replace("ریال", "تومان") }}
                                               </h4>
                                            <span class="grey darken-1">مجموع موجودی ها</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-cup font-large-1 primary"></i>
                                        </div>
                                    </div>
                                </div>
                                    <x-chartist
                                     id="widget-line-area"
                                     class="height-150 WidgetAreaChart WidgetAreaChart1 WidgetAreaChartshadow mb-2"
                                      [type]="InventoryChartType"
                                      [data]="InventoryChartData"
                                      [options]="InventoryChartOptions"
                                      [events]="InventoryChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ (adminDashboard.totalInterMoney | irc).replace("ریال", "تومان") }}
                                              </h4>
                                            <span class="grey darken-1">مجموع درامد ها</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-wallet font-large-1 warning"></i>
                                        </div>
                                    </div>
                                </div>                               
                                 <x-chartist
                                     id="widget-line-area1"
                                     class="height-150 WidgetAreaChart WidgetAreaChart2 WidgetAreaChartshadow mb-2"
                                      [type]="InterMoneyChartType"
                                      [data]="InterMoneyChartData"
                                      [options]="InterMoneyChartOptions"
                                      [events]="InterMoneyChartEvents"
                                    ></x-chartist>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ (adminDashboard.totalExitMoney | irc).replace("ریال", "تومان") }}
                                              </h4>
                                            <span class="grey darken-1">مجموع واریزی ها</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-basket-loaded font-large-1 success"></i>
                                        </div>
                                    </div>
                                </div>
                                <x-chartist
                                     id="widget-line-area2"
                                     
                                     class="height-150 WidgetAreaChart WidgetAreaChart3 WidgetAreaChartshadow mb-2"
                                      [type]="ExitMoneyChartType"
                                      [data]="ExitMoneyChartData"
                                      [options]="ExitMoneyChartOptions"
                                      [events]="ExitMoneyChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-right">
              <h4 class="font-medium-5 card-title mb-0">
                {{(adminDashboard.totalSuccessEntryPrice | irc).replace("ریال","تومان")}}
              </h4>
              <span class="grey darken-1">مجموع واریزی ها </span>
            </div>
            <div class="media-right text-right">
              <i class="icon-cup font-large-1 primary"></i>
            </div>
          </div>
        </div>
        <x-chartist
          id="Widget-line-chart"
          class="height-150 lineChartWidget WidgetlineChart mb-2"
          [type]="Entry5DaysChartType"
          [data]="Entry5DaysChartData"
          [options]="Entry5DaysChartOptions"
          [events]="Entry5DaysChartEvents"
        ></x-chartist>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-right">
              <h4 class="font-medium-5 card-title mb-0">
                {{
                  (adminDashboard.totalSuccessFactorPrice | irc).replace(
                    "ریال",
                    "تومان"
                  )
                }}
              </h4>
              <span class="grey darken-1">مجموع فاکتور ها</span>
            </div>
            <div class="media-right text-right">
              <i class="icon-wallet font-large-1 warning"></i>
            </div>
          </div>
        </div>
        <x-chartist
          id="Widget-line-chart1"
          class="height-150 lineChartWidget WidgetlineChart1 mb-2"
          [type]="Factor5DaysChartType"
          [data]="Factor5DaysChartData"
          [options]="Factor5DaysChartOptions"
          [events]="Factor5DaysChartEvents"
        ></x-chartist>
      </div>
    </div>
  </div>
</div>



<div class="row match-height">
  <div class="col-md-6">
    <div class="card" style="height: 433px;">
      <div class="card-header pb-0">
        <div class="card-title-wrap bar-danger">
          <h4 class="card-title">تراکنشات 12 ماه گذشته</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3">
              <i class="fa fa-circle primary font-small-2 mr-1"></i> فاکتور
              ها</span
            >
            <span class="text-uppercase">
              <i class="fa fa-circle success font-small-2 mr-1"></i> واریزی
              ها</span
            >
          </div>
          <x-chartist
            id="line-area-chart"
            class="height-300 lineAreaChart lineAreaChartShadow"
            [type]="EntryFactorChartType"
            [data]="EntryFactorChartData"
            [options]="EntryFactorChartOptions"
            [events]="EntryFactorChartEvents"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-success">
          <h4 class="card-title">کیف پول / کارت بانکی / درگاه</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3">
              <i class="fa fa-circle primary font-small-2 mr-1"></i> کیف پول ها
            </span>
            <span class="text-uppercase">
              <i class="fa fa-circle warning font-small-2 mr-1"></i> کارت بانکی
            </span>
            <span class="text-uppercase">
              <i class="fa fa-circle danger font-small-2 mr-1"></i> درگاه ها
            </span>
          </div>
          <x-chartist
            id="line-chart"
            class="height-300 lineChart lineChartShadow"
            [type]="CardGateWalletChartType"
            [data]="CardGateWalletChartData"
            [options]="CardGateWalletChartOptions"
            [events]="CardGateWalletChartEvents"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row match-height">
        <!--List Group with badges Starts-->
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">واریزی ها</h4>
                    </div>
                    <p>خلاصه ی واریزی تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد واریزی ها</span> {{adminDashboard.totalSuccessEntry }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">مبلغ واریزی ها</span>{{(adminDashboard.totalSuccessEntryPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های تایید شده</span>  {{adminDashboard.totalEntryApprove }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های تایید نشده</span> {{adminDashboard.totalEntryUnApprove }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های پرداخت شده</span>  {{adminDashboard.totalEntryPardakht }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های پرداخت نشده</span> {{adminDashboard.totalEntryUnPardakht }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های رد شده</span>  {{adminDashboard.totalEntryReject }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های رد نشده</span> {{adminDashboard.totalEntryUnReject }} 
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" >
                <div class="card-header">
                    <div class="card-title-wrap bar-info">
                        <h4 class="card-title">مبلغ فاکتور ها</h4>
                    </div>
                    <p>خلاصه ی مبلغ فاکتور ها تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary  mr-2 float-left">مبلغ کل فاکتور ها </span>{{(adminDashboard.totalSuccessFactorPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت فاکتور </span>{{(adminDashboard.totalFactorPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل فاکتور </span>{{(adminDashboard.totalEasyPayPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت حمایتی </span>{{(adminDashboard.totalSupportPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت افزایش موجودی </span>{{(adminDashboard.totalIncInventoryPrice | irc).replace("ریال","تومان")}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--List Group with badges Ends-->
   <div class="col-sm-12 col-md-4">
            <div class="card" >
                <div class="card-header">
                    <div class="card-title-wrap bar-danger">
                        <h4 class="card-title">تعداد فاکتور ها</h4>
                    </div>
                    <p>خلاصه ی تعداد فاکتور ها تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <span class="badge badge-primary  mr-2 float-left">تعداد کل فاکتور ها </span> {{adminDashboard.totalSuccessFactor }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت فاکتور </span>  {{adminDashboard.totalFactor }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت ایزی پی </span>  {{adminDashboard.totalEasyPay }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت حمایتی </span>  {{adminDashboard.totalSupport }} 
                            </li>
                             <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت افزایش موجودی </span>  {{adminDashboard.totalIncInventory }} 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

<div class="row match-height">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-primary">
          <h4 class="card-title">
            فاکتور های اخیر
          </h4>
        </div>
        <a class="heading-elements-toggle">
          <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
      </div>
      <div class="card-content mt-1">
        <div class="table-responsive">
          <table class="table table-hover table-xl mb-0" id="recent-orders">
            <thead>
              <tr>
                <th class="border-top-0">نام</th>
                <th class="border-top-0">ایجاد</th>
                <th class="border-top-0">نوع</th>
                <th class="border-top-0">وضعیت</th>
                <th class="border-top-0">مبلغ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factor of adminDashboard.last7Factors">
                <td class="text-truncate">{{ factor.userName }}</td>
                <td class="text-truncate">
                  {{ factor.dateCreated | persianDate }}
                </td>
                <td>
                  <button
                    [ngClass]="
                      factor.kind === 1
                        ? 'btn-outline-warning'
                        : factor.kind === 2
                        ? 'btn-outline-info'
                        : factor.kind === 3
                        ? 'btn-outline-danger'
                        : 'btn-outline-dark'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ factor.kind.toFactorType() }}
                  </button>
                </td>
                <td>
                  <button
                    [ngClass]="
                      factor.status
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ factor.status.toStatus() }}
                  </button>
                </td>
                <td class="text-truncate">
                  {{ (factor.endPrice | irc).replace("ریال", "تومان") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-warning">
          <h4 class="card-title">
            واریزی های اخیر
          </h4>
        </div>
        <a class="heading-elements-toggle">
          <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
      </div>
      <div class="card-content mt-1">
        <div class="table-responsive">
          <table class="table table-hover table-xl mb-0" id="recent-orders">
            <thead>
              <tr>
                <th class="border-top-0">نام</th>
                <th class="border-top-0">ایجاد</th>
                <th class="border-top-0">پرداخت</th>
                <th class="border-top-0">رد</th>
                <th class="border-top-0">مبلغ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of adminDashboard.last7Entries">
                <td class="text-truncate">{{ entry.ownerName }}</td>
                <td class="text-truncate">
                  {{ entry.dateModified | persianDate }}
                </td>
                <td>
                  <button
                    [ngClass]="
                      entry.isPardakht
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ entry.isPardakht.toStatus() }}
                  </button>
                </td>
                <td>
                  <button
                    [ngClass]="
                      entry.isReject
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ entry.isReject.toStatus() }}
                  </button>
                </td>
                <td class="text-truncate">
                  {{ (entry.price | irc).replace("ریال", "تومان") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
               


             
                <div class="row match-height">
                   
                    <div class="col-xl-6 col-lg-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-danger">
                                    <h4 class="card-title">تیکت های اخیر</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="col-12 timeline-left" id="activity">
                                    <div class="timeline">
                                        <ul class="list-unstyled base-timeline activity-timeline">
                                            <li *ngFor="let ticket of this.adminDashboard.last5Tickets">
                                                <div 
                                                [ngClass]="ticket.closed ? 'bg-dark' : ticket.isAdminSide ? 'bg-danger' : 'bg-primary'"
                                                class="timeline-icon">
                                                    <i 
                                                    [ngClass]="ticket.closed ? 'fa-power-off' : ticket.isAdminSide ? 'fa-download' : 'fa-volume-up'"
                                                    class="fa "></i>
                                                </div>
                                                <div class="act-time">{{ticket.dateModified | persianTimeAgo}}</div>
                                                <div class="base-timeline-info">
                                                    <a 
                                                    [ngClass]="ticket.closed ? 'text-dark' : ticket.isAdminSide ? 'text-danger' : 'text-primary'"
                                                    class="text-uppercase ">{{ticket.title}}</a>
                                                </div>
                                                <small class="text-muted">
                                                  {{sortTicketContent(ticket.ticketContents)[0].text}}
                                              </small>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Line with Area Chart 1 Ends-->

                <div class="row match-height">
                  
                    <div class="col-12 col-md-12" id="recent-sales">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-primary">
                                    <h4 class="card-title">
                                        فاکتورهای اخیر
                                    </h4>
                                </div>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-content mt-1">
                                <div class="table-responsive">
                                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">نام</th>
                                                <th class="border-top-0">تاریخ ایجاد </th>
                                                <th class="border-top-0">نوع</th>
                                                <th class="border-top-0">بانک</th>
                                                <th class="border-top-0">وضعیت</th>
                                                <th class="border-top-0">کد رهگیری</th>
                                                <th class="border-top-0">مبلغ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let factor of adminDashboard.last7Factors">
                                                <td class="text-truncate">{{factor.userName}}</td>
                                                <td class="text-truncate">
                                                    ({{ factor.dateCreated | date: "HH:mm" }})
                                                    {{ factor.dateCreated | persianDate }}
                                                </td>
                                                <td>
                                                    <button
                                                    [ngClass]="factor.kind === 1 ? 'btn-outline-warning' :
                                                     factor.kind === 2 ? 'btn-outline-info' :
                                                      factor.kind === 3 ? 'btn-outline-danger' : 'btn-outline-dark'"
                                                    class="btn btn-sm round mb-0" type="button">
                                                        {{factor.kind.toFactorType()}}
                                                    </button
                                                    >
                                                </td>
                                                <td>
                                                    <button class="btn btn-sm btn-outline-primary round mb-0" type="button">
                                                        {{factor.bank.toBankName()}}
                                                    </button>
                                                </td>
                                                <td>
                                                    <button
                                                    [ngClass]="factor.status ? 'btn-outline-success' :'btn-outline-danger' "
                                                    class="btn btn-sm round mb-0" type="button">
                                                        {{factor.status.toStatus()}}
                                                    </button
                                                    >
                                                </td>
                                                <td class="text-truncate"> {{factor.refBank}}</td>
                                                <td class="text-truncate">
                                                    {{ (factor.endPrice | irc).replace("ریال","تومان")}}
                                                </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ adminDashboard.totalBlogCount}}
                                               </h4>
                                            <span class="grey darken-1">مجموع بلاگ ها </span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-cup font-large-1 primary"></i>
                                        </div>
                                    </div>
                                </div>
                                    <x-chartist
                                     id="Widget-line-chart"
                                     class="height-150 lineChartWidget WidgetlineChart mb-2"
                                      [type]="TotalBlogChartType"
                                      [data]="TotalBlogChartData"
                                      [options]="TotalBlogChartOptions"
                                      [events]="TotalBlogChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ adminDashboard.approvedBlogCount}}
                                              </h4>
                                            <span class="grey darken-1">بلاگ های تایید شده</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-wallet font-large-1 warning"></i>
                                        </div>
                                    </div>
                                </div>                               
                                 <x-chartist
                                     id="Widget-line-chart1"
                                     class="height-150 lineChartWidget WidgetlineChart1 mb-2"
                                      [type]="ApprovedBlogChartType"
                                      [data]="ApprovedBlogChartData"
                                      [options]="ApprovedBlogChartOptions"
                                      [events]="ApprovedBlogChartEvents"
                                    ></x-chartist>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ adminDashboard.unApprovedBlogCount}}
                                              </h4>
                                            <span class="grey darken-1">بلاگ های تایید نشده</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-basket-loaded font-large-1 success"></i>
                                        </div>
                                    </div>
                                </div>
                                <x-chartist
                                     id="Widget-line-chart2"
                                     class="height-150 lineChartWidget WidgetlineChart2 mb-2"
                                      [type]="UnApprovedBlogChartType"
                                      [data]="UnApprovedBlogChartData"
                                      [options]="UnApprovedBlogChartOptions"
                                      [events]="UnApprovedBlogChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
</div>

<div class="row match-height">
                    <div class="col-xl-12">
                      <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">پرکار ترین کاربران </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                  <div class="chart-info mb-2">
                                        <span class="text-uppercase mr-3">
                                          <i class="fa fa-circle primary font-small-2 mr-1"></i> همه ی بلاگ کاربر
                                        </span>
                                        <span class="text-uppercase">
                                          <i class="fa fa-circle warning font-small-2 mr-1"></i> بلاگ تایید شده کاربر
                                        </span>
                                          <span class="text-uppercase">
                                          <i class="fa fa-circle danger font-small-2 mr-1"></i> بلاگ تایید نشده کاربر
                                        </span>
                                  </div>
                                    <x-chartist
                                     id="line-chart"
                                     class="height-300 lineChart lineChartShadow"
                                      [type]="UserBlogsChartType"
                                      [data]="UserBlogsChartData"
                                      [options]="UserBlogsChartOptions"
                                      [events]="UserBlogsChartEvents"
                                    ></x-chartist>
                                </div>
                            </div>
                        </div>
                    </div>
</div>

 <div class="row match-height">
                    <div class="col-xl-4 col-lg-12 col-12">
                         <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-warning">
                                    <h4 class="card-title">خلاصه ی تولید محتوا</h4>
                                </div>
                            </div>
                            <div class="card-body">

                                <p class="font-medium-2 text-muted text-center">تولید محتوا از ابتدا</p>
                               
                                    <x-chartist
                                     id="donut-dashboard-chart"
                                     class="height-250 donut donutShadow"
                                      [type]="BlogSummaryChartType"
                                      [data]="BlogSummaryChartData"
                                      [options]="BlogSummaryChartOptions"
                                      [events]="BlogSummaryChartEvents"
                                    ></x-chartist>
                                <div class="card-block">
                                    <div class="row my-3">
                                       <div class="col">
                                            <span class="mb-1 text-muted d-block">100 % - همه</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-blackberry "
                                                [style.width.%] = "100"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <span class="mb-1 text-muted d-block">{{getPersentBlog(this.adminDashboard.approvedBlogCount)}} % - تایید شده</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-green-tea" 
                                                [style.width.%] = "getPersentBlog(this.adminDashboard.approvedBlogCount)"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                            <span class="mb-1 text-muted d-block">{{getPersentBlog(this.adminDashboard.unApprovedBlogCount)}} % - تایید نشده</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-pomegranate"
                                                [style.width.%] = "getPersentBlog(this.adminDashboard.unApprovedBlogCount)"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8" id="recent-sales">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-primary">
                                    <h4 class="card-title">
                                        بلاگ های اخیر
                                    </h4>
                                </div>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-content mt-1">
                                <div class="table-responsive">
                                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">تصویر</th>
                                                <th class="border-top-0">نام یوزر</th>
                                                <th class="border-top-0">دسته بندی</th>
                                                <th class="border-top-0">تایتل</th>
                                                <th class="border-top-0">تاریخ ایجاد </th>
                                                <th class="border-top-0">وضعیت نمایش</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let blog of adminDashboard.last7Blogs">
                                                <td class="text-truncate"><img class="blog-img" [src]="blog.picAddress" alt=""> </td>
                                                <td class="text-truncate">{{blog.name}} </td>
                                                <td class="text-truncate">{{blog.blogGroupName}} </td>
                                                <td class="text-truncate">{{blog.title}} </td>
                                                <td class="text-truncate">
                                                    ({{ blog.dateModified | date: "HH:mm" }})
                                                    {{ blog.dateModified | persianDate }}
                                                </td>
                                                <td>
                                                    <button
                                                    [ngClass]="blog.status ? 'btn-outline-success' :'btn-outline-danger' "
                                                    class="btn btn-sm round mb-0" type="button">
                                                        {{blog.status.toStatus()}}
                                                    </button
                                                    >
                                                </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
