<nav class="navbar navbar-expand-lg navbar-light bg-faded">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        data-toggle="collapse"
        class="navbar-toggle d-lg-none float-right"
      >
        <span class="sr-only">تغییر ناوبری </span><span class="icon-bar"></span
        ><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <span class="d-lg-none navbar-right navbar-collapse-toggle"
        ><a class="open-navbar-container"><i class="ft-more-vertical"></i></a
      ></span>
      <a
        id="navbar-fullscreen"
        href="javascript:;"
        class="ml-2 display-inline-block apptogglefullscreen"
      >
        <i class="ft-maximize blue-grey darken-4 toggleClass"></i>
        <p class="d-none">تمام صفحه</p>
      </a>
      <!-- <a class="mr-2 display-inline-block">
                <i class="ft-shopping-cart blue-grey darken-4">افزایش موجودی</i>
                <p class="d-none">افزایش موجودی</p>
            </a> -->
      <div class="dropdown mr-2 display-inline-block">
        <a
          id="apps"
          href="#"
          data-toggle="dropdown"
          class="btn-success nav-link position-relative dropdown-toggle"
        >
          <i class="ft-zap blue-grey darken-4"></i>
          <span class="mx-1 blue-grey darken-4 text-bold-400">دسترسی سریع</span>
        </a>
        <div class="apps dropdown-menu">
          <div class="arrow_box" *appHasRole="['Admin']">
            <a
              [routerLink]="['/panel/admin/users/management']"
              class="dropdown-item py-1"
              ><span>مدیریت کاربران</span></a
            >
            <a
              [routerLink]="['/panel/admin/tickets/management']"
              class="dropdown-item py-1"
              ><span>مدیریت تیکت ها</span></a
            >
            <a
              [routerLink]="['/panel/admin/documents/management']"
              class="dropdown-item py-1"
              ><span>مدیریت مدارک</span></a
            >
          </div>
          <div class="arrow_box" *appHasRole="['Admin', 'Accountant']">
            <a
              [routerLink]="['/panel/accountant/factors']"
              class="dropdown-item py-1"
              ><span>مدیریت فاکتور ها</span></a
            >
            <a
              [routerLink]="['/panel/accountant/inventory']"
              class="dropdown-item py-1"
              ><span>مدیریت موجودی</span></a
            >
            <a
              [routerLink]="['/panel/accountant/entryarchive']"
              class="dropdown-item py-1"
              ><span>آرشیو واریزی ها</span></a
            >
          </div>

          <div class="arrow_box" *appHasRole="['Admin', 'AdminBlog', 'Blog']">
            <a
              [routerLink]="['/panel/blog/bloggroup']"
              class="dropdown-item py-1"
              ><span>مدیریت دسته بندی بلاگ</span></a
            >
            <a [routerLink]="['/panel/blog/blog']" class="dropdown-item py-1"
              ><span>مدیریت بلاگ</span></a
            >
          </div>

          <div class="arrow_box" *appHasRole="['User']">
            <a [routerLink]="['/panel/user/wallet']" class="dropdown-item py-1"
              ><span>افزایش موجودی</span></a
            >
            <a [routerLink]="['/panel/user/gate']" class="dropdown-item py-1"
              ><span>درگاه پرداخت</span></a
            >
            <a [routerLink]="['/panel/user/wallet']" class="dropdown-item py-1"
              ><span>کیف پول</span></a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="navbar-container">
      <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li *appHasRole="['Admin', 'User']" class="nav-item mt-1 d-lg-block">
            <a
              style="overflow: visible !important;"
              id="apps"
              href="#"
              data-toggle="dropdown"
              class="btn-danger nav-link position-relative notification-sidebar-toggle"
              (click)="onChatClick()"
            >
              <i class="ft-message-square blue-grey darken-4"></i>
              <span class="mx-1  blue-grey darken-4 text-bold-400 spn-chat"
                >چت انلاین</span
              ><span
              *ngIf="allMessageNotifications() > 0"
              [ngClass]="allMessageNotifications().toBadgeClass()"
              style="right:-20px !important"
              class="notification badge badge-pill"
              >{{ allMessageNotifications() }}</span
            >
            </a>
          </li>
          <li class="dropdown nav-item mt-1">
            <app-notification></app-notification>
          </li>

          <li class="dropdown nav-item mr-0">
            <a
              *ngIf="user$ | async as user"
              id="dropdownBasic3"
              href="#"
              data-toggle="dropdown"
              class="nav-link position-relative dropdown-user-link dropdown-toggle"
            >
              <span class="avatar avatar-online"
                ><img id="navbar-avatar" src="{{ user.photoUrl }}" alt="avatar"
              /></span>
              <span style="padding:0 8px;">{{ user.name }}</span>
              <p class="d-none">تنظیمات کاربر</p>
            </a>
            <div
              aria-labelledby="dropdownBasic3"
              class="dropdown-menu dropdown-menu-left"
            >
              <div class="arrow_box_right">
                <a
                  [routerLink]="['/panel/common/userprofile']"
                  routerLinkActive="router-link-active"
                  class="dropdown-item py-1"
                >
                  <i class="ft-edit ml-2"></i>
                  <span>پروفایل من</span></a
                >
                <a
                  *appHasRole="['User']"
                  [routerLink]="['/panel/user/notification']"
                  routerLinkActive="router-link-active"
                  class="dropdown-item py-1"
                >
                  <i class="ft-twitter ml-2"></i>
                  <span>تنظیمات اطلاع رسانی</span>
                </a>
                <!-- <a href="javascript:;" class="dropdown-item py-1">
                                    <i class="ft-settings ml-2"></i>
                                    <span>تنظیمات</span>
                                </a> -->
                <div class="dropdown-divider"></div>
                <a href="javascript:;" (click)="logout()" class="dropdown-item">
                  <i class="ft-power ml-2"></i><span>خروج</span>
                </a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-chat></app-chat>
</nav>
