  <div class="xs-padding itr_section skew_bg row_5cd59d2044327">
    <div class="container">
      <div class="row">
        <div class="col-md-7 vc_custom_1552694164696">
          <h3 class="itr-heading simple left">
            استانداردهای
            <span style="color: #ef2674">پرداخت آنلاین</span> …
          </h3>
          <div class="container">
            <div class="row vc_custom_1550252895133">
              <div class="col-md-6 vc_custom_1546728345444">
                <div
                  class="itr-icon-box icbx_5cd59d2045105 itr_side_icn icon-left text-left"
                >
                  <div class="box_icon custom">
                    <i class="stline-aircraft-military-plane"></i>
                  </div>
                  <div class="box_content">
                    <h5 class="box_title">
                      ضمانت پرداخت
                    </h5>
                    <p class="box_text">
                      یکی از روش‌های موثر برای کاهش درد پرداخت، تضمین بازگشت وجه
                      به خریدار است. ضمانت پرداخت زرین‌پال در خریدار ایجاد
                      اطمینان می‌کند.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 vc_custom_1546728351507">
                <div
                  class="itr-icon-box icbx_5cd59d204570f itr_side_icn icon-left text-left"
                >
                  <div class="box_icon custom">
                    <i class="stline-layout-dashboard"></i>
                  </div>
                  <div class="box_content">
                    <h5 class="box_title">
                      مسیردهی هوشمند
                    </h5>
                    <p class="box_text">
                      متریک‌های متفاوت زرین‌پال در بازه‌های زمانی مختلف باعث
                      می‌شود کاربران به بهترین درگاه پرداخت با بالاترین میزان
                      موفق بودن تراکنش هدایت می‌شوند.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="vc-zigzag-wrapper vc-zigzag-align-center">
            <div
              class="vc-zigzag-inner"
              style="width: 100%;min-height: 10px;background: 0 repeat-x url(%27data_image/svg%2bxml%3butf-8%2c__xml%20version%3d_1.0_%20encoding%3d_utf/W3C/DTD%20SVG%201.1/EN_%20_http_/www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd___svg%20width%3d_10px_/svg_%27.43.delaye);"
            ></div>
          </div>
          <div class="container">
            <div class="row vc_custom_1550252884668">
              <div class="col-md-6 vc_custom_1546728357179">
                <div
                  class="itr-icon-box icbx_5cd59d2046682 itr_side_icn icon-left text-left"
                >
                  <div class="box_icon custom">
                    <i class="stline-checklist-pen"></i>
                  </div>
                  <div class="box_content">
                    <h5 class="box_title">پشتیبانی</h5>
                    <p class="box_text">
                      همراه طلایی بودن به واسطه‌ی پشتیبانی ۲۴ ساعته و وجود
                      متنوع‌ترین پلاگین‌های پرداخت، می‌توانند معرف خوبی از عبارت
                      زرین‌پال باشند.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 vc_custom_1546728365043">
                <div
                  class="itr-icon-box icbx_5cd59d2046c88 itr_side_icn icon-left text-left"
                >
                  <div class="box_icon custom">
                    <i class="stline-text-format"></i>
                  </div>
                  <div class="box_content">
                    <h5 class="box_title">امنیت</h5>
                    <p class="box_text">
                      در تجارت الکترونیک استقرار امنیت حکم ستون نگه‌دارنده‌ای را
                      دارد که اگر نباشد همه چیز فرو خواهد ریخت. زرین‌پال
                      تکیه‌گاه محکمی است.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 vc_custom_1552694183777">
          <div class="wpb_single_image wpb_content_element vc_align_right">
            <figure class="wpb_wrapper vc_figure">
              <div class="vc_single_image-wrapper   vc_box_border_grey">
                <img
                  width="598"
                  height="646"
                  src="wp-content/uploads/2019/03/ppl6.png"
                  class="vc_single_image-img attachment-full"
                  alt=""
                  srcset="
                    http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6.png         598w,
                    http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6-450x486.png 450w,
                    http://paradigm-shift.ir/munza/wp-content/uploads/2019/03/ppl6-278x300.png 278w
                  "
                  sizes="(max-width: 598px) 100vw, 598px"
                />
              </div>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>