<h2 mat-dialog-title class="mmatdiagtitle">
  مشخصات شخص حقوقی
</h2>

<mat-dialog-content [formGroup]="docLeftForm">
  <mat-form-field class="col-md-12 ml-10">
    <input
      matInput
      formControlName="name"
      placeholder="نام شرکت یا سازمان *"
    />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
    
    <mat-error *ngIf="docLeftForm.get('name').hasError('required')
    && docLeftForm.get('name').touched">این فیلد نمیتواند خالی باشد</mat-error>

    <mat-error *ngIf="(docLeftForm.get('name').hasError('maxlength')
    && docLeftForm.get('name').touched)">این فیلد نمیتواد بیشتر از 100 حرف اشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="nationalCode" placeholder="شناسه ملی *" />
    <mat-error *ngIf="docLeftForm.get('nationalCode').hasError('required')
    && docLeftForm.get('nationalCode').touched">این فیلد نمیتواند خالی باشد</mat-error>

    <mat-error *ngIf="(docLeftForm.get('nationalCode').hasError('maxlength')
    && docLeftForm.get('nationalCode').touched)">این فیلد نمیتواد بیشتر از 100 حرف اشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="fatherNameRegisterCode" placeholder="شماره ثبت *" />
    <mat-error *ngIf="docLeftForm.get('fatherNameRegisterCode').hasError('required')
    && docLeftForm.get('fatherNameRegisterCode').touched">این فیلد نمیتواند خالی باشد</mat-error>

    <mat-error *ngIf="(docLeftForm.get('fatherNameRegisterCode').hasError('maxlength')
    && docLeftForm.get('fatherNameRegisterCode').touched)">این فیلد نمیتواد بیشتر از 100 حرف اشد</mat-error>
  </mat-form-field> 

  <mat-form-field class="col-md-12 ml-10">
    <input matInput [matDatepicker]="picker"
     formControlName="birthDay"placeholder="تاریخ تولد مدیر عامل *" readonly>
     <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
         <mat-datepicker #picker  startView="multi-year"></mat-datepicker>

    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>

</mat-form-field>


  <mat-form-field class="col-md-12 ml-10">
    <input
      matInput
      formControlName="address"
      placeholder="آدرس و کد پستی *"
    />
    <mat-error *ngIf="docLeftForm.get('address').hasError('required')
    && docLeftForm.get('address').touched">این فیلد نمیتواند خالی باشد</mat-error>

    <mat-error *ngIf="(docLeftForm.get('address').hasError('maxlength')
    && docLeftForm.get('address').touched)">این فیلد نمیتواد بیشتر از 100 حرف اشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10 ngxmatfileinput">
      <ngx-mat-file-input
      (change)="onFileSelect($event)"
      formControlName="file"
      accept="image/*"
        placeholder="تصویر کارت ملی مدیرعامل *"
      >
      </ngx-mat-file-input>
      <img [src]="imgUrl" class= "float-left icon-fileupload"/>
      <mat-error>تصویر کارت ملی را انتخاب کنید</mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="float-left">
    <button 
    (click)="onSubmit()"
    mat-raised-button color="green"
    [disabled]="docLeftForm.invalid"
     class="float-left mb-10 mx-1">
      <i class="icon-check"></i>
      <span>ارسال مدارک</span>
    </button>
  <button
    mat-raised-button
    matDialogClose
    color="warn"
    class="float-left mb-10"
  >
    <i class="icon-close"></i>
    انصراف
  </button>

</mat-dialog-actions>
