<div class="main-panel">
    <div class="main-content">
        <div class="content-wrapper">
            <div class="container-fluid">
                <!-- User Profile Starts-->
                <!--Basic User Details Starts-->
                <section id="user-profile">
                    <div class="row">
                        <div class="col-12">
                            <div class="card profile-with-cover">
                                <div class="card-img-top img-fluid bg-cover height-300" style="background: url('img/photos/14.jpg') 50%;"></div>
                                <div class="media profil-cover-details row">
                                    <div class="col-5 mr-auto">
                                        <div class="align-self-start halfway-fab pr-3 pt-2">
                                            <div class="text-left">
                                                <h3 class="card-title white">علی زمانی</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-cover-buttons">
                                    <div class="media-body halfway-fab align-self-end">
                                        <div class="text-right d-none d-sm-none d-md-none d-lg-block">
                                            <button type="button" class="btn btn-primary mr-2"><i class="fa fa-plus"></i> دنبال کردن</button>
                                            <button type="button" class="btn btn-success mr-3"><i class="fa fa-dashcube"></i> پیام</button>
                                        </div>
                                        <div class="text-right d-block d-sm-block d-md-block d-lg-none">
                                            <button type="button" class="btn btn-primary mr-2"><i class="fa fa-plus"></i></button>
                                            <button type="button" class="btn btn-success mr-3"><i class="fa fa-dashcube"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--Basic User Details Ends-->
                <section id="user-area">
                    <div class="row">
                        <div class="col-xl-3 col-lg-12">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-primary">
                                        <div class="card-title">اطلاعات شخصی</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="align-self-center halfway-fab text-center">
                                            <a class="profile-image">
                                                <img src="img/portrait/medium/avatar-m-9.jpg" class="rounded-circle img-border gradient-summer width-100" alt="Card image">
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <span class="font-medium-2 text-uppercase">علی زمانی</span>
                                            <p class="grey font-small-2">توسعه دهنده سریع</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <ul class="no-list-style pr-0 text-center">
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="icon-present font-small-3"></i> روز تولد :</a></span>
                                                        <span class="display-block overflow-hidden">10 مرداد 1350</span>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-globe font-small-3"></i> زندگی می کند در :</a></span>
                                                        <span class="display-block overflow-hidden">شیراز ، ایران</span>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-user font-small-3"></i> جنسیت:</a></span>
                                                        <span class="display-block overflow-hidden">مرد</span>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-mail font-small-3"></i> ایمیل :</a></span>
                                                        <a class="display-block overflow-hidden">fkazemi5236@gmail.com</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <ul class="no-list-style pr-0 text-center">
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-monitor font-small-3"></i> وبسایت :</a></span>
                                                        <a class="display-block overflow-hidden">pixinvent.com</a>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-smartphone font-small-3"></i> شماره تماس :</a></span>
                                                        <span class="display-block overflow-hidden">(012)345-678-99</span>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-briefcase font-small-3"></i>اشتغال:</a></span>
                                                        <span class="display-block overflow-hidden">توسعه دهنده سریع</span>
                                                    </li>
                                                    <li class="mb-2">
                                                        <span class="text-bold-500 primary"><a><i class="ft-book font-small-3"></i> تاریخ عضویت:</a></span>
                                                        <span class="display-block overflow-hidden">1 تیر 1390</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-danger">
                                        <div class="card-title">سرگرمی</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="row">
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-plane danger font-medium-3"></i> <span class="mt-1 display-block">مسافرت</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-speedometer danger font-medium-3"></i> <span class="mt-1 display-block">رانندگی</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-camera danger font-medium-3"></i> <span class="mt-1 display-block">عکاسی</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-game-controller danger font-medium-3"></i> <span class="mt-1 display-block">بازی</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-music-tone-alt danger font-medium-3"></i> <span class="mt-1 display-block">موزیک</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-monitor danger font-medium-3"></i> <span class="mt-1 display-block">موج سواری</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-pie-chart danger font-medium-3"></i> <span class="mt-1 display-block">غذا</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="ft-tv danger font-medium-3"></i> <span class="mt-1 display-block">تلوزیون</span></span>
                                                    <span class="col-6 col-md-4 col-xl-6 mt-2 float-left text-center"> <i class="icon-basket-loaded danger font-medium-3"></i> <span class="mt-1 display-block">خريد كردن</span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card mb-4">
                                <div class="card-header">
                                    <div class="card-title-wrap bar-success">
                                        <div class="card-title">عکس</div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="card-block">
                                        <div class="row">
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/1.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/2.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/3.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/4.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/5.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/6.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/7.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/8.jpg" alt="Image description" />
                                            </figure>
                                            <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                                                <img class="img-thumbnail img-fluid" src="img/gallery/9.jpg" alt="Image description" />
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-12">
                            <!--About div starts-->
                            <div id="about">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title-wrap bar-info">
                                                    <div class="card-title">در باره</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="mb-3">
                                                        <span class="text-bold-500 primary">درباره ی من:</span>
                                                        <span class="display-block overflow-hidden">
                                                                  <p class="textalign">
                                                                      لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم
                                                                      از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و
                                                                      مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                                                                      کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت

                                                                      و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا
                                                                      با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان
                                                                      خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید

                                                                      داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به
                                                                      پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی
                                                                      سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                                                              </p></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-title-wrap bar-warning">
                                                    <div class="card-title">اطلاعات آموزشی</div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-block">
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                            <ul class="no-list-style">
                                                                <li class="mb-2">
                                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> موسسه آریا</a></span>
                                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">1391-1392</span>
                                                                    <span class="line-height-2 display-block overflow-hidden">استاد: رضا رضایی. شش ماه بهترین دوره ابزار توسعه.</span>
                                                                </li>
                                                                <li class="mb-2">
                                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> دانشگاه شریف</a></span>
                                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">1393-1394</span>
                                                                    <span class="line-height-2 display-block overflow-hidden">استاد: محمد محمدی . بهترین اطلاعات آموزشی برای حرفه ای شدن را به من داد.</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                                                            <ul class="no-list-style">
                                                                <li class="mb-2">
                                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> توسعه دهنده سریع</a></span>
                                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">1390-1395</span>
                                                                    <span class="line-height-2 display-block overflow-hidden">توسعه دهنده سریع برای استودیوی خلاقانه بهار</span>
                                                                </li>
                                                                <li class="mb-2">
                                                                    <span class="primary text-bold-500"><a><i class="ft-home font-small-3"></i> ارشد توسعه دهنده سریع</a></span>
                                                                    <span class="grey line-height-0 display-block mb-2 font-small-2">1395 - اکنون</span>
                                                                    <span class="line-height-2 display-block overflow-hidden">توسعه دهنده سریع ارشد برای استودیوی خلاقانه بهار</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--About div ends-->
                            <!--User Timeline div starts-->
                            <div id="timeline">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="card-title-wrap bar-primary">
                                            <div class="card-title">گاهشمار کاربر</div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="card-block">
                                            <div class="timeline">
                                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">مهر 1397</div>
                                                <ul class="list-unstyled base-timeline activity-timeline">

                                                    <li class="">
                                                        <div class="timeline-icon bg-danger">
                                                            <i class="fa fa-tasks"></i>
                                                        </div>
                                                        <div class="act-time">امروز</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-danger">وظیفه اضافه شده است</a>
                                                            <span class="d-block">شما کار # 15 را موفق به پروژه "Convex" اضافه کردید</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  25 دقیقه پیش
                                                              </small>
                                                    </li>
                                                    <li class="">
                                                        <div class="timeline-icon bg-primary">
                                                            <i class="fa fa-handshake-o"></i>
                                                        </div>
                                                        <div class="act-time">دیروز</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-primary">معامله اضافه شده</a>
                                                            <span class="d-block">معامله نهایی با PIXINVENT انجام می شود و به لیست "بعدی معامله" اضافه می شود</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  23 ساعت پیش
                                                              </small>
                                                    </li>
                                                </ul>

                                                <br>

                                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">مهر1397</div>
                                                <ul class="list-unstyled base-timeline activity-timeline">

                                                    <li class="">
                                                        <div class="timeline-icon bg-dark">
                                                            <i class="fa fa-tasks"></i>
                                                        </div>
                                                        <div class="act-time">09 مهر</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-dark">وظیفه اضافه شده است</a>
                                                            <span class="d-block">شما کار # 11 را موفق به پروژه "Convex" اضافه کرده اید</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  15 روز پیش
                                                              </small>
                                                    </li>
                                                    <li class="">
                                                        <div class="timeline-icon bg-warning">
                                                            <i class="fa fa-handshake-o"></i>
                                                        </div>
                                                        <div class="act-time">04 مهر</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-warning">معامله اضافه شده</a>
                                                            <span class="d-block">معامله نهایی با شرکت ABC انجام می شود و به لیست "معاملات آینده" اضافه می شود</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  20 روز پیش
                                                              </small>
                                                    </li>
                                                </ul>

                                                <br>

                                                <div class="timeline-title badge-pill badge-info d-inline-block px-3 py-1 mb-4 mx-5">شهریور 1397</div>
                                                <ul class="list-unstyled base-timeline activity-timeline">

                                                    <li class="">
                                                        <div class="timeline-icon bg-purple">
                                                            <i class="fa fa-tasks"></i>
                                                        </div>
                                                        <div class="act-time">15 شهریور</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-purple">وظیفه اضافه شده است</a>
                                                            <span class="d-block">شما کار # 06 را موفقیت آمیز به پروژه "Convex"اضافه کرده اید</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  1 ماه پیش
                                                              </small>
                                                    </li>
                                                    <li class="">
                                                        <div class="timeline-icon bg-danger">
                                                            <i class="fa fa-calendar-o"></i>
                                                        </div>
                                                        <div class="act-time">06 شهریور</div>
                                                        <div class="base-timeline-info">
                                                            <a href="#" class="text-uppercase text-danger">رویداد ایجاد شده است</a>
                                                            <span class="d-block">معامله نهایی با شرکت ایده پرداز انجام می شود و به لیست "معامله جدید" اضافه می شود</span>
                                                        </div>
                                                        <small class="text-muted">
                                                                  1 ماه پیش
                                                              </small>
                                                    </li>
                                                </ul>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--User Timeline div ends-->
                        </div>
                    </div>
                </section>
                <!--User Profile Starts-->
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light">
        <p class="clearfix text-muted text-center px-2"><span>کپی رایت &copy; 2018 <a href="https://fkazemi5236@gmail.com/" id="pixinventLink" target="_blank" class="text-bold-800 primary darken-2">fkazemi5236</a>,همه حقوق محفوظ است </span></p>
    </footer>

</div>