<div id="itr_blog_content" class="blog-posts lg-image">
  <app-blog-article 
  *ngFor="let item of blogDirData.blogs.result
   | paginate: { 
      id: 'blog-dir-art',
      itemsPerPage: blogDirData.blogs.pagination.itemsPerPage,
      currentPage: getCurrentPage(blogDirData.blogs.pagination.currentPage),
      totalItems: blogDirData.blogs.pagination.totalItems
     }"
   [blog]="item"
   [pagination]="blogDirData.blogs.pagination"
   ></app-blog-article>
  <div
    id="post-2444"
    class="post-item post-2444 post type-post status-publish format-quote hentry category-commerce post_format-post-format-quote"
  >
    <div class="main-bg abs_bg">
      <!-- <i class="stline-close-quote abs_qte"></i> -->
      <div class="post-info">
          <pagination-controls class="mypagination"  id="blog-dir-art"
                      (pageChange)="pageChanged($event)"
                      directionLinks="true"
                      autoHide="true"
                      responsive="true"
                      previousLabel="صفحه قبل"
                      nextLabel="صفحه بعد">
</pagination-controls>
      </div>
    </div>
  </div>
</div>

<!-- <div class="pager centered">

   <ul class="page-numbers">
    <li>
      <span aria-current="page" class="page-numbers current">1</span>
    </li>
    <li>
      <a class="page-numbers" href="page/2/index.html">2</a>
    </li>
    <li>
      <a class="next page-numbers" href="page/2/index.html"
        ><i class="fa fa-angle-right"> </i
      ></a>
    </li>
  </ul>
</div>  -->
