<a
          class="list-group-item bg-blue-grey bg-lighten-5 border-right-primary border-right-2"
        >
          <!-- (click)="SetActive($event, 'chat1')" -->
          <span class="media">
            <div class="media-body">
              <h6 class="list-group-item-heading my-2">
                سارا وزیری
                <span class="float-left info"> بعد از ظهر</span>
              </h6>
              <p class="list-group-item-text text-muted my-2">
                <i class="info font-small-2">#</i> 25698563154
                <span class="float-left info">
                  <a
                    class="btn mr-1 btn-round shadow-z-2 btn-warning lbl-show"
                    >مهم</a
                  >
                  <a
                    class="btn mr-1 btn-round shadow-z-2 btn-secondary lbl-show"
                    >بسته شده</a
                  >
                </span>
              </p>
            </div>
          </span>
        </a>
        <a class="list-group-item no-border">
          <!-- (click)="SetActive($event,'chat2')" -->
          <span class="media">
            <div class="media-body">
              <h6 class="list-group-item-heading">
                احمد زمانی
                <span class="float-left info">قبل از ظهر</span>
              </h6>
              <p class="list-group-item-text text-muted">
                <i class="info font-small-2">#</i> 25698563154
                <span class="float-left info">
                  

                  <a
                    class="btn mr-1 btn-round shadow-z-2 btn-warning lbl-show"
                    >مهم</a
                  >
                  <a class="btn mr-1 btn-round shadow-z-2 btn-info lbl-show"
                    >باز</a
                  >
                </span>
              </p>
            </div>
          </span>
        </a>
