<a
[ngClass]="ticketId === ticket.id ? ' bg-blue-grey bg-lighten-5 border-right-primary border-right-2' : '' "
(click)="onClick(ticket.id)"
class="list-group-item">
  <!-- (click)="SetActive($event, 'chat1')" -->
  <span class="media">
    <div class="media-body">
      <h6 class="list-group-item-heading my-2">
      {{ticket.title}}
        <span class="float-left info"> {{ticket.dateModified | persianTimeAgo}}</span>
      </h6>
      <p class="list-group-item-text text-muted my-2">
        <i class="info font-small-2">#</i> {{ticket.id}}
        <span class="float-left info">
          <a *ngIf="ticket.level === 1" class="btn mr-1 btn-round shadow-z-2 btn-success lbl-show">عادی</a>
          <a *ngIf="ticket.level === 2" class="btn mr-1 btn-round shadow-z-2 btn-warning lbl-show">مهم</a>
          <a *ngIf="ticket.level === 3" class="btn mr-1 btn-round shadow-z-2 btn-danger lbl-show">خیلی مهم</a>
          <a *ngIf="ticket.closed" class="btn mr-1 btn-round shadow-z-2 btn-secondary lbl-show">بسته شده</a>
          <a *ngIf="!ticket.closed" class="btn mr-1 btn-round shadow-z-2 btn-info lbl-show">باز</a>
        </span>
      </p>
    </div>
  </span>
</a>
