<div class="container-login100 page-background">
    <div class="wrap-login100">
        <form [formGroup]="registerForm" (ngSubmit)="register()" class="login100-form validate-form">
            <span class="login100-form-logo">
                <img alt="" src="../../../../../assets/img/white.png">
            </span>
            <span class="login100-form-title p-b-34 p-t-27">
                ثبت نام
            </span>
            <div class="row">
                <div class="col-lg-12 p-t-20">
                    <div class="wrap-input100 validate-input" data-validate="نام  را وارد کنید">
                        <input formControlName="name" class="input100" type="text" placeholder="نام کاربری">
                        <i class="fa fa-user focus-input1001"></i>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="wrap-input100 validate-input" data-validate="نام کاربری را وارد کنید">
                        <input formControlName="username"  class="input100" type="text" placeholder="ایمیل">
                        <i class="fa fa-envelope-o focus-input1001"></i>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="wrap-input100 validate-input" data-validate="رمز عبور را وارد کنید">
                        <input formControlName="password"  class="input100" type="password" placeholder="رمز عبور">
                        <i class="fa fa-lock focus-input1001"></i>
                    </div>
                </div>
                <div class="col-lg-12 p-t-20">
                    <div class="wrap-input100 validate-input" data-validate="دوباره رمز عبور را وارد کنید">
                        <input formControlName="confirmPassword"  class="input100" type="password" name="pass2" placeholder="تکرار رمز عبور">
                        <i class="fa fa-lock focus-input1001"></i>
                    </div>
                </div>
            </div>
            <div class="contact100-form-checkbox">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value=""> موافقم <a> شرایط و ضوابط</a>
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="container-login100-form-btn">
                <button class="login100-form-btn">
                    ثبت نام
                </button>
            </div>
            <div class="text-center p-t-50">
                <a class="txt1"  [routerLink]="['/auth/login']">
                    آیا عضو هستید ؟
                </a>
            </div>
        </form>
    </div>
</div>

<p>val : {{ registerForm.value | json }}</p>
<p>val : {{registerForm.status | json}}</p>