<div class="xs-padding itr_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="col-md-12">
          <div
            class="itr-icon-box icbx_5cd59d4cb4ab5 itr_block_icn icon-center text-center"
          >
            <div class="box_icon custom"><i class="stline-maps-pin"></i></div>
            <div class="box_content">
              <h4 class="box_title">دفتر مرکزی اصلی</h4>
              <h6 class="box_subtitle">۱۲۳ نام خیابان، تهران</h6>
              <p class="box_text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                <strong>email@example.com </strong><strong>+۰۱۲۳۴۵۶۷۸۹۰</strong>
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-12">
          <div
            class="itr-icon-box icbx_5cd59d4cb521a itr_block_icn icon-center text-center"
          >
            <div class="box_icon custom"><i class="stline-maps-pin-1"></i></div>
            <div class="box_content">
              <h4 class="box_title">دفتر توسعه</h4>
              <h6 class="box_subtitle">۱۲۳ نام خیابان، تهران</h6>
              <p class="box_text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                <strong>email@example.com </strong><strong>+۰۱۲۳۴۵۶۷۸۹۰</strong>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div
            class="itr-icon-box icbx_5cd59d4cb5976 itr_block_icn icon-center text-center"
          >
            <div class="box_icon custom"><i class="stline-trip-road"></i></div>
            <div class="box_content">
              <h4 class="box_title">دفتر مجازی</h4>
              <h6 class="box_subtitle">۱۲۳ نام خیابان، تهران</h6>
              <p class="box_text">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.
                <strong>email@example.com</strong> <strong>+۰۱۲۳۴۵۶۷۸۹۰</strong>
              </p>
            </div>
          </div>
        </div> -->
      </div>

      <div class="col-md-8 vc_custom_1551095181178">
        <h3 class="itr-heading main head_5cd59d4cb9323 left">
          در ارتباط باشید
        </h3>
        <div
          role="form"
          class="wpcf7"
          id="wpcf7-f8498-p6984-o1"
          lang="en-US"
          dir="ltr"
        >
          <div class="screen-reader-response"></div>
          <form
            action="http://paradigm-shift.ir/munza/contact-1/#wpcf7-f8498-p6984-o1"
            method="post"
            class="wpcf7-form"
            novalidate="novalidate"
          >
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="8498" />
              <input type="hidden" name="_wpcf7_version" value="5.1.1" />
              <input type="hidden" name="_wpcf7_locale" value="en_US" />
              <input
                type="hidden"
                name="_wpcf7_unit_tag"
                value="wpcf7-f8498-p6984-o1"
              />
              <input type="hidden" name="_wpcf7_container_post" value="6984" />
              <input type="hidden" name="g-recaptcha-response" value="" />
            </div>
            <div class="itr-border-form">
              <div class="form-group">
                <input
                  type="text"
                  name="your-name"
                  value=""
                  size="40"
                  class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control wpcf7_balloon"
                  aria-required="true"
                  aria-invalid="false"
                  placeholder="نام شما"
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  name="your-email"
                  value=""
                  size="40"
                  class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control wpcf7_balloon"
                  aria-required="true"
                  aria-invalid="false"
                  placeholder="ایمیل شما"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  name="your-subject"
                  value=""
                  size="40"
                  class="wpcf7-form-control wpcf7-text form-control wpcf7_balloon"
                  aria-invalid="false"
                  placeholder="موضوع"
                />
              </div>
              <div class="form-group">
                <textarea
                  name="your-message"
                  cols="40"
                  rows="8"
                  class="wpcf7-form-control wpcf7-textarea form-control wpcf7_balloon"
                  aria-invalid="false"
                  placeholder="ارسال یک پیام ..."
                ></textarea>
              </div>
              <div class="form-buttons">
                <input
                  type="submit"
                  value="ارسال پیام"
                  class="wpcf7-form-control wpcf7-submit btn btn-hover-shad btn-md rounded main-bg"
                />
              </div>
            </div>
            <div class="wpcf7-response-output wpcf7-display-none"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
