<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- User Profile Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/dashboard']">داشبورد</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/user/userinfo/profile']">پروفایل کاربری</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              مشاهده و ویرایش اطلاعات
            </li>
          </ol>
        </nav>
        <!--Basic User Details Starts-->
        <section id="user-area">
          <div class="row">
            <div class="col-xl-3 col-lg-12">
              <div class="card mb-4">
                <div class="card-header">
                  <div class="card-title-wrap bar-primary">
                    <div class="card-title">اطلاعات شخصی</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="card-block">
                    <div class="align-self-center halfway-fab text-center">
                      <a class="profile-image">
                        <img
                          src="{{photoUrl}}"
                          class="rounded-circle img-border gradient-summer width-200"
                          alt="Card image"
                        />
                      </a>
                    </div>
                    <div class="text-center">
                      <span class="font-medium-2 text-uppercase"
                        >{{user.name}}</span
                      >
                      <p class="grey font-small-2">ادمین سایت</p>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-12">
                        <ul class="no-list-style pr-0 text-center">
                          <li class="mb-2">
                            <span class="text-bold-500 primary"
                              ><a
                                ><i class="icon-present font-small-3"></i> آخرین ورود :</a
                              ></span
                            >
                            <span class="display-block overflow-hidden"
                              >{{user.lastActive | persianTimeAgo}}</span
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-12">
              <!--About div starts-->
              <div id="about">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-title-wrap bar-info">
                          <h4 class="card-title">ویرایش پروفایل کاربری</h4>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="card-block">
                          <ul class="nav nav-tabs nav-justified">
                            <li class="nav-item">
                              <a
                                class="nav-link active show"
                                id="active-tab"
                                data-toggle="tab"
                                href="#active"
                                aria-controls="active"
                                aria-expanded="true"
                                >عکس پروفایل</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                id="link-tab"
                                data-toggle="tab"
                                href="#link"
                                aria-controls="link"
                                aria-expanded="false"
                                >مشخصات کاربری</a
                              >
                            </li>
                            <li class="nav-item">
                              <a
                                class="nav-link"
                                id="click-tab"
                                data-toggle="tab"
                                href="#click"
                                aria-controls="click"
                                aria-expanded="false"
                                >بازیابی پسورد</a
                              >
                            </li>
                            <!-- <li class="nav-item">
                              <a
                                class="nav-link"
                                id="click-tab"
                                data-toggle="tab"
                                href="#bankkart"
                                aria-controls="click"
                                aria-expanded="false"
                                >کارت بانکی</a
                              >
                            </li> -->
                          </ul>
                          <div class="tab-content px-1 pt-1">
                            <div
                              role="tabpanel"
                              class="tab-pane active show"
                              id="active"
                              aria-labelledby="active-tab"
                              aria-expanded="true"
                            >
                            <!-- (getUserPhotoUrl)="updateUserPhotoUrl($event)" -->
                            <app-user-change-pic ></app-user-change-pic>
                            </div>
                            <div
                              class="tab-pane"
                              id="link"
                              role="tabpanel"
                              aria-labelledby="link-tab"
                              aria-expanded="false"
                            >
                            
                            <div class="card-header">
                              <div class="card-title-wrap bar-success">
                                <h4 class="card-title" id="basic-layout-form">
                                  ویرایش اطلاعات
                                </h4>
                              </div>
                              <p class="mb-0">
                                در این بخش میتوانید اطلاعات پروفایل خودرا
                                ویرایش کنید.
                              </p>
                            </div>
                            <div class="alert alert-warning" *ngIf="editForm.dirty">
                              <strong>هشدار! </strong>                              
                              شما تغییری در اطلاعات وارد کرده اید لطفا تغییرات را   <a class="btn-flat btn-primary" (click)="goToSaveBtn()">ذخیره</a> کنید.
                          </div>
                            <div class="card-body">
                              <div class="px-3">
                                <form [formGroup]="editForm" (ngSubmit)="updateUserInfo()" class="form">
                                  <div class="form-body">
                                    <h4 class="form-section">
                                      <i class="icon-user"></i> اطلاعات شخصی
                                    </h4>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group"
                                        [ngClass]="{'error': editForm.get('name').errors
                                        && editForm.get('name').touched}">
                                          <label for="projectinput1"
                                            >نام</label
                                          >
                                          <div class="controls">
                                            <input type="text" class="form-control" formControlName="name" aria-invalid="true">
                                        <div class="help-block">
                                          <ul role="alert">
                                            <li *ngIf="editForm.get('name').hasError('required')
                                            && editForm.get('name').touched">این فیلد نمیتواند خالی باشد</li>
                                            <li *ngIf="editForm.get('name').hasError('minlength')
                                            && editForm.get('name').touched">نام شما باید بیشتر از دو حرف باشد</li>
                                            <li *ngIf="editForm.get('name').hasError('maxlength')
                                            && editForm.get('name').touched">نام شما باید کمتر از 100 حرف باشد</li>
                                          </ul>
                                        </div></div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div class="form-group"
                                        [ngClass]="{'error': editForm.get('phoneNumber').errors
                                        && editForm.get('phoneNumber').touched}">
                                          <label for="projectinput2"
                                            >شماره موبایل</label
                                          >
                                          <div class="controls">
                                            <input type="text" name="noChar" class="form-control" formControlName="phoneNumber" aria-invalid="true">
                                        <div class="help-block"><ul role="alert">
                                            <li *ngIf="editForm.get('phoneNumber').errors
                                            && editForm.get('phoneNumber').touched">این فیلد نمیتواند خالی باشد</li>
                                          </ul></div></div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-6">
                                        <div class="form-group">
                                          <label for="projectinput5"
                                            >جنسیت</label
                                          >
                                          <select
                                            class="form-control"
                                            formControlName="gender"
                                          >
                                            <option value="true"
                                              >مرد</option
                                            >
                                            <option value="fasle"
                                              >زن</option
                                            >
                                          </select>
                                        </div>
                                      </div>
                                    </div>

                                    <h4 class="form-section">
                                      <i class="icon-book-open"></i>محل سکونت
                                    </h4>

                                    <div class="form-group">
                                      <label for="companyName">شهر</label>
                                      <div class="controls">
                                        <div class="controls">
                                          <input type="text" name="noChar" class="form-control" formControlName="city" aria-invalid="true">
                                      </div>
                                      </div>
                                     
                                    </div>
                                    

                                    <div class="form-group">
                                      <label for="projectinput8">آدرس</label>
                                      <textarea
                                        rows="5"
                                        class="form-control"
                                        formControlName="address"
                                      ></textarea>
                                    </div>
                                  </div>

                                  <div class="form-actions" id="btnsave">
                                    <!-- <button type="button" class="btn btn-danger mr-1">
                <i class="icon-trash"></i> لغو
              </button> -->
                                    <button
                                      type="submit" [disabled]="!editForm.dirty || !editForm.valid" 
                                      class="btn btn-success"
                                    >
                                      <i class="icon-note"></i> تغییر اطلاعات کاربری
                                    </button>
                                  </div>
                                </form>
                              </div>
                            </div>
                            </div>
                            <div
                              class="tab-pane"
                              id="click"
                              role="tabpanel"
                              aria-labelledby="click-tab"
                              aria-expanded="false"
                            >
                            <app-user-change-pass></app-user-change-pass>
                            </div>
                          <!--   <div
                              class="tab-pane"
                              id="bankkart"
                              role="tabpanel"
                              aria-labelledby="linkOpt-tab"
                              aria-expanded="false"
                            >
                              <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                  <h4 class="card-title" id="basic-layout-form">
                                    کارت بانکی
                                  </h4>
                                </div>
                                <div class="alert alert-info">
                                    <strong>اطلاع! </strong>  الزاما باید حساب بانکی شخصی که مدارک ایشان
                                    ارسال شده ثبت شود.
                                </div>
                                <div class="alert alert-warning">
                                    <strong>هشدار! </strong> هیچگونه مسئولیتی در قبال واریز وجه به حساب
                                    افراد ثالث را نمی‌پذیرد.
                                </div>
                             
                              </div>
                              <div class="card-body">
                                <div class="px-3">
                                  <form class="form">
                                    <div class="form-body">
                                      <h4 class="form-section">
                                        <i class="icon-user"></i> مشخصات کارت
                                      </h4>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="projectinput1"
                                              >نام بانک</label
                                            >
                                            <input
                                              type="text"
                                              id="projectinput1"
                                              class="form-control"
                                              name="fname"
                                            />
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                              <label for="projectinput1"
                                                >نام صاحب کارت</label
                                              > 
                                              <input
                                                type="text"
                                                id="projectinput1"
                                                class="form-control"
                                                name="fname"
                                              />
                                            </div>
                                          </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group">
                                            <label for="projectinput1"
                                              >شماره شبا</label
                                            >
                                            <input
                                              type="text"
                                              id="projectinput1"
                                              class="form-control"
                                              name="fname"
                                            />
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="projectinput2"
                                              >شماره کارت</label
                                            >
                                            <input
                                              type="text"
                                              id="projectinput2"
                                              class="form-control"
                                              name="lname"
                                            />
                                          </div>
                                        </div>
                                      </div>
                                    </div>

                                    <div class="form-actions">
                                       <button type="button" class="btn btn-danger mr-1">
									<i class="icon-trash"></i> لغو
								</button> 
                                      <button
                                        type="button"
                                        class="btn btn-success"
                                      >
                                        <i class="icon-note"></i> ذخیره
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--About div ends-->
              <!--User Timeline div starts-->

              <!--User Timeline div ends-->
            </div>
          </div>
        </section>
        <!--User Profile Starts-->
      </div>
    </div>
  </div>
</div>
