
      <h2 mat-dialog-title class="mmatdiagtitle">افزودن و ویرایش کارت بانکی</h2>

      <mat-dialog-content [formGroup]="bankCardService.bankcardForm">
              <mat-form-field class="col-md-8">
                <mat-label>نام بانک *</mat-label>
                <mat-select formControlName="bankName">
                  <mat-option value="bsi">بانک صادرات</mat-option>
                  <mat-option value="mellat">بانک ملت</mat-option>
                  <mat-option value="tejarat">بانک تجارت</mat-option>
                  <mat-option value="bmi">بانک ملی ایران</mat-option>
                  <mat-option value="sepah">بانک سپه</mat-option>
                  <mat-option value="bki">بانک کشاورزی</mat-option>
                  <mat-option value="parsian">بانک پارسیان</mat-option>
                  <mat-option value="maskan">بانک مسکن</mat-option>
                  <mat-option value="rb">بانک رفاه کارگران</mat-option>
                  <mat-option value="en">بانک اقتصاد نوین</mat-option>
                  <mat-option value="post">بانک پست بانک</mat-option>
                  <mat-option value="sina">بانک سینا</mat-option>
                  <mat-option value="bpi">بانک سامان</mat-option>
                  <mat-option value="bpi">بانک پاسارگاد</mat-option>
                  <mat-option value="ansar">بانک انصار</mat-option>
                  <mat-option value="sarmayeh">بانک سرمایه</mat-option>
                  <mat-option value="ba">بانک آینده</mat-option>
                  <mat-option value="shahr">بانک شهر</mat-option>
                  <mat-option value="tt">بانک توسعه تعاون</mat-option>
                  <mat-option value="ghbi">بانک قوامین</mat-option>
                  <mat-option value="tourism">بانک گردشگری</mat-option>
                  <mat-option value="kar">بانک کارآفرین</mat-option>
                  <mat-option value="iz">بانک ایران زمین</mat-option>
                  <mat-option value="hi">بانک حکمت ایرانیان</mat-option>
                  <mat-option value="day">بانک دی</mat-option>
                  <mat-option value="ivbb">بانک صنعت و معدن</mat-option>
                  <mat-option value="me">بانک توسعه صادرات</mat-option>
                  <mat-option value="edbi">بانک خاورمیانه</mat-option>
                  <mat-option value="bim">بانک ایران و ونزولا</mat-option>
                </mat-select>
                <mat-error *ngIf="bankCardService.bankcardForm.get('bankName').hasError('required')
                && bankCardService.bankcardForm.get('bankName').touched">بانک کارت خودرا انتخاب کنید</mat-error>
              </mat-form-field>
             
              <mat-form-field class="col-md-6 ml-10">
                <input matInput formControlName="ownerName" placeholder="نام صاحب حساب *" />
                <mat-error *ngIf="bankCardService.bankcardForm.get('ownerName').hasError('required')
                && bankCardService.bankcardForm.get('ownerName').touched">این فیلد نمیتواند خالی باشد</mat-error>

                <mat-error *ngIf="bankCardService.bankcardForm.get('ownerName').hasError('maxlength')
                && bankCardService.bankcardForm.get('ownerName').touched">
                این فیلد نمیتواند بیشتر از 100 کاراکتر باشد</mat-error>
              </mat-form-field>
              <mat-form-field class="col-md-6">
                  <input matInput formControlName="hesabNumber" placeholder="شماره حساب"/>
                </mat-form-field>
                <mat-form-field class="col-md-6 ml-10">
                    <input matInput formControlName="cardNumber" placeholder="شماره کارت *"  />
                    <mat-error *ngIf="bankCardService.bankcardForm.get('cardNumber').hasError('required')
                    && bankCardService.bankcardForm.get('cardNumber').touched">این فیلد نمیتواند خالی باشد</mat-error>
  
                    <mat-error *ngIf="bankCardService.bankcardForm.get('cardNumber').hasError('maxlength')
                    && bankCardService.bankcardForm.get('cardNumber').touched">
                    این فیلد نمیتواند بیشتر از 20 کاراکتر باشد</mat-error>
                  </mat-form-field>
              <mat-form-field class="col-md-6">
                <span matPrefix>IR &nbsp;</span>
                <input type="tel" matInput formControlName="shaba" placeholder="شماره شبا" />
              </mat-form-field>            
              <p class="col-md-12">
                <mat-form-field class="ml-10">
                  <input matInput formControlName="expireDateYear" placeholder="تاریخ انقضا / سال *"/>
                  <mat-error *ngIf="bankCardService.bankcardForm.get('expireDateYear').hasError('required')
                  && bankCardService.bankcardForm.get('expireDateYear').touched">این فیلد نمیتواند خالی باشد</mat-error>

                  <mat-error *ngIf="(bankCardService.bankcardForm.get('expireDateYear').hasError('maxlength')
                  && bankCardService.bankcardForm.get('expireDateYear').touched) ||
                   (bankCardService.bankcardForm.get('expireDateYear').hasError('minlength')
                  && bankCardService.bankcardForm.get('expireDateYear').touched)">این فیلد باید 4 رقمی باشد</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="expireDateMonth" placeholder="تاریخ انقضا / ماه *"/>
                    <mat-error *ngIf="bankCardService.bankcardForm.get('expireDateMonth').hasError('required')
                    && bankCardService.bankcardForm.get('expireDateMonth').touched">این فیلد نمیتواند خالی باشد</mat-error>

                    <mat-error *ngIf="(bankCardService.bankcardForm.get('expireDateMonth').hasError('maxlength')
                    && bankCardService.bankcardForm.get('expireDateMonth').touched) ||
                     (bankCardService.bankcardForm.get('expireDateMonth').hasError('minlength')
                    && bankCardService.bankcardForm.get('expireDateMonth').touched)">این فیلد باید 2 رقمی باشد</mat-error>
                </mat-form-field>
              </p>
       
      </mat-dialog-content>
      
      <mat-dialog-actions class="float-left">
          <button mat-raised-button matDialogClose
           color="warn" class="float-left mb-10">
              <i class="icon-close"></i>
              انصراف
            </button>
          <button mat-raised-button [disabled]="bankCardService.bankcardForm.invalid"
          color="green" class="float-left mb-10">
              <i class="icon-check"></i>
              ذخیره کارت بانکی
            </button>
      </mat-dialog-actions> 
