<!-- User Profile Starts-->
<ng-container *ngIf="userInfo$ | async as userInfo">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a [routerLink]="['/panel/dashboard']">داشبورد</a>
      </li>
      <li class="breadcrumb-item">
        <a [routerLink]="['/panel/accountant/inventory']">مدیریت موجودی </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        کیف پول های {{ userInfo.title }}
      </li>
    </ol>
  </nav>
  <!--Basic User Details Starts-->
  <section id="user-area">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title-wrap bar-success">
              <h4 class="card-title">کیف پول های کاربر {{ userInfo.title }}</h4>
            </div>
            <p>
              تمام کیف پول های در این صفحه نمایش داده می‌شوند
            </p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-12">
                <div class="search-div">
                  <button
                    *appHasRole="['Admin', 'Accountant']"
                    mat-raised-button
                    [routerLink]="['/panel/accountant/inventory']"
                    color="red"
                    class="float-left mb-10"
                  >
                    <i class="ft-chevrons-right"></i>
                    بازگشت به مدیریت موجودی
                  </button>
                  <mat-form-field class="search-form-field" floatLabel="never">
                    <input
                      matInput
                      type="text"
                      placeholder="جستوجو ..."
                      [(ngModel)]="searchKey"
                      (keyup)="applyFilter()"
                    />
                    <button
                      mat-button
                      *ngIf="searchKey"
                      matSuffix
                      mat-icon-button
                      aria-label="Clear"
                      (click)="onSearchClear()"
                    >
                      <i class="ft-x"></i>
                    </button>
                  </mat-form-field>
                </div>

                <mat-table
                  [dataSource]="wallets"
                  matSort
                  class="mat-elevation-z8"
                >
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      شناسه
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                      <mat-form-field class="col-md-12">
                        <button
                          mat-button
                          matSuffix
                          mat-icon-button
                          class="btncomy-green"
                          [ngxClipboard]="userId"
                          (cbOnSuccess)="copied()"
                        >
                          <i class="ft-copy col-fontsize-10"></i>
                        </button>
                        <input
                          #userId
                          matInput
                          value="{{ wallet.id }}"
                          class="col-fontsize-10"
                        />
                      </mat-form-field>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      نام
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                      {{ wallet.name }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="isBlock">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      بلاک
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                      <mat-checkbox
                        [checked]="wallet.isBlock"
                        (change)="onBlockChange($event, wallet.id)"
                      ></mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="isMain">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      اصلی
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                      <mat-checkbox
                        [checked]="wallet.isMain"
                        [disabled]="true"
                      ></mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="isSms">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      اس ام اس
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                      <mat-checkbox
                        [checked]="wallet.isSms"
                        [disabled]="true"
                      ></mat-checkbox>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="inventory">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      موجودی <span class="monytoman">تومان</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet" class="txt-price-blue">
                      {{ (wallet.inventory | irc).replace("ریال", "") }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="interMoney">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      درامد <span class="monytoman">تومان</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet" class="txt-price-green">
                      {{ (wallet.interMoney | irc).replace("ریال", "") }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="exitMoney">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      برداشتی <span class="monytoman">تومان</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet" class="txt-price-red">
                      {{ (wallet.exitMoney | irc).replace("ریال", "") }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="onExitMoney">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>
                      در حال برداشت <span class="monytoman">تومان</span>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet" class="txt-price-org">
                      {{ (wallet.onExitMoney | irc).replace("ریال", "") }}
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef>
                      عملیات
                    </mat-header-cell>
                    <mat-cell *matCellDef="let wallet">
                       <button
                          *appHasRole="['Admin', 'Accountant']"
                          mat-raised-button
                           (click)="onWalletFactorsClick(wallet)"
                          color="green"
                        >
                          <i class="icon-bag"></i>
                        فاکتور ها
                        </button>
                        <button
                          *appHasRole="['Admin', 'Accountant']"
                          mat-raised-button
                          (click)="onWalletClick(wallet)"
                          color="red"
                          class="mt-0"
                        >
                          <i class="ft-external-link"></i>
                          واریزی ها
                        </button>
                    </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="loading">
                    <mat-footer-cell *matFooterCellDef>
                      در حال بارگزاری ...
                    </mat-footer-cell>
                  </ng-container>

                  <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef>
                      چیزی برای نمایش وجود ندارد
                    </mat-footer-cell>
                  </ng-container>

                  <mat-header-row
                    *matHeaderRowDef="displayedColumns"
                  ></mat-header-row>
                  <mat-row
                    *matRowDef="let row; columns: displayedColumns"
                  ></mat-row>

                  <mat-footer-row
                    *matFooterRowDef="['loading']"
                    [ngClass]="{ hide: loadingHideFlag }"
                  ></mat-footer-row>

                  <mat-footer-row
                    *matFooterRowDef="['noData']"
                    [ngClass]="{ hide: noContentHideFlag }"
                  ></mat-footer-row>
                </mat-table>
                <mat-paginator
                  [pageSize]="5"
                  [pageSizeOptions]="[5, 10, 25, 100]"
                  showFirstLastButtons
                >
                </mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--User Profile Starts-->
</ng-container>
