table {
  width: 100%;
}

.delete-icon {
  font-size: 25px;
  color: red;
}

.edit-icon {
  font-size: 25px;
  color: #111;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
}

.mat-red {
  background: #e24a4a;
  color: #fff;
  float: right !important;
  margin-top: 15px;
}
.mat-green {
  background: #09a84c;
  color: #fff;
   margin: 0 auto;
  float: none;

}
.search-form-field {
  width: 60%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.mat-column-id {
  flex: 0 0 180px;
}
.mat-column-actions {
  flex: 0 0 200px;
}

.col-fontsize-10 {
  font-size: 10px;
  font-weight: 900;
}

.monytoman {
  font-size: 7px;
  color: #ff4081;
  padding: 0px 2px;
  border-radius: 25px;
  line-height: 2;
  margin-right: 2px;
}

.btn-action {
  min-width: 20px;
}

.btn-action i {
  font-size: 20px;
}

.btncomy-green {
  color: #0092ff;
}

.txt-price-blue {
  font-weight: 900;
  color: rgb(0, 68, 255);
  border-bottom: 2px solid rgb(0, 68, 255);
}

.txt-price-green {
  font-weight: 900;
  color: green(0, 255, 34);
  border-bottom: 2px solid rgb(2, 119, 2);
}

.txt-price-red {
  font-weight: 900;
  color: rgb(255, 0, 64);
  border-bottom: 2px solid rgb(255, 0, 64);
}

.txt-price-org {
  font-weight: 900;
  color: rgb(255, 187, 0);
  border-bottom: 2px solid rgb(255, 187, 0);
}
