<mat-table [dataSource]="easyPays" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> نام </mat-header-cell>
    <mat-cell *matCellDef="let easyPay"> {{ easyPay.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef> مبلغ </mat-header-cell>
    <mat-cell *matCellDef="let easyPay"> {{ easyPay.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="connect">
    <mat-header-cell *matHeaderCellDef> متصل به </mat-header-cell>
    <mat-cell *matCellDef="let easyPay"> {{ easyPay.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> ویرایش/حذف </mat-header-cell>
    <mat-cell *matCellDef="let easyPay">
      <button mat-button><i class="ft-edit edit-icon"></i></button>
      <button mat-button><i class="ft-trash-2 delete-icon"></i></button>
    </mat-cell>
  </ng-container>

    <ng-container matColumnDef="loading">
    <mat-footer-cell *matFooterCellDef>
      در حال بارگزاری ...
    </mat-footer-cell>
  </ng-container>

  <ng-container matColumnDef="noData">
    <mat-footer-cell *matFooterCellDef>
     چیزی برای نمایش وجود ندارد
    </mat-footer-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <mat-footer-row  *matFooterRowDef="['loading']" 
   [ngClass]="{'hide': easyPays != null}"></mat-footer-row>

  <mat-footer-row  *matFooterRowDef="['noData']" 
   [ngClass]="{'hide': easyPays != null && easyPays.length > 0}"></mat-footer-row>
</mat-table>
