<!-- User Profile Starts-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/accountant/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a>حسابدار </a>
    </li>
    <li class="breadcrumb-item">
      <a>کارت های بانکی </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" *ngIf="bankcardInfo$ | async as bankcardInfo">
      واریزی های کارت بانکی {{bankcardInfo.title}}
    </li>
  </ol>
</nav>
<!--Basic User Details Starts-->
<section id="user-area" *ngIf="bankcardInfo$ | async as bankcardInfo">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title"> واریزی های کارت بانکی {{bankcardInfo.title}}</h4>
          </div>
          <p>
            تمام واریزی های کارت بانکی  {{bankcardInfo.title}} در این صفحه نمایش داده می‌شوند
          </p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="search-div">
                 <button
                  mat-raised-button
                  (click)="onBack()"
                  color="red"
                  class="float-left mb-10"
                >
                  <i class="ft-chevrons-right"></i>
                 بازگشت به کارت های بانکی / مدیریت موجودی
                </button>
                <mat-form-field class="search-form-field" floatLabel="never">
                  <input
                   #searchKey
                    matInput
                    type="text"
                    placeholder="جستوجو ..."
                  />
                  <button
                    mat-button
                    *ngIf="filterSortOrderBy.searchKey"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="onSearchClear()"
                  >
                    <i class="ft-x"></i>
                  </button>
                </mat-form-field>
              </div>
              <smc-simplemattable class="mysimplemattable" 
              [data]="bankcardEntries" [columns]="columns"
              [paginator]="true" [backendPagination]="true"
              [paginatorLength]="pagination.totalItems"
              [paginatorPageSize]="pagination.itemsPerPage"
              [paginatorPageSizeOptions]="[5, 10, 25, 50]"
              [sorting]="true"
              [getPage]="onPageChange.bind(this)"
              (sort) = 'sortEvent($event)'
              ></smc-simplemattable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--User Profile Starts-->
