<!-- User Profile Starts-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/accountant/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a>حسابدار </a>
    </li>
    <li class="breadcrumb-item">
      <a>مدیریت واریزی </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      جزییات،ویرایش واریزی
    </li>
  </ol>
</nav>
<!--Basic User Details Starts-->
<section id="kb">
  <div class="card bg-gray white text-center p-4">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <div *ngIf="entry.isApprove" class="alert alert-info">
            <strong>تایید شده</strong>
            برای تغییر وضعیت تاییدی به این
            <code class="a-pointer" (click)="onStateChange(entry)">لینک</code>
            مربوطه مراجعه کنید
          </div>
          <div *ngIf="!entry.isApprove" class="alert alert-secondary">
            <strong>تایید نشده</strong>
            برای تغییر وضعیت تاییدی به این
            <code class="a-pointer" (click)="onStateChange(entry)">لینک</code>
            مربوطه مراجعه کنید
          </div>
          <div *ngIf="entry.isPardakht" class="alert alert-success">
            <strong>پرداخت شده</strong>
            برای تغییر وضعیت پرداختی به این
            <code class="a-pointer" (click)="onStateChange(entry)">لینک</code>
            مربوطه مراجعه کنید
          </div>
          <div *ngIf="!entry.isPardakht" class="alert alert-secondary">
            <strong>پرداخت نشده</strong>
            برای تغییر وضعیت پرداختی به این
            <code class="a-pointer" (click)="onStateChange(entry)">لینک</code>
            مربوطه مراجعه کنید
          </div>
          <div *ngIf="entry.isReject" class="alert alert-danger">
            <strong>رد شده</strong>
            برای تغییر وضعیت ردی به این
            <code class="a-pointer white" (click)="onStateChange(entry)"
              >لینک</code
            >
            مربوطه مراجعه کنید
          </div>
          <div *ngIf="!entry.isReject" class="alert alert-secondary">
            <strong>رد نشده</strong>
            برای تغییر وضعیت ردی به این
            <code class="a-pointer" (click)="onStateChange(entry)">لینک</code>
            مربوطه مراجعه کنید
          </div>
        </div>
        <div class="col-6">
          <h1 class="white">جزییات،ویرایش واریزی</h1>
          <h4 class="white">
            با شناسه :
            <code>{{ entry.id }}</code>
          </h4>
          <h4 class="white">
            و برای کاربر با نام :
            <code>{{ entry.ownerName }}</code>
          </h4>
          <div class="alert alert-secondary">
              <strong>زمان ثبت درخواست :</strong>
              <code>
                ( {{ entry.dateCreated | date: "HH:mm" }} )
                {{ entry.dateCreated | persianDate }}
              </code>
            <br/>
              <strong>زمان اخرین تغییر درخواست :</strong>
              <code>
                ( {{ entry.dateModified | date: "HH:mm" }} )
                {{ entry.dateModified | persianDate }}
              </code>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-2 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-home danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">{{ entry.bankName }}</h5>
                <span class="text-muted">نام بانک</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i
                  class="icon-user-following danger font-large-2 float-left"
                ></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">{{ entry.ownerName }}</h5>
                <span class="text-muted">صاحب حساب</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-rocket danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">{{ entry.shaba }}</h5>
                <span class="text-muted">شماره شبا</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-credit-card danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">{{ entry.cardNumber }}</h5>
                <span class="text-muted">شماره کارت</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-bankTrackingCode-wrap bar-success">
            <h4 class="card-bankTrackingCode mb-0">ویرایش</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
            <div [formGroup]="entryEditForm">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="col-md-12">
                    <input
                      matInput
                      formControlName="bankTrackingCode"
                      placeholder="شماره پیگیری بانک  *"
                    />
                    <mat-error
                      *ngIf="
                        entryEditForm
                          .get('bankTrackingCode')
                          .hasError('required') &&
                        entryEditForm.get('bankTrackingCode').touched
                      "
                      >این فیلد نمیتواند خالی باشد</mat-error
                    >
                    <mat-error
                      *ngIf="
                        entryEditForm
                          .get('bankTrackingCode')
                          .hasError('maxlength') &&
                        entryEditForm.get('bankTrackingCode').touched
                      "
                    >
                      این فیلد نمیتواند بیشتر از 200 کاراکتر باشد</mat-error
                    >
                  </mat-form-field>
                  <mat-form-field class="col-md-12">
                    <textarea
                      matInput
                      formControlName="textForUser"
                      placeholder="پیغام ارسالی به کاربر  *"
                    ></textarea>
                    <mat-error
                      *ngIf="
                        entryEditForm.get('textForUser').hasError('required') &&
                        entryEditForm.get('textForUser').touched
                      "
                      >این فیلد نمیتواند خالی باشد</mat-error
                    >
                    <mat-error
                      *ngIf="
                        entryEditForm
                          .get('textForUser')
                          .hasError('maxlength') &&
                        entryEditForm.get('textForUser').touched
                      "
                    >
                      این فیلد نمیتواند بیشتر از 1000 کاراکتر باشد</mat-error
                    >
                  </mat-form-field>
                </div>
              </div>
              <div class="row"></div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button
            mat-raised-button
            (click)="onSubmitEditEntry()"
            [disabled]="entryEditForm.invalid"
            color="green"
            class="float-left mb-10"
          >
            <i class="icon-check"></i>
            <span>ویرایش </span>
          </button>
          <button
            mat-raised-button
            (click)="onClear()"
            color="warn"
            class="float-left mb-10 ml-10"
          >
            <i class="icon-close"></i>
            انصراف
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div
        [ngClass]="entry.isPardakht ? 'bg-success' : 'bg-danger'"
        class="card card-inverse  text-center"
      >
        <div class="card-header">
          <i
            [ngClass]="entry.isPardakht ? 'icon-like' : 'icon-dislike'"
            class=" font-large-1 float-left mr-2"
          ></i>
          <h4 class="card-title">مبلغ درخواستی کاربر برای واریزی</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <h3 class=" bg-wihtred">
              {{ (entry.price | irc).replace("ریال", "تومان") }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Convex template Knowledge Base Ends -->
</section>
<!--User Profile Starts-->
