<h2 mat-dialog-title class="mmatdiagtitle" *ngIf="addActive()">
  افزودن کارت بانکی
</h2>
<h2 mat-dialog-title class="mmatdiagtitle" *ngIf="!addActive()">
  ویرایش کارت بانکی {{ easypayService.easypayForm.get('cardNumber').value }}
</h2>

<mat-dialog-content [formGroup]="easypayService.easypayForm">

  <!--#region info-->
<mat-form-field class="col-md-6">
    <input
      matInput
      formControlName="name"
      placeholder="عنوان محصول یا خدمات *"
    />
    <mat-error
      *ngIf="
        easypayService.easypayForm.get('name').hasError('required') &&
        easypayService.easypayForm.get('name').touched
      "
      >این فیلد نمیتواند خالی باشد</mat-error
    >
    <mat-error
      *ngIf="
        easypayService.easypayForm.get('name').hasError('minlength') &&
        easypayService.easypayForm.get('name').touched
      "
    >
      این فیلد نمیتواند کمتر از 4 کاراکتر باشد</mat-error
    >
    <mat-error
      *ngIf="
        easypayService.easypayForm.get('name').hasError('maxlength') &&
        easypayService.easypayForm.get('name').touched
      "
    >
      این فیلد نمیتواند بیشتر از 50 کاراکتر باشد</mat-error
    >
  </mat-form-field>
  <mat-form-field class="col-md-6 ml-10">
    <input
      digitOnly
      matInput
      formControlName="price"
      placeholder="مبلغ (به تومان) *"
    />
    <mat-error
      *ngIf="
        easypayService.easypayForm.get('price').hasError('required') &&
        easypayService.easypayForm.get('price').touched
      "
      >این فیلد نمیتواند خالی باشد</mat-error
    >

    <mat-error
      *ngIf="
        easypayService.easypayForm.get('price').hasError('maxlength') &&
        easypayService.easypayForm.get('price').touched
      "
    >
      این فیلد نمیتواند بیشتر از 15 کاراکتر باشد</mat-error
    >
  </mat-form-field>

  <mat-radio-group formControlName="isWallet" class="col-md-6 radiocss">
    <mat-radio-button class=" ml-10" value="true">کیف پول</mat-radio-button>
    <mat-radio-button class=" ml-10" value="false" checked
      >درگاه پرداخت</mat-radio-button
    >
  </mat-radio-group>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <mat-form-field class="col-md-6">
          <mat-label>انتخاب کیف پول *</mat-label>
          <mat-select formControlName="walletId">
            <mat-option
              *ngFor="let wallet of wallets"
              value="{{ wallet.id }}"
              >{{ wallet.name }}</mat-option
            >
          </mat-select>
          <mat-error>کیف پول را انتخاب کنید</mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-12">
        <mat-form-field class="col-md-6">
          <mat-label>انتخاب درگاه *</mat-label>
          <mat-select formControlName="walletId">
            <mat-option *ngFor="let gate of gates" value="{{ gate.id }}">{{
              gate.websiteName
            }}</mat-option>
          </mat-select>
          <mat-error> درگاه خود را انتخاب کنید</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!--#endregion-->

  <!--#region inputEmail-->
  <div class="col-md-3">
    <mat-checkbox class="" formControlName="isUserEmail">ایمیل</mat-checkbox>
  </div>
  <div class="col-md-6">
    <mat-radio-group
      formControlName="isUserEmailRequired"
      class="col-md-6 radiocss"
    >
      <mat-radio-button class=" ml-10" value="false" checked
        >اختیاری</mat-radio-button
      >
      <mat-radio-button class=" ml-10" value="true">اجباری</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field class="col-md-6">
      <input
        matInput
        formControlName="userEmailExplain"
        placeholder="توضیحات در اینجا *"
      />
      <mat-error
        *ngIf="
          easypayService.easypayForm
            .get('userEmailExplain')
            .hasError('maxlength') &&
          easypayService.easypayForm.get('userEmailExplain').touched
        "
      >
        این فیلد نمیتواند بیشتر از 25 کاراکتر باشد</mat-error
      >
    </mat-form-field>
  </div>
  <!--#endregion-->

  <!--#region inputName-->
  <div class="col-md-3">
    <mat-checkbox class="" formControlName="isUserName">نام کاربر</mat-checkbox>
  </div>
  <div class="col-md-6">
    <mat-radio-group
      formControlName="isUserNameRequired"
      class="col-md-6 radiocss"
    >
      <mat-radio-button class=" ml-10" value="false" checked
        >اختیاری</mat-radio-button
      >
      <mat-radio-button class=" ml-10" value="true">اجباری</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field class="col-md-6">
      <input
        matInput
        formControlName="userNameExplain"
        placeholder="توضیحات در اینجا *"
      />
      <mat-error
        *ngIf="
          easypayService.easypayForm
            .get('userNameExplain')
            .hasError('maxlength') &&
          easypayService.easypayForm.get('userNameExplain').touched
        "
      >
        این فیلد نمیتواند بیشتر از 25 کاراکتر باشد</mat-error
      >
    </mat-form-field>
  </div>
  <!--#endregion-->

  <!--#region inputPhone-->
  <div class="col-md-3">
    <mat-checkbox class="" formControlName="isUserPhone"
      >شماره تماس</mat-checkbox
    >
  </div>
  <div class="col-md-6">
    <mat-radio-group
      formControlName="isUserPhoneRequired"
      class="col-md-6 radiocss"
    >
      <mat-radio-button class=" ml-10" value="false" checked
        >اختیاری</mat-radio-button
      >
      <mat-radio-button class=" ml-10" value="true">اجباری</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field class="col-md-6">
      <input
        matInput
        formControlName="userPhoneExplain"
        placeholder="توضیحات در اینجا *"
      />
      <mat-error
        *ngIf="
          easypayService.easypayForm
            .get('userPhoneExplain')
            .hasError('maxlength') &&
          easypayService.easypayForm.get('userPhoneExplain').touched
        "
      >
        این فیلد نمیتواند بیشتر از 25 کاراکتر باشد</mat-error
      >
    </mat-form-field>
  </div>
  <!--#endregion-->

  <!--#region inputText-->
  <div class="col-md-3">
    <mat-checkbox class="" formControlName="isUserText"
      >توضیحات محصول</mat-checkbox
    >
  </div>
  <div class="col-md-6">
    <mat-radio-group
      formControlName="isUserTextRequired"
      class="col-md-6 radiocss"
    >
      <mat-radio-button class=" ml-10" value="false" checked
        >اختیاری</mat-radio-button
      >
      <mat-radio-button class=" ml-10" value="true">اجباری</mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="col-md-3">
    <mat-form-field class="col-md-6">
      <input
        matInput
        formControlName="userTextExplain"
        placeholder="توضیحات در اینجا *"
      />
      <mat-error
        *ngIf="
          easypayService.easypayForm
            .get('userTextExplain')
            .hasError('maxlength') &&
          easypayService.easypayForm.get('userTextExplain').touched
        "
      >
        این فیلد نمیتواند بیشتر از 25 کاراکتر باشد</mat-error
      >
    </mat-form-field>
  </div>
  <!--#endregion-->

  <!--#region Limit-->

  <div class="col-md-6">
    <mat-checkbox class="" formControlName="isCountLimit"
      >محدودیت تعداد خرید</mat-checkbox
    >
  </div>
  <mat-form-field class="col-md-6">
    <input
      matInput
      formControlName="countLimit"
      placeholder="تعداد *"
      value="5"
    />
  </mat-form-field>
  <!--#endregion-->
 
  <!--#region returnLink-->
  <mat-form-field class="col-md-6">
    <input
      matInput
      formControlName="countLimit"
      placeholder="تعداد *"
      value="5"
    />
  </mat-form-field>
  <mat-form-field class="col-md-6">
    <input
      matInput
      formControlName="countLimit"
      placeholder="تعداد *"
      value="5"
    />
  </mat-form-field>
  <!--#endregion-->

</mat-dialog-content>
<mat-dialog-actions class="float-left">
  <button
    mat-raised-button
    matDialogClose
    (click)="onClear()"
    color="warn"
    class="float-left mb-10"
  >
    <i class="icon-close"></i>
    انصراف
  </button>
  <button
    mat-raised-button
    (click)="onSubmitAdd()"
    [disabled]="easypayService.easypayForm.invalid"
    color="green"
    class="float-left mb-10"
  >
    <i class="icon-check"></i>
    <span *ngIf="addActive()">افزودن کارت بانکی</span>
    <span *ngIf="!addActive()">ویرایش کارت بانکی</span>
  </button>
</mat-dialog-actions>
