
  .ml-10{
    margin-left: 10px;
}
.mat-green {
  background: #4caf50;
  color: #fff;
  width: 250px;
  float: left;
  font-weight: 900;
  font-size: 16px;
}

.mmatdiagtitle{
  background: #333;
  padding: 15px 25px 25px;
  border-radius: 5px;
  color:#fff;
}

.margintopplus{
  margin-top: 30px;

}.margintopminus{
  margin-top: -30px;

}
.margintop-18-minus{
  margin-top: -18px;

}
.hide{
  display: none;
}

.mmatdiagtitle{
  background: #333;
  padding: 15px 25px 10px;
  border-radius: 5px;
  color:#fff;
}
.title-info{
  font-size: 15px;display: block;
}

.rdcss{
      margin: 35px 0;
      display: inline-block;
}
.urlinpt{
  direction: ltr !important;
  text-align: left !important;
}

button{
    margin-left: 10px;
}
.card{
padding-bottom: 25px;
}