<!-- User Profile Starts-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/user/gate']"> دسته بندی بلاگ </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      افزودن دسته بندی بلاگ
    </li>
  </ol>
</nav>
<!--Basic User Details Starts-->
<section id="user-area">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title">افزودن دسته بندی</h4>
          </div>
          <p>...</p>
        </div>
        <div class="card-body">
          <div [formGroup]="blogGroupAddForm">
            <!--#region info-->
           
           <div class="row">
              <mat-form-field class="col-md-4">
              <input
                matInput
                formControlName="name"
                placeholder="عنوان دسته بندی *"
              />
              <mat-error
                *ngIf="
                  blogGroupAddForm
                    .get('name')
                    .hasError('required') &&
                  blogGroupAddForm.get('name').touched
                "
                >این فیلد نمیتواند خالی باشد</mat-error
              >
              <mat-error
                *ngIf="
                  blogGroupAddForm
                    .get('name')
                    .hasError('maxlength') &&
                  blogGroupAddForm.get('name').touched
                "
              >
                این فیلد نمیتواند بیشتر از 150 کاراکتر باشد</mat-error
              >
            </mat-form-field>
           </div>
            <div class="row">
               <mat-form-field class="col-md-6">
              <mat-label>انتخاب دسته بندی *</mat-label>
              <mat-select formControlName="parent">
                <mat-option value="0">
                  بدون پرنت
              </mat-option>
                <mat-option *ngFor="let bg of blogGroups" value="{{ bg.id }}">
                  {{bg.name}}
              </mat-option>
              </mat-select>
            </mat-form-field>              
            </div>

            <!--#endregion-->

            <button
              mat-raised-button
              (click)="onSubmit()"
              [disabled]="blogGroupAddForm.invalid"
              color="green"
              class="float-left mb-10"
            >
              <i class="icon-check"></i>
              <span>افزودن دسته بندی</span>
            </button>
            <button
              mat-raised-button
              (click)="onClear()"
              color="warn"
              class="float-left mb-10"
            >
              <i class="icon-close"></i>
              انصراف
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--User Profile Starts-->
