<div class="section">
  <div class="box single-purse">
    <div class="top-xs header">
      <div class="row">
        <div class="col-lg-12 right-box">
          <p>
            <span class="wallet-color color-1"></span
            ><span
              ><span class="header-title">اصلی مادپی </span
              ><span class="zpid-box pull-left">MP.127751.1</span></span
            ><!---->
          </p>
          <!---->
          <p></p>
        </div>
        <div class="left-box"><!----></div>
      </div>
    </div>
    <ul class="middle-xs body single-purse-body ta-center">
      <li >
        <div class="nav-balance">
          <div class="txt-balance">موجودی</div>
          <span class="balance-amount persian-num">0</span><span>تومان</span>
          <div class="nav-show-chart"></div>
        </div>
      </li>
    </ul>
    <div class="bottom-xs bottom-xs-color1 footer single-purse-footer">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment">
          <span class="txt-daily-balance iransans-light">ورودی</span
          ><span class="amount persian-num">0</span>
        </div>
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment no-right-margin"
        >
          <span class="txt-daily-balance iransans-light">خروجی</span
          ><span class="amount persian-num">0</span>
        </div>
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment no-right-margin"
        >
          <span class="txt-daily-balance iransans-light">در حال خروج</span
          ><span class="amount persian-num">0</span>
        </div>
      </div>
    </div>
  </div>
  <!----><!----><!---->
</div>
