<div 
[ngClass]="{'wallet-main': wallet.isBlock}"
class="section "  >
  <div
  [ngClass]="{'wallet-child': wallet.isBlock}"
  class="box single-purse">
    <div 
    [ngClass]="wallet.isMain ? 'top-xs-color3' : wallet.isSms ? 'top-xs-color2' : 'top-xs-color1'"
    class="top-xs header">
      <div class="row">
        <div class="col-lg-12 right-box">
          <p>
            <span
            [ngClass]="wallet.isMain ? 'color-3' : wallet.isSms ? 'color-2' : 'color-1'"
            class="wallet-color"></span
            ><span
              ><span class="header-title">{{wallet.name}} </span
              ><span class="zpid-box pull-left">MP.{{wallet.code}}</span></span
            ><!---->
          </p>
          <!---->
          <p></p>
        </div>
        <div class="left-box"><!----></div>
      </div>
    </div>
    <ul class="middle-xs body single-purse-body ta-center">
      <li >
        <div class="nav-balance">
          <div class="txt-balance">موجودی</div>
          <span class="balance-amount persian-num">{{(wallet.inventory | irc).replace('ریال','')}}</span><span>تومان</span>
          <div class="nav-show-chart"></div>
        </div>
      </li>
    </ul>
    <div

    class="bottom-xs footer single-purse-footer">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment">
          <span class="txt-daily-balance iransans-light">ورودی</span
          ><span class="amount persian-num">{{(wallet.interMoney | irc).replace('ریال','')}}</span>
        </div>
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment no-right-margin"
        >
          <span class="txt-daily-balance iransans-light">خروجی</span
          ><span class="amount persian-num">{{(wallet.exitMoney | irc).replace('ریال','')}}</span>
        </div>
        <div
          class="col-lg-4 col-md-4 col-sm-4 col-xs-4 segment no-right-margin"
        >
          <span class="txt-daily-balance iransans-light">در حال خروج</span
          ><span class="amount persian-num">{{(wallet.onExitMoney | irc).replace('ریال','')}}</span>
        </div>
      </div>
    </div>
  </div>
  <a
  *ngIf="wallet.isBlock"
  class="block-wallet">این کیف پول بلاک شده است</a>
</div>
