<article
  id="post-114"
  class="post-item post-114 post type-post status-publish format-image has-post-thumbnail hentry category-entertainment tag-template post_format-post-format-image"
>
  <div class="inner_post_item">
    <div class="post-image">
      <a
      [routerLink]="['/blog/post']"
        class="post-thumbnail"
      >
        <img
          width="1024"
          height="680"
          src="{{blog.picAddress}}?h=150"
          class="attachment-large size-large wp-post-image"
          alt="{{blog.title}}"
          srcset="
            {{blog.picAddress}}?w=1024         1024w,
            {{blog.picAddress}}?w=600  600w,
            {{blog.picAddress}}?w=300  300w,
            {{blog.picAddress}}?w=768  768w
          "
          sizes="(max-width: 1024px) 100vw, 1024px"
      /></a>
    </div>
    <div class="post-info">
      <div class="meta_date">{{blog.dateModified | persianDate}}</div>
      <h3 class="itr-post-title">
        <a [routerLink]="['/blog/post']" rel="bookmark"
          >{{blog.title}}</a
        >
      </h3>
      <ul class="post-meta">
        <li class="author_meta">
          <a [routerLink]="['/blog/search',blog.name,'page',pagination.currentPage]"  rel="author">{{blog.name}}</a>
        </li>
        <li class="meta-cat">
          <a [routerLink]="['/blog/group',blog.blogGroupName,'page',pagination.currentPage]">{{blog.blogGroupName}}</a>
        </li>
        <li>
          <a [routerLink]="['/blog/post#comments']">0نظر</a>
        </li>
        <!-- <li>
          <span class="hidden lk">لایک</span
          ><span class="hidden unlk">Unلایک</span
          ><a href="#" class="jm-post-like" data-post_id="114" title="لایک">
            <i class="fa fa-heart main-color" data-hover="\f08a"></i
            ><span>3</span></a
          >
        </li> -->
      </ul>
      <div class="entry-content">
      {{blog.summerText}}
        <div class="more_container">
          <a
            class="btn btn-sm box_more"
            [routerLink]="['/blog/post']"
            ><span>ادامه مطلب</span></a
          >
        </div>
      </div>
      <div class="itr_post_share">
        <span class="main-color">اشتراک: </span>
        <div
          class="itr_share_post_item jssocials"
          data-share-on="twitter,facebook,googleplus,linkedin,pinterest"
        >
          <div class="jssocials-shares">
            <div class="jssocials-share jssocials-share-twitter">
              <a
                target="_blank"
                href="https://twitter.com/share?url=file%3A%2F%2F%2FH%3A%2FDaneshjooyar%2FFile%2FFiles%2FFiles%2FS03-E04%2FFileNeeded%2FWebUi%2FFile%2Fblog%2Findex.html"
                class="jssocials-share-link"
                ><i class="fa fa-twitter jssocials-share-logo"></i
                ><i class="fa fa-twitter jssocials-share-logo"></i
              ></a>
              <div class="jssocials-share-count-box jssocials-share-no-count">
                <span class="jssocials-share-count"></span>
              </div>
            </div>
            <div class="jssocials-share jssocials-share-facebook">
              <a
                target="_blank"
                href="https://facebook.com/sharer/sharer.php?u=file%3A%2F%2F%2FH%3A%2FDaneshjooyar%2FFile%2FFiles%2FFiles%2FS03-E04%2FFileNeeded%2FWebUi%2FFile%2Fblog%2Findex.html"
                class="jssocials-share-link"
                ><i class="fa fa-facebook jssocials-share-logo"></i
                ><i class="fa fa-facebook jssocials-share-logo"></i
              ></a>
              <div class="jssocials-share-count-box jssocials-share-no-count">
                <span class="jssocials-share-count"></span>
              </div>
            </div>
            <div class="jssocials-share jssocials-share-googleplus">
              <a
                target="_blank"
                href="https://plus.google.com/share?url=file%3A%2F%2F%2FH%3A%2FDaneshjooyar%2FFile%2FFiles%2FFiles%2FS03-E04%2FFileNeeded%2FWebUi%2FFile%2Fblog%2Findex.html"
                class="jssocials-share-link"
                ><i class="fa fa-google jssocials-share-logo"></i
                ><i class="fa fa-google jssocials-share-logo"></i
              ></a>
              <div class="jssocials-share-count-box jssocials-share-no-count">
                <span class="jssocials-share-count"></span>
              </div>
            </div>
            <div class="jssocials-share jssocials-share-linkedin">
              <a
                target="_blank"
                href="https://www.linkedin.com/shareArticle?mini=true&amp;url=file%3A%2F%2F%2FH%3A%2FDaneshjooyar%2FFile%2FFiles%2FFiles%2FS03-E04%2FFileNeeded%2FWebUi%2FFile%2Fblog%2Findex.html"
                class="jssocials-share-link"
                ><i class="fa fa-linkedin jssocials-share-logo"></i
                ><i class="fa fa-linkedin jssocials-share-logo"></i
              ></a>
              <div class="jssocials-share-count-box jssocials-share-no-count">
                <span class="jssocials-share-count"></span>
              </div>
            </div>
            <div class="jssocials-share jssocials-share-pinterest">
              <a
                target="_blank"
                href="https://pinterest.com/pin/create/bookmarklet/?&amp;url=file%3A%2F%2F%2FH%3A%2FDaneshjooyar%2FFile%2FFiles%2FFiles%2FS03-E04%2FFileNeeded%2FWebUi%2FFile%2Fblog%2Findex.html"
                class="jssocials-share-link"
                ><i class="fa fa-pinterest jssocials-share-logo"></i
                ><i class="fa fa-pinterest jssocials-share-logo"></i
              ></a>
              <div class="jssocials-share-count-box jssocials-share-no-count">
                <span class="jssocials-share-count"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
