<nav class="navbar navbar-expand-lg navbar-light bg-faded">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" class="navbar-toggle d-lg-none float-right"><span class="sr-only">تغییر ناوبری </span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <span class="d-lg-none navbar-right navbar-collapse-toggle"><a class="open-navbar-container"><i class="ft-more-vertical"></i></a></span>
            <a id="navbar-fullscreen" href="javascript:;" class="ml-2 display-inline-block apptogglefullscreen">
                <i class="ft-maximize blue-grey darken-4 toggleClass"></i>
                <p class="d-none">تمام صفحه</p>
            </a>
            <a class="mr-2 display-inline-block">
                <i class="ft-shopping-cart blue-grey darken-4"></i>
                <p class="d-none">سبد خرید</p>
            </a>
            <div class="dropdown mr-2 display-inline-block">
                <a id="apps" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle"><i class="ft-edit blue-grey darken-4"></i><span class="mx-1 blue-grey darken-4 text-bold-400">برنامه ها</span></a>
                <div class="apps dropdown-menu">
                    <div class="arrow_box"><a href="chat.html" class="dropdown-item py-1"><span>چت</span></a><a href="taskboard.html" class="dropdown-item py-1"><span>وظیفه</span></a><a href="calendar.html" class="dropdown-item py-1"><span>تقویم</span></a></div>
                </div>
            </div>
        </div>
        <div class="navbar-container">
            <div id="navbarSupportedContent" class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item mt-1 navbar-search text-left dropdown">
                        <a id="search" href="#" data-toggle="dropdown" class="nav-link dropdown-toggle"><i class="ft-search blue-grey darken-4"></i></a>
                        <div aria-labelledby="search" class="search dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right">
                                <form role="search" class="navbar-form navbar-right">
                                    <div class="position-relative has-icon-right mb-0">
                                        <input id="navbar-search" type="text" placeholder="Search" class="form-control" />
                                        <div class="form-control-position navbar-search-close"><i class="ft-x"></i></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item mt-1">
                        <a id="dropdownBasic" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle"><i class="ft-flag blue-grey darken-4"></i><span class="selected-language d-none"></span></a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <div class="arrow_box_right">
                                <a href="javascript:;" class="dropdown-item py-1"><img src="../assets/img/flags/us.png" alt="English Flag" class="langimg" /><span> انگلیس</span></a>
                                <a href="javascript:;" class="dropdown-item py-1"><img src="../assets/img/flags/es.png" alt="Spanish Flag" class="langimg" /><span> اسپانیا</span></a>
                                <a href="javascript:;" class="dropdown-item py-1"><img src="../assets/img/flags/br.png" alt="Portuguese Flag" class="langimg" /><span> پرتغال</span></a>
                                <a href="javascript:;" class="dropdown-item"><img src="../assets/img/flags/de.png" alt="French Flag" class="langimg" /><span> فرانسه</span></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item mt-1">
                        <a id="dropdownBasic2" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-toggle">
                            <i class="ft-bell blue-grey darken-4"></i><span class="notification badge badge-pill badge-danger">4</span>
                            <p class="d-none">اطلاعیه</p>
                        </a>
                        <div class="notification-dropdown dropdown-menu dropdown-menu-left">
                            <div class="arrow_box_right">
                                <div class="noti-list"><a class="dropdown-item noti-container py-2"><i class="ft-share info float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 info">سفارش جدید دریافت شده</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
                                    <a class="dropdown-item noti-container py-2"><i class="ft-save warning float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 warning">کاربر جدید ثبت شده است</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span>
                                      </a><a class="dropdown-item noti-container py-2"><i class="ft-repeat danger float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 danger">سفارش جدید دریافت شده</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
                                    <a class="dropdown-item noti-container py-2"><i class="ft-shopping-cart success float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 success">مورد جدید در سبد خرید شما</span>
                                          <span
                                              class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                              </span>
                                              </a><a class="dropdown-item noti-container py-2"><i class="ft-heart info float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 info">فروش جدید</span><span class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span></span></a>
                                    <a class="dropdown-item noti-container py-2"><i class="ft-box warning float-right d-block font-medium-4 mt-2 ml-2"></i><span class="noti-wrapper"><span class="noti-title line-height-1 d-block text-bold-400 warning">سفارش تحویل داده شده</span>
                                                  <span
                                                      class="noti-text">لورم ایپسوم متن ساختگی با تولید سادگی</span>
                                                      </span>
                                                      </a>
                                </div><a class="noti-footer primary text-center d-block border-top border-top-blue-grey border-top-lighten-4 text-bold-400 py-1">خواندن همه اعلان ها</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item mt-1 d-none d-lg-block">
                        <a id="navbar-notification-sidebar" href="javascript:;" class="nav-link position-relative notification-sidebar-toggle">
                            <i class="icon-equalizer blue-grey darken-4"></i>
                            <p class="d-none">نوار اطلاع رسانی</p>
                        </a>
                    </li>

                    <li class="dropdown nav-item mr-0">
                        <a id="dropdownBasic3" href="#" data-toggle="dropdown" class="nav-link position-relative dropdown-user-link dropdown-toggle">
                            <span class="avatar avatar-online"><img id="navbar-avatar" src="../../../../../assets/img/portrait/small/avatar-s-3.jpg" alt="avatar" /></span>
                            <span style="padding:0 8px;">{{authService.decodedToken.unique_name}}</span>
                            <p class="d-none">تنظیمات کاربر</p>
                        </a>
                        <div aria-labelledby="dropdownBasic3" class="dropdown-menu dropdown-menu-left">
                            <div class="arrow_box_right">
                                <a [routerLink]="['/panel/profile']" routerLinkActive="router-link-active" class="dropdown-item py-1"><i class="ft-edit ml-2"></i><span>پروفایل من</span></a>
                                <a href="chat.html" class="dropdown-item py-1"><i class="ft-message-circle ml-2"></i><span>چت من</span></a>
                                <a href="javascript:;" class="dropdown-item py-1"><i class="ft-settings ml-2"></i><span>تنظیمات</span></a>
                                <div class="dropdown-divider"></div>
                                <a href="javascript:;" (click)="logout()" class="dropdown-item">
                                    <i class="ft-power ml-2"></i><span>خروج</span></a>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <aside id="notification-sidebar" class="notification-sidebar d-none d-sm-none d-md-block">
        <a class="notification-sidebar-close"><i class="ft-x font-medium-3"></i></a>
        <div class="side-nav notification-sidebar-content">
            <div class="row">
                <div class="col-12 mt-1">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a id="base-tab1" data-toggle="tab" aria-controls="base-tab1" href="#activity-tab" aria-expanded="true" class="nav-link active"><strong>فعالیت</strong></a></li>
                        <li class="nav-item"><a id="base-tab2" data-toggle="tab" aria-controls="base-tab2" href="#settings-tab" aria-expanded="false" class="nav-link"><strong>تنظیمات</strong></a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="activity-tab" role="tabpanel" aria-expanded="true" aria-labelledby="base-tab1" class="tab-pane active">
                            <div id="activity-timeline" class="col-12 timeline-left">
                                <h6 class="mt-1 mb-3 text-bold-400">فعالیت اخیر</h6>
                                <div class="timeline">
                                    <ul class="list-unstyled base-timeline activity-timeline ml-0">
                                        <li>
                                            <div class="timeline-icon bg-danger"><i class="ft-shopping-cart"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-danger">به روز رسانی</a><span class="d-block">علی رضایی تجهیزات جدیدی را برای دفتر منطقه ای خریداری کرد.</span></div><small class="text-muted">همین الان</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-primary"><i class="fa fa-plane"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-primary">اضافه</a><span class="d-block">پرواز بعدی شما برای ایالات متحده آمریکا در تاریخ 15 آگوست 2015 صورت خواهد گرفت.</span></div><small class="text-muted">25 ساعت پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-dark"><i class="ft-mic"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-dark">اختصاص داده</a><span class="d-block">سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال کنید</span></div><small class="text-muted">15 روز پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-warning"><i class="ft-map-pin"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-warning">جدید</a><span class="d-block">علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز کنید</span></div><small class="text-muted">20 روز پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-primary"><i class="ft-inbox"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-primary">اضافه</a><span class="d-block">پست صوتی برای کنفرانس</span></div><small class="text-muted">2 هفته پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-danger"><i class="ft-mic"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-danger">به روز رسانی</a><span class="d-block">علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز کنید</span></div><small class="text-muted">1 ماه پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-dark"><i class="ft-inbox"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-dark">اختصاص داده</a><span class="d-block">سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال کنید</span></div><small class="text-muted">1 ماه پیش</small>
                                        </li>
                                        <li>
                                            <div class="timeline-icon bg-warning"><i class="ft-map-pin"></i></div>
                                            <div class="base-timeline-info"><a href="#" class="text-uppercase text-warning">جدید</a><span class="d-block">پروژه جدید با رضا محمودی آغاز شد. </span></div><small class="text-muted">2 ماه پیش</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div id="settings-tab" aria-labelledby="base-tab2" class="tab-pane">
                            <div id="settings" class="col-12">
                                <h6 class="mt-1 mb-3 text-bold-400">تنظیمات عمومی</h6>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">اطلاعیه</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="notifications1" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="notifications1" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش فعالیت اخیر</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="recent-activity1" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="recent-activity1" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">اطلاعیه</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="notifications2" type="checkbox" class="custom-control-input">
                                                            <label for="notifications2" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش فعالیت اخیر</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="recent-activity2" type="checkbox" class="custom-control-input">
                                                            <label for="recent-activity2" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">ایمیل های خود را نمایش دهید</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="show-emails" type="checkbox" class="custom-control-input">
                                                            <label for="show-emails" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده کنید.</p>
                                    </li>
                                    <li>
                                        <div class="togglebutton">
                                            <div class="switch">
                                                <span class="text-bold-500">نمایش آمار کار</span>
                                                <div class="float-right">
                                                    <div class="form-group">
                                                        <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                                            <input id="show-stats" checked="checked" type="checkbox" class="custom-control-input">
                                                            <label for="show-stats" class="custom-control-label"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <p>برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با ورودی مرتبط کنیم.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
</nav>