<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- User Profile Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/dashboard']">داشبورد</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/profile']">تنظیمات اطلاع رسانی </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              مشاهده و ویرایش اطلاع رسانی ها
            </li>
          </ol>
        </nav>
        <!--Basic User Details Starts-->
        <section id="user-area">
          <div class="row">
              <div class="col-md-12">
                  <div class="card" style="height: 206.8px;">
                      <div class="card-header">
                          <div class="card-title-wrap bar-success">
                              <h4 class="card-title">تنظیمات اطلاع رسانی</h4>
                          </div>
                          <p>
                              در این صفحه شما می‌توانید تنظیمات اطلاع رسانی خود را انجام دهید
                            .</p>
                      </div>
                      <div class="card-body">
                          <div class="card-block text-center">
                              <div class="alert alert-secondary">
                                  <strong>توجه! </strong>  هزینه هر پیامک اطلاع رسانی 40 تومان می‌باشد، که از موجودی کیف‌ پول پیامک کسر می‌گردد.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title-wrap bar-info">
                              <h4 class="card-title mb-0">تراکنش های ورودی</h4>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <p>توضیحات
                              </p>
                              <fieldset>
                                      <div class="col-md-12"><mat-checkbox>ایمیل</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>پیامک</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>تلگرام</mat-checkbox></div>
                              </fieldset>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title-wrap bar-info">
                              <h4 class="card-title mb-0">تراکنش های ورودی</h4>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <p>توضیحات
                              </p>
                              <fieldset>
                                      <div class="col-md-12"><mat-checkbox>ایمیل</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>پیامک</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>تلگرام</mat-checkbox></div>
                              </fieldset>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title-wrap bar-info">
                              <h4 class="card-title mb-0">تراکنش های ورودی</h4>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <p>توضیحات
                              </p>
                              <fieldset>
                                      <div class="col-md-12"><mat-checkbox>ایمیل</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>پیامک</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>تلگرام</mat-checkbox></div>
                              </fieldset>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-12">
                  <div class="card">
                      <div class="card-header">
                          <div class="card-title-wrap bar-info">
                              <h4 class="card-title mb-0">تراکنش های ورودی</h4>
                          </div>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <p>توضیحات
                              </p>
                              <fieldset>
                                      <div class="col-md-12"><mat-checkbox>ایمیل</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>پیامک</mat-checkbox></div>
                                      <div class="col-md-12"><mat-checkbox>تلگرام</mat-checkbox></div>
                              </fieldset>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">   
                         <button mat-raised-button color="green">ذخیره تغییرات</button>
</div>
          </div>
        </section>
        <!--User Profile Starts-->
      </div>
    </div>
  </div>
</div>
