<!-- User Profile Starts-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/user/gate']"> بلاگ </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      افزودن بلاگ
    </li>
  </ol>
</nav>
<!--Basic User Details Starts-->
<section id="user-area">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title">افزودن</h4>
          </div>
          <p>...</p>
        </div>
        <div class="card-body">
          <div [formGroup]="blogAddForm">
            <!--#region info-->
            <div class="row">
              <div class="col-md-8">
                <mat-form-field class="col-md-12">
                  <mat-label>انتخاب دسته بندی *</mat-label>
                  <mat-select formControlName="blogGroupId">
                    <mat-option
                      *ngFor="let bg of blogGroups"
                      value="{{ bg.id }}"
                    >
                      {{ bg.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="col-md-12">
                  <input
                    matInput
                    formControlName="title"
                    placeholder="عنوان  *"
                  />
                  <mat-error
                    *ngIf="
                      blogAddForm.get('title').hasError('required') &&
                      blogAddForm.get('title').touched
                    "
                    >این فیلد نمیتواند خالی باشد</mat-error
                  >
                  <mat-error
                    *ngIf="
                      blogAddForm.get('title').hasError('maxlength') &&
                      blogAddForm.get('title').touched
                    "
                  >
                    این فیلد نمیتواند بیشتر از 500 کاراکتر باشد</mat-error
                  >
                </mat-form-field>

                <div class="col-md-12">
                  <tag-input
                    formControlName="tags"
                    [theme]="'bootstrap'"
                    placeholder="تگ ها  *"
                    [placeholder]="'تگ ها  *'"
                    [secondaryPlaceholder]="'تگ ها  *'"
                  ></tag-input>
                  <mat-error
                    *ngIf="
                      blogAddForm.get('tags').hasError('required') &&
                      blogAddForm.get('tags').touched
                    "
                    >این فیلد نمیتواند خالی باشد</mat-error
                  >
                  <mat-error
                    *ngIf="
                      blogAddForm.get('tags').hasError('maxlength') &&
                      blogAddForm.get('tags').touched
                    "
                  >
                    این فیلد نمیتواند بیشتر از 500 کاراکتر باشد</mat-error
                  >
                </div>
                <mat-form-field class="col-md-12">
                  <textarea
                    matInput
                    formControlName="summerText"
                    placeholder="خلاصه ی متن بلاگ  *"
                  ></textarea>
                  <mat-error
                    *ngIf="
                      blogAddForm.get('summerText').hasError('required') &&
                      blogAddForm.get('summerText').touched
                    "
                    >این فیلد نمیتواند خالی باشد</mat-error
                  >
                  <mat-error
                    *ngIf="
                      blogAddForm.get('summerText').hasError('maxlength') &&
                      blogAddForm.get('summerText').touched
                    "
                  >
                    این فیلد نمیتواند بیشتر از 1000 کاراکتر باشد</mat-error
                  >
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field class="col-md-12 ml-10 ngxmatfileinput">
                  <ngx-mat-file-input
                    (change)="onFileSelect($event)"
                    formControlName="file"
                    accept="image/*"
                    placeholder="عکس اصلی بلاگ  *"
                  >
                  </ngx-mat-file-input>
                  <img [src]="imgUrl" class="float-left icon-fileupload" />
                  <mat-error>عکس بلاگ را انتخاب کنید</mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-12 pb-txtedit">
                <mat-label>متن کامل بلاگ *</mat-label>
                <!-- <ckeditor formControlName="text"
                      [config]="config"
                       data="<p>متن کامل بلاگ  *</p>"></ckeditor> -->
                <ejs-richtexteditor
                  #toolsRTE
                   formControlName="text"
                  [toolbarSettings]='tools'
                   [(quickToolbarSettings)]='toolbarSettings'
                  [showCharCount]='true'
                  (actionBegin)='handleFullScreen($event)'
                  (toolbarClick)='onToolbarClick($event)'
                  (imageUploading)='imageUploading($event)'
                  (imageUploadSuccess)='imageUploadSuccess($event)'
                  (imageRemoving)='imageRemoving($event)'
                >
                  <ng-template #valueTemplate> متن بلاگ</ng-template>
                </ejs-richtexteditor>
                <mat-error
                  *ngIf="
                    blogAddForm.get('text').hasError('required') &&
                    blogAddForm.get('text').touched
                  "
                  >این فیلد نمیتواند خالی باشد</mat-error
                >
              </div>
            </div>
            <div class="row"></div>
            <!--#endregion-->

            <button
              mat-raised-button
              (click)="onSubmit()"
              [disabled]="blogAddForm.invalid"
              color="green"
              class="float-left mb-10"
            >
              <i class="icon-check"></i>
              <span>افزودن </span>
            </button>
            <button
              mat-raised-button
              (click)="onClear()"
              color="warn"
              class="float-left mb-10"
            >
              <i class="icon-close"></i>
              انصراف
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--User Profile Starts-->
