
                              <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                  <h4 class="card-title" id="basic-layout-form">
                                    ویرایش اطلاعات
                                  </h4>
                                </div>
                                <p class="mb-0">
                                  در این بخش میتوانید اطلاعات پروفایل خودرا
                                  ویرایش کنید.
                                </p>
                              </div>
                              <div class="alert alert-warning" *ngIf="editForm.dirty">
                                <strong>هشدار! </strong>                              
                                شما تغییری در اطلاعات وارد کرده اید لطفا تغییرات را   <a class="btn-flat btn-primary" (click)="goToSaveBtn()">ذخیره</a> کنید.
                            </div>
                              <div class="card-body">
                                <div class="px-3">
                                  <form #editForm="ngForm" (ngSubmit)="updateUserInfo()" class="form">
                                    <div class="form-body">
                                      <h4 class="form-section">
                                        <i class="icon-user"></i> اطلاعات شخصی
                                      </h4>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="projectinput1"
                                              >نام</label
                                            >
                                            <input
                                              type="text"
                                              class="form-control"
                                              [ngModelOptions]="{standalone: true}"
                                              [(ngModel)]="user.name"
                                            />
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="projectinput2"
                                              >شماره موبایل</label
                                            >
                                            <input
                                              type="text"
                                              class="form-control" style="direction: ltr !important;text-align: left;"
                                              [(ngModel)]="user.phoneNumber" [ngModelOptions]="{standalone: true}"
                                             />
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-6">
                                          <div class="form-group">
                                            <label for="projectinput5"
                                              >جنسیت</label
                                            >
                                            <select
                                              class="form-control"
                                              [(ngModel)]="user.gender" [ngModelOptions]="{standalone: true}"
                                            >
                                              <option value="true"
                                                >مرد</option
                                              >
                                              <option value="fasle"
                                                >زن</option
                                              >
                                            </select>
                                          </div>
                                        </div>
                                      </div>

                                      <h4 class="form-section">
                                        <i class="icon-book-open"></i>محل سکونت
                                      </h4>

                                      <div class="form-group">
                                        <label for="companyName">شهر</label>
                                        <input
                                          type="text"
                                          class="form-control"
                                          [(ngModel)]="user.city" [ngModelOptions]="{standalone: true}"
                                        />
                                      </div>

                                      <div class="form-group">
                                        <label for="projectinput8">آدرس</label>
                                        <textarea
                                          rows="5"
                                          class="form-control"
                                          [(ngModel)]="user.address" [ngModelOptions]="{standalone: true}"
                                        ></textarea>
                                      </div>
                                    </div>

                                    <div class="form-actions" id="btnsave">
                                      <!-- <button type="button" class="btn btn-danger mr-1">
									<i class="icon-trash"></i> لغو
								</button> -->
                                      <button
                                        type="submit" [disabled]="editForm.dirty" 
                                        class="btn btn-success"
                                      >
                                        <i class="icon-note"></i> تغییر اطلاعات کاربری
                                      </button>
                                    </div>
                                  </form>
                                </div>
                              </div>