  <aside id="notification-sidebar"
    class="notification-sidebar d-none d-sm-none d-md-block">

    <a class="notification-sidebar-close"><i class="ft-x font-medium-3"></i></a>
    <div class="side-nav notification-sidebar-content">
      <div class="row">
        <div class="col-12 mt-1">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a
                id="base-tab1"
                data-toggle="tab"
                aria-controls="base-tab1"
                href="#activity-tab"
                aria-expanded="true"
                class="nav-link active"
                ><strong>فعالیت</strong></a
              >
            </li>
            <li class="nav-item">
              <a
                id="base-tab2"
                data-toggle="tab"
                aria-controls="base-tab2"
                href="#settings-tab"
                aria-expanded="false"
                class="nav-link"
                ><strong>تنظیمات</strong></a
              >
            </li>
          </ul>
          <div class="tab-content">
            <div
              id="activity-tab"
              role="tabpanel"
              aria-expanded="true"
              aria-labelledby="base-tab1"
              class="tab-pane active"
            >
              <div id="activity-timeline" class="col-12 timeline-left">
                <h6 class="mt-1 mb-3 text-bold-400">فعالیت اخیر</h6>
                <div class="timeline">
                  <ul
                    class="list-unstyled base-timeline activity-timeline ml-0"
                  >
                    <li>
                      <div class="timeline-icon bg-danger">
                        <i class="ft-shopping-cart"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-danger"
                          >به روز رسانی</a
                        ><span class="d-block"
                          >علی رضایی تجهیزات جدیدی را برای دفتر منطقه ای خریداری
                          کرد.</span
                        >
                      </div>
                      <small class="text-muted">همین الان</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-primary">
                        <i class="fa fa-plane"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-primary">اضافه</a
                        ><span class="d-block"
                          >پرواز بعدی شما برای ایالات متحده آمریکا در تاریخ 15
                          آگوست 2015 صورت خواهد گرفت.</span
                        >
                      </div>
                      <small class="text-muted">25 ساعت پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-dark">
                        <i class="ft-mic"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-dark"
                          >اختصاص داده</a
                        ><span class="d-block"
                          >سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال
                          کنید</span
                        >
                      </div>
                      <small class="text-muted">15 روز پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-warning">
                        <i class="ft-map-pin"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-warning">جدید</a
                        ><span class="d-block"
                          >علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز
                          کنید</span
                        >
                      </div>
                      <small class="text-muted">20 روز پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-primary">
                        <i class="ft-inbox"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-primary">اضافه</a
                        ><span class="d-block">پست صوتی برای کنفرانس</span>
                      </div>
                      <small class="text-muted">2 هفته پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-danger">
                        <i class="ft-mic"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-danger"
                          >به روز رسانی</a
                        ><span class="d-block"
                          >علی محمدی یک فروشگاه جدید را در خیابان ولیعصر باز
                          کنید</span
                        >
                      </div>
                      <small class="text-muted">1 ماه پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-dark">
                        <i class="ft-inbox"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-dark"
                          >اختصاص داده</a
                        ><span class="d-block"
                          >سارا نظری یک پست صوتی برای کنفرانس بعدی ارسال
                          کنید</span
                        >
                      </div>
                      <small class="text-muted">1 ماه پیش</small>
                    </li>
                    <li>
                      <div class="timeline-icon bg-warning">
                        <i class="ft-map-pin"></i>
                      </div>
                      <div class="base-timeline-info">
                        <a href="#" class="text-uppercase text-warning">جدید</a
                        ><span class="d-block"
                          >پروژه جدید با رضا محمودی آغاز شد.
                        </span>
                      </div>
                      <small class="text-muted">2 ماه پیش</small>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div id="settings-tab" aria-labelledby="base-tab2" class="tab-pane">
              <div id="settings" class="col-12">
                <h6 class="mt-1 mb-3 text-bold-400">تنظیمات عمومی</h6>
                <ul class="list-unstyled">
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500">اطلاعیه</span>
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="notifications1"
                                checked="checked"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="notifications1"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده
                      کنید.
                    </p>
                  </li>
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500">نمایش فعالیت اخیر</span>
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="recent-activity1"
                                checked="checked"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="recent-activity1"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با
                      ورودی مرتبط کنیم.
                    </p>
                  </li>
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500">اطلاعیه</span>
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="notifications2"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="notifications2"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده
                      کنید.
                    </p>
                  </li>
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500">نمایش فعالیت اخیر</span>
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="recent-activity2"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="recent-activity2"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با
                      ورودی مرتبط کنیم.
                    </p>
                  </li>
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500"
                          >ایمیل های خود را نمایش دهید</span
                        >
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="show-emails"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="show-emails"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      هنگام بررسی بله یا بدون پاسخ، از کادرهای جعبه استفاده
                      کنید.
                    </p>
                  </li>
                  <li>
                    <div class="togglebutton">
                      <div class="switch">
                        <span class="text-bold-500">نمایش آمار کار</span>
                        <div class="float-right">
                          <div class="form-group">
                            <div
                              class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0"
                            >
                              <input
                                id="show-stats"
                                checked="checked"
                                type="checkbox"
                                class="custom-control-input"
                              />
                              <label
                                for="show-stats"
                                class="custom-control-label"
                              ></label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <p>
                      برای مشخص کردن ویژگی لازم است که کادر ورودی خود را با
                      ورودی مرتبط کنیم.
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</aside>