<div class="xs-padding itr_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="pricing_tbl prtbl_5cd59d7c6bb9a pricing-2 text-center anim_hover">
                    <div class="pricing-title" data-slurve="0,0,10 0,0,10 0,0,10 0,50,10">
                        <svg class="slurve-svg" top="0px" left="0px" width="350" height="270" viewBox="0 0 350 270" style="top: 0px; left: 0px;">
                            <path d="M0,10 Q0,0 10,0 L340,0 Q350,0 350,10 L350,210 Q350,220 340,220 L10,270 Q0,270 0,260 Z"></path>
                        </svg>
                        <svg class="slurve-svg respons_svg">
                            <rect width="100%" height="100%"></rect>
                        </svg>
                        <h3 class="head dark_price_main">طرح استاندارد</h3>
                        <h3 class="price price_main"><sup class="price_curr">تومان</sup><span class="price_num">۱۵۰۰</span><span class="price_int">/ ماه</span><span class="price_sub">لورم ایپسوم متن ساختگی</span></h3></div>
                    <div class="pricing_content text-center">
                        <ul>
                            <li>۲۰ صفحه، گالری و وبلاگ</li>
                            <li>۵۰۰ گیگابایت پهنای باند</li>
                            <li>۲ گیگابایت حافظه</li>
                            <li>۲ مشارکت کننده</li>
                            <li>وب سایت موبایل</li>
                            <li>دامنه سفارشی</li>
                        </ul>
                    </div>
                    <div class="pricing-footer"><a class="btn  btn-block bold btn-md rounded big_shadow_imp" 
                        href="/my/auth/login" title="" target="_self"><span>خرید طرح</span></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing_tbl prtbl_5cd59d7c6c1dc pricing-2 text-center anim_hover">
                    <div class="pricing-title" data-slurve="0,0,10 0,0,10 0,0,10 0,50,10">
                        <svg class="slurve-svg" top="0px" left="0px" width="350" height="270" viewBox="0 0 350 270" style="top: 0px; left: 0px;">
                            <path d="M0,10 Q0,0 10,0 L340,0 Q350,0 350,10 L350,210 Q350,220 340,220 L10,270 Q0,270 0,260 Z"></path>
                        </svg>
                        <svg class="slurve-svg respons_svg">
                            <rect width="100%" height="100%"></rect>
                        </svg>
                        <h3 class="head dark_price_main">طرح استاندارد</h3>
                        <h3 class="price price_main"><sup class="price_curr">تومان</sup><span class="price_num">۱۵۰۰</span><span class="price_int">/ ماه</span><span class="price_sub">لورم ایپسوم متن ساختگی</span></h3></div>
                    <div class="pricing_content text-center">
                        <ul>
                            <li>۲۰ صفحه، گالری و وبلاگ</li>
                            <li>۵۰۰ گیگابایت پهنای باند</li>
                            <li>۲ گیگابایت حافظه</li>
                            <li>۲ مشارکت کننده</li>
                            <li>وب سایت موبایل</li>
                            <li>دامنه سفارشی</li>
                        </ul>
                    </div>
                    <div class="pricing-footer"><a class="btn  btn-block bold btn-md rounded big_shadow_imp" 
                        href="/my/auth/login" title="" target="_self"><span>خرید طرح</span></a></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing_tbl prtbl_5cd59d7c6c830 pricing-2 text-center anim_hover">
                    <div class="pricing-title" data-slurve="0,0,10 0,0,10 0,0,10 0,50,10">
                        <svg class="slurve-svg" top="0px" left="0px" width="360" height="270" viewBox="0 0 360 270" style="top: 0px; left: 0px;">
                            <path d="M0,10 Q0,0 10,0 L350,0 Q360,0 360,10 L360,210 Q360,220 350,220 L10,270 Q0,270 0,260 Z"></path>
                        </svg>
                        <svg class="slurve-svg respons_svg">
                            <rect width="100%" height="100%"></rect>
                        </svg>
                        <h3 class="head dark_price_main">طرح استاندارد</h3>
                        <h3 class="price price_main"><sup class="price_curr">تومان</sup><span class="price_num">۱۵۰۰</span><span class="price_int">/ ماه</span><span class="price_sub">لورم ایپسوم متن ساختگی</span></h3></div>
                    <div class="pricing_content text-center">
                        <ul>
                            <li>۲۰ صفحه، گالری و وبلاگ</li>
                            <li>۵۰۰ گیگابایت پهنای باند</li>
                            <li>۲ گیگابایت حافظه</li>
                            <li>۲ مشارکت کننده</li>
                            <li>وب سایت موبایل</li>
                            <li>دامنه سفارشی</li>
                        </ul>
                    </div>
                    <div class="pricing-footer"><a class="btn  btn-block bold btn-md rounded big_shadow_imp" 
                        href="/my/auth/login" title="" target="_self"><span>خرید طرح</span></a></div>
                </div>
            </div>
        </div>
    </div>
</div>