<div class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block">
  <div class="chat-sidebar-content">
    <div class="chat-fixed-search p-2">
      <button
          show-delay="300"
          mat-raised-button
          color="green"
          class="float-left mb-10"
        >
          <i class="ft-plus-circle"></i> 
                 افزودن تیکت جدید

        </button>
    </div>
    <div id="users-list" class="list-group position-relative">
      <div class="users-list-padding">
          <ng-scrollbar class="my-scrollbar">
            <app-ticket></app-ticket>
          </ng-scrollbar>        
      </div>
      <div class="btnadd-div my-4">
       
      </div>
    </div>
  </div>
</div>
