.mat-green {
    background: #4caf50;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    float: none !important;
  }
  .ft-plus-circle{
    font-size: 22px;
  }
  .mat-red {
    background: #ff4949;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 50px;  
    border-top-left-radius:4px;        
    border-bottom-left-radius:4px;            
    float: right !important;
  }
  .mat-blue {
    background: #197dff;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 50px;          
  }.btnadd-div{
    text-align: center;
}
.my-scrollbar {
  --scrollbar-color: transparent;
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
  --scrollbar-border-radius: 4px;
  --scrollbar-size: 6px;
  --scrollbar-padding: 0px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;
  height:650px ;
}
.btnload{
margin: 12px auto;
display: block;

}
