<!--Statistics cards Starts-->
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-right">
              <h4 class="font-medium-5 card-title mb-0">
                {{(accountantDashboard.totalSuccessEntryPrice | irc).replace("ریال","تومان")}}
              </h4>
              <span class="grey darken-1">مجموع واریزی ها </span>
            </div>
            <div class="media-right text-right">
              <i class="icon-logout font-large-1 primary"></i>
            </div>
          </div>
        </div>
        <x-chartist
          id="Widget-line-chart"
          class="height-150 lineChartWidget WidgetlineChart mb-2"
          [type]="Entry5DaysChartType"
          [data]="Entry5DaysChartData"
          [options]="Entry5DaysChartOptions"
          [events]="Entry5DaysChartEvents"
        ></x-chartist>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card bg-white">
      <div class="card-body">
        <div class="card-block pt-2 pb-0">
          <div class="media">
            <div class="media-body white text-right">
              <h4 class="font-medium-5 card-title mb-0">
                {{
                  (accountantDashboard.totalSuccessFactorPrice | irc).replace(
                    "ریال",
                    "تومان"
                  )
                }}
              </h4>
              <span class="grey darken-1">مجموع فاکتور ها</span>
            </div>
            <div class="media-right text-right">
              <i class="icon-bag  font-large-1 warning"></i>
            </div>
          </div>
        </div>
        <x-chartist
          id="Widget-line-chart1"
          class="height-150 lineChartWidget WidgetlineChart1 mb-2"
          [type]="Factor5DaysChartType"
          [data]="Factor5DaysChartData"
          [options]="Factor5DaysChartOptions"
          [events]="Factor5DaysChartEvents"
        ></x-chartist>
      </div>
    </div>
  </div>
</div>



<div class="row match-height">
  <div class="col-lg-12">
    <div class="card" style="height: 433px;">
      <div class="card-header pb-0">
        <div class="card-title-wrap bar-danger">
          <h4 class="card-title">تراکنشات 12 ماه گذشته</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3">
              <i class="fa fa-circle primary font-small-2 mr-1"></i> فاکتور
              ها</span
            >
            <span class="text-uppercase">
              <i class="fa fa-circle success font-small-2 mr-1"></i> واریزی
              ها</span
            >
          </div>
          <x-chartist
            id="line-area-chart"
            class="height-300 lineAreaChart lineAreaChartShadow"
            [type]="EntryFactorChartType"
            [data]="EntryFactorChartData"
            [options]="EntryFactorChartOptions"
            [events]="EntryFactorChartEvents"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row match-height">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-success">
          <h4 class="card-title">کیف پول / کارت بانکی / درگاه</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card-block">
          <div class="chart-info mb-2">
            <span class="text-uppercase mr-3">
              <i class="fa fa-circle primary font-small-2 mr-1"></i> کیف پول ها
            </span>
            <span class="text-uppercase">
              <i class="fa fa-circle warning font-small-2 mr-1"></i> کارت بانکی
            </span>
            <span class="text-uppercase">
              <i class="fa fa-circle danger font-small-2 mr-1"></i> درگاه ها
            </span>
          </div>
          <x-chartist
            id="line-chart"
            class="height-300 lineChart lineChartShadow"
            [type]="CardGateWalletChartType"
            [data]="CardGateWalletChartData"
            [options]="CardGateWalletChartOptions"
            [events]="CardGateWalletChartEvents"
          ></x-chartist>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row match-height">
        <!--List Group with badges Starts-->
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">واریزی ها</h4>
                    </div>
                    <p>خلاصه ی واریزی تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد واریزی ها</span> {{accountantDashboard.totalSuccessEntry }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">مبلغ واریزی ها</span>{{(accountantDashboard.totalSuccessEntryPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های تایید شده</span>  {{accountantDashboard.totalEntryApprove }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های تایید نشده</span> {{accountantDashboard.totalEntryUnApprove }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های پرداخت شده</span>  {{accountantDashboard.totalEntryPardakht }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های پرداخت نشده</span> {{accountantDashboard.totalEntryUnPardakht }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-success mr-2 float-left">تعداد واریزی های رد شده</span>  {{accountantDashboard.totalEntryReject }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-danger mr-2 float-left">تعداد واریزی های رد نشده</span> {{accountantDashboard.totalEntryUnReject }} 
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card" >
                <div class="card-header">
                    <div class="card-title-wrap bar-info">
                        <h4 class="card-title">مبلغ فاکتور ها</h4>
                    </div>
                    <p>خلاصه ی مبلغ فاکتور ها تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="badge badge-primary  mr-2 float-left">مبلغ کل فاکتور ها </span>{{(accountantDashboard.totalSuccessFactorPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت فاکتور </span>{{(accountantDashboard.totalFactorPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل فاکتور </span>{{(accountantDashboard.totalEasyPayPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت حمایتی </span>{{(accountantDashboard.totalSupportPrice | irc).replace("ریال","تومان")}}
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-warning mr-2 float-left">مبلغ کل پرداخت افزایش موجودی </span>{{(accountantDashboard.totalIncInventoryPrice | irc).replace("ریال","تومان")}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--List Group with badges Ends-->
   <div class="col-sm-12 col-md-4">
            <div class="card" >
                <div class="card-header">
                    <div class="card-title-wrap bar-danger">
                        <h4 class="card-title">تعداد فاکتور ها</h4>
                    </div>
                    <p>خلاصه ی تعداد فاکتور ها تا به اکنون</p>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <ul class="list-group">

                            <li class="list-group-item">
                                <span class="badge badge-primary  mr-2 float-left">تعداد کل فاکتور ها </span> {{accountantDashboard.totalSuccessFactor }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت فاکتور </span>  {{accountantDashboard.totalFactor }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت ایزی پی </span>  {{accountantDashboard.totalEasyPay }} 
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت حمایتی </span>  {{accountantDashboard.totalSupport }} 
                            </li>
                             <li class="list-group-item">
                                <span class="badge badge-info mr-2 float-left">تعداد پرداخت افزایش موجودی </span>  {{accountantDashboard.totalIncInventory }} 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

<div class="row match-height">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-primary">
          <h4 class="card-title">
            فاکتور های اخیر
          </h4>
        </div>
        <a class="heading-elements-toggle">
          <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
      </div>
      <div class="card-content mt-1">
        <div class="table-responsive">
          <table class="table table-hover table-xl mb-0" id="recent-orders">
            <thead>
              <tr>
                <th class="border-top-0">نام</th>
                <th class="border-top-0">ایجاد</th>
                <th class="border-top-0">نوع</th>
                <th class="border-top-0">وضعیت</th>
                <th class="border-top-0">مبلغ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let factor of accountantDashboard.last7Factors">
                <td class="text-truncate">{{ factor.userName }}</td>
                <td class="text-truncate">
                  {{ factor.dateCreated | persianDate }}
                </td>
                <td>
                  <button
                    [ngClass]="
                      factor.kind === 1
                        ? 'btn-outline-warning'
                        : factor.kind === 2
                        ? 'btn-outline-info'
                        : factor.kind === 3
                        ? 'btn-outline-danger'
                        : 'btn-outline-dark'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ factor.kind.toFactorType() }}
                  </button>
                </td>
                <td>
                  <button
                    [ngClass]="
                      factor.status
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ factor.status.toStatus() }}
                  </button>
                </td>
                <td class="text-truncate">
                  {{ (factor.endPrice | irc).replace("ریال", "تومان") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="card-title-wrap bar-warning">
          <h4 class="card-title">
            واریزی های اخیر
          </h4>
        </div>
        <a class="heading-elements-toggle">
          <i class="la la-ellipsis-v font-medium-3"></i>
        </a>
      </div>
      <div class="card-content mt-1">
        <div class="table-responsive">
          <table class="table table-hover table-xl mb-0" id="recent-orders">
            <thead>
              <tr>
                <th class="border-top-0">نام</th>
                <th class="border-top-0">ایجاد</th>
                <th class="border-top-0">پرداخت</th>
                <th class="border-top-0">رد</th>
                <th class="border-top-0">مبلغ</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of accountantDashboard.last7Entries">
                <td class="text-truncate">{{ entry.ownerName }}</td>
                <td class="text-truncate">
                  {{ entry.dateModified | persianDate }}
                </td>
                <td>
                  <button
                    [ngClass]="
                      entry.isPardakht
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ entry.isPardakht.toStatus() }}
                  </button>
                </td>
                <td>
                  <button
                    [ngClass]="
                      entry.isReject
                        ? 'btn-outline-success'
                        : 'btn-outline-danger'
                    "
                    class="btn btn-sm round mb-0"
                    type="button"
                  >
                    {{ entry.isReject.toStatus() }}
                  </button>
                </td>
                <td class="text-truncate">
                  {{ (entry.price | irc).replace("ریال", "تومان") }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
