<section class="chat-app-window">
  <div class="badge badge-dark mb-1">تاریخچه ی گفتگو</div>
  <ng-scrollbar  class="my-scrollbar">
        <div class="chats">
                <div class="chats">
                  <div class="chat">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="right"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>چطور میتوانیم کمک کنیم؟ ما برای شما اینجا هستیم</p>
                      </div>
                    </div>
                  </div>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="left"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>سلام علی من به دنبال بهترین الگو مدیریت هستم.</p>
                      </div>
                      <div class="chat-content">
                        <p>آیا می توانید به من کمک کنید تا آن را بیابید؟</p>
                      </div>
                      <div class="chat-content">
                        <p>باید بوت استرپ 4 سازگار باشد.</p>
                      </div>
                    </div>
                  </div>
                  <p class="time">1 ساعت پیش</p>
                  <div class="chat">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="right"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>کاملا!</p>
                      </div>
                      <div class="chat-content">
                        <p>Convex admin بوت استرپ پاسخگو 4 قالب مدیریت است.</p>
                      </div>
                    </div>
                  </div>
                  <p class="time">30 دقیقه پیش</p>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="left"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>آیا می توانید لینک صوتی خود را به من بدهید؟</p>
                      </div>
                    </div>
                  </div>
                  <p class="time">20 دقیقه پیش</p>
                  <div class="chat">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="right"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>صدا</p>
                      </div>
                    </div>
                  </div>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="left"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>آیا می توانید لینک ویدیو را به من ارائه دهید؟</p>
                      </div>
                    </div>
                  </div>
                  <p class="time">10 دقیقه پیش</p>
                  <div class="chat">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="right"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>ویدیو</p>
                      </div>
                    </div>
                  </div>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="left"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>به نظر می رسد رابط کاربری پاک و تازه است.</p>
                      </div>
                      <div class="chat-content">
                        <p>این برای پروژه بعدی من مناسب است.</p>
                      </div>
                      <div class="chat-content">
                        <p>چگونه می توانم آن را خریداری کنم؟</p>
                      </div>
                    </div>
                  </div>
                  <p class="time">همین الان</p>
                  <div class="chat">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="right"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>متشکرم از خانم کاظمی زاده</p>
                      </div>
                    </div>
                  </div>
                  <div class="chat chat-left">
                    <div class="chat-avatar">
                      <a
                        class="avatar"
                        data-toggle="tooltip"
                        href="#"
                        data-placement="left"
                        title=""
                        data-original-title=""
                      >
                        <img
                          src="../../../../../../../assets/img/profilepic.png"
                          class="width-50 rounded-circle"
                          alt="avatar"
                        />
                      </a>
                    </div>
                    <div class="chat-body">
                      <div class="chat-content">
                        <p>من آن را مطمئن خریدم.</p>
                      </div>
                      <div class="chat-content">
                        <p>ممنونم</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  </ng-scrollbar>
  
</section>
<section class="chat-app-form bg-blue-grey bg-lighten-5">
  <form class="chat-app-input row">
    <fieldset
      class="form-group position-relative has-icon-left col-lg-10 col-8 m-0"
    >
      <div class="form-control-position">
        <i class="icon-emoticon-smile"></i>
      </div>
      <input
        type="text"
        class="form-control"
        id="iconLeft4"
        placeholder="پیام خود را تایپ کنید"
      />
      <div class="form-control-position control-position-right">
        <i class="ft-image"></i>
      </div>
    </fieldset>
    <fieldset
      class="form-group position-relative has-icon-left col-lg-2 col-4 m-0"
    >
      <button type="button" class="btn btn-info">
        <i class="fa fa-paper-plane-o hidden-lg-up"></i> ارسال
      </button>
    </fieldset>
  </form>
</section>
