<div class="itr-blockquote itm-5cd59d3c14eb0">
  <div class="testi_content">
    <div class="quote_abs">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 44.44 28.27">
        <path
          class="cls-1"
          d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z"
        />
      </svg>
    </div>
    <div class="testi_desc">
      <span style="color: #ffffff"
        >{{feedBack.text}}</span>
    </div>
  </div>
  <div class="testi_holder">
    <div class="testi_img rounded">
      <img
        class="test-img-70x70"
        alt="{{feedBack.name}}"
        [src]="feedBack.picUrl"
      />
    </div>
    <div class="testi_slug">
      <h5 class="testi_author">{{feedBack.name}}</h5>
      <span class="testi_slogan">{{feedBack.jobPosition}}</span>
    </div>
  </div>
</div>
