  <div class="xs-padding itr_section vc_custom_1550741292412">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h6 class="itr-heading simple head_5cd59d3c10c12 centered">
            <span style="color: #ef2674">
              با شبکه پرداخت پِی ، به روش خود دریافت کنید ..
            </span>
          </h6>
          <h3 class="itr-heading simple head_5cd59d3c10d86 centered">
            درگاه پرداخت ، کیف پول، پرداخت با USSD ، فاکتور و فرم پرداخت در
            اختیار شماست
          </h3>
          <div class="steps_wrap horiz_steps">
            <div class="itr_step stp_5cd59d3c11127">
              <div class="stp_wrp">
                <span class="step_line">
                  <i class="stline-checklist-pen step_icon  circle"> </i>
                </span>
                <h4 class="step_title">
                  ثبت نام
                </h4>
                <p class="step_content">
                  براحتی چند کلیک د ر سایت ثبت نام کنید ...
                </p>
              </div>
            </div>
            <div class="itr_step stp_5cd59d3c1126f">
              <div class="stp_wrp">
                <span class="step_line">
                  <i class="stline-wench-double step_icon  circle"></i>
                </span>
                <h4 class="step_title">
                  پروفایلتو تکمیل کن
                </h4>
                <p class="step_content">
                  پروفایلتو تکمیل کن و عکس کارت ملیت رو بفرست
                </p>
              </div>
            </div>
            <div class="itr_step stp_5cd59d3c11375">
              <div class="stp_wrp">
                <span class="step_line">
                  <i class="stline-seo-search-laptop step_icon  circle"></i>
                </span>
                <h4 class="step_title">
                  به همین سادگی تموم شد
                </h4>
                <p class="step_content">
                  حالا دیگه میتونی درگاه پرداخت خودتو داشته باشی
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>