<div class="widget widget_recent_entries">
  <h2 class="widgettitle">پربازدید ترین ها</h2>
  <ul>
    <li *ngFor="let item of blogPostData.mostViewed">
      <a [routerLink]="['/blog/post',item.id,item.title.toSeoString()]">{{item.title}}</a>
    </li>
  </ul>
</div>
<div class="widget widget_recent_entries">
  <h2 class="widgettitle">پربحث ترین ها</h2>
  <ul>
    <li *ngFor="let item of blogPostData.mostCommented">
      <a [routerLink]="['/blog/post',item.id,item.title.toSeoString()]">{{item.title}}</a>
    </li>
  </ul>
</div>
<div class="widget widget_recent_comments">
  <h2 class="widgettitle">آخرین دیدگاه‌ها</h2>
  <ul id="recentcomments">
    <li *ngFor="let item of blogPostData.lastComments" class="recentcomments">
      <span class="comment-author-link">مدیر</span> در
      <a [routerLink]="['/blog']">بارش برف در زمستان</a>
    </li>
  </ul>
</div>
<div class="widget widget_archive">
  <h2 class="widgettitle">بایگانی</h2>
  <ul>
    <li><a class="pointer"
      [routerLink]="['/blog/date/year',toYearMonthDate(dateTime1,true),'month',toYearMonthDate(dateTime1,false),'page',1]" 
      >{{toPersianDate(dateTime1)}}</a></li>
       <li><a class="pointer"
      [routerLink]="['/blog/date/year',toYearMonthDate(dateTime2,true),'month',toYearMonthDate(dateTime2,false),'page',1]" 
      >{{toPersianDate(dateTime2)}}</a></li>
       <li><a class="pointer"
      [routerLink]="['/blog/date/year',toYearMonthDate(dateTime3,true),'month',toYearMonthDate(dateTime3,false),'page',1]" 
      >{{toPersianDate(dateTime3)}}</a></li>
        <li><a class="pointer"
      [routerLink]="['/blog/date/year',toYearMonthDate(dateTime4,true),'month',toYearMonthDate(dateTime4,false),'page',1]" 
      >{{toPersianDate(dateTime4)}}</a></li>
        <li><a class="pointer"
      [routerLink]="['/blog/date/year',toYearMonthDate(dateTime5,true),'month',toYearMonthDate(dateTime5,false),'page',1]" 
      >{{toPersianDate(dateTime5)}}</a></li>
  </ul>
</div>
<div class="widget widget_categories">
  <h2 class="widgettitle">دسته‌ها</h2>
  <ul>
    <li *ngFor="let item of blogPostData.blogGroups" class="cat-item cat-item-7">
      <a class="pointer" [routerLink]="['/blog/group',item.name.toSeoString(),'page',1]" >{{item.name}}</a>
    </li>
  </ul>
</div>
