table {
  width: 100%;
}

.delete-icon {
  font-size: 25px;
  color: red;
}

.edit-icon {
  font-size: 25px;
  color: #111;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
}

.mat-red {
  background: #e24a4a;
  color: #fff;
  float: right !important;
  margin-top: 15px;
}

.mat-green {
  background: #09a84c;
  color: #fff;
  margin: 0 auto;
  float: none;
}

.search-form-field {
  width: 60%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.mat-column-id {
  flex: 0 0 120px;
}
.mat-column-actions {
  flex: 0 0 200px;
}

.col-fontsize-10 {
  font-size: 10px;
  font-weight: 900;
}

.monytoman {
  font-size: 7px;
  color: #979797;
  padding: 0px 2px;
  border-radius: 25px;
  line-height: 2;
  margin-right: 2px;
}
.txtwxp{
    font-size: 14px;
    font-weight: 900;
    color: #ff4081;
}
.btn-action {
  min-width: 20px;
}

.btn-action i {
  font-size: 20px;
}

.btncomy-green {
  color: #0092ff;
}
.exdate {
  border-bottom: 2px solid #e24a4a;
  color: #e24a4a;
}
.txt-price-green {
font-weight: 900;
color: rgb(2, 119, 2);
}