<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/user/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a>مدیریت فاکتور </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
     {{factorDetail.factor.userName}} جزییات فاکتور
    </li>
  </ol>
</nav>
<section id="kb">
  <div class="card bg-gray white text-center p-4">
    <div class="card-header">
      <div class="row">
        <div class="col-6">
          <div
            [ngClass]="
              factorDetail.factor.status ? 'alert-success' : 'alert-secondary'
            "
            class="alert "
          >
            <code class="a-pointer">
              <mat-checkbox
                [checked]="factorDetail.factor.status"
                (change)="onStatusChange($event, factorDetail.factor.id)"
                [disabled]="true"
              ></mat-checkbox>
            </code>
            <strong>تایید شده</strong>
            (وضعیت موفق بودن پرداخت بانکی)
          </div>
          <div class="alert alert-secondary">
            <strong>زمان ثبت درخواست :</strong>
            <code>
              ( {{ factorDetail.factor.dateCreated | date: "HH:mm" }} )
              {{ factorDetail.factor.dateCreated | persianDate }}
            </code>
            <br />
            <strong>زمان اخرین تغییر درخواست :</strong>
            <code>
              ( {{ factorDetail.factor.dateModified | date: "HH:mm" }} )
              {{ factorDetail.factor.dateModified | persianDate }}
            </code>
          </div>
        </div>
        <div class="col-6">
          <h1 class="white">جزییات فاکتور</h1>
          <h4 class="white">
            با شناسه :
            <code>{{ factorDetail.factor.id }}</code>
          </h4>
          <h4 class="white">
            و برای کاربر با نام :
            <code>{{ factorDetail.factor.userName }}</code>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row match-height">
    <div class="col-lg-6 col-md-12">
      <div class="card gradient-mint">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6 text-right pl-0">
                <h4 class="text-white mb-2">موجودی کیف پول</h4>
                <span>درآمد</span>
                <br />
                <span
                  >{{
                    (factorDetail.wallet.interMoney | irc).replace(
                      "ریال",
                      "تومان"
                    )
                  }}
                </span>
              </div>
              <div class="col-6  text-left">
                <h1>
                  <i
                    class="fa fa-line-chart background-round text-white p-2 font-medium-3"
                  ></i>
                </h1>
                <h4 class="pt-1 m-0 text-white">
                  {{
                    (factorDetail.wallet.inventory | irc).replace(
                      "ریال",
                      "تومان"
                    )
                  }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-12">
      <div class="card gradient-orange-amber">
        <div class="card-body">
          <div class="px-3 py-3">
            <div class="row text-white">
              <div class="col-6 text-right pl-0">
                <h4 class="text-white mb-2">درگاه</h4>
                <span>ادرس</span>

                <br />
                <span>{{ factorDetail.gate.websiteUrl }}</span>
              </div>
              <div class="col-6 text-left">
                <h1>
                  <i
                    class="fa fa-star-o background-round text-white p-2 font-medium-3"
                  ></i>
                </h1>
                <h4 class="pt-1 m-0 text-white">
                  {{ factorDetail.gate.websiteName }}
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-home danger font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">
                  {{ factorDetail.factor.bank.toBankName() }}
                </h5>
                <span class="text-muted">نام بانک</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i
                  class="icon-user-following warning  font-large-2 float-left"
                ></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">
                  {{ factorDetail.factor.userName }}
                </h5>
                <span class="text-muted">صاحب حساب</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-rocket info font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">
                  {{ factorDetail.factor.refBank }}
                </h5>
                <span class="text-muted">کد پیگیری</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="px-0 py-3">
            <div class="media">
              <div class="media-left align-self-center">
                <i class="icon-bag success  font-large-2 float-left"></i>
              </div>
              <div class="media-body text-center">
                <h5 class="mb-1 text-bold-500">
                  {{ factorDetail.factor.kind.toFactorType() }}
                </h5>
                <span class="text-muted">نوع فاکتور</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <div class="card-refBank-wrap bar-success">
            <h4 class="card-refBank mb-0">جزییات</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="card-block">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="col-md-12">
                    <input
                      matInput
                      [value]="factorDetail.factor.refBank"
                      readonly
                      placeholder="شماره پیگیری بانک  *"
                    />
                  </mat-form-field>
                </div>
              </div>
              <div class="row"></div>
          </div>
        </div>
        <div class="card-footer">
          <button
            mat-raised-button
            (click)="onClear()"
            color="warn"
            class="float-left mb-10 ml-10"
          >
            <i class="icon-close"></i>
            بازگشت
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div
        [ngClass]="factorDetail.factor.status ? 'bg-success' : 'bg-danger'"
        class="card card-inverse  text-center"
      >
        <div class="card-header">
          <i
            [ngClass]="
              factorDetail.factor.status ? 'icon-like' : 'icon-dislike'
            "
            class=" font-large-1 float-left mr-2"
          ></i>
          <h4 class="card-title">مبلغ نهایی فاکتور</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <h3 class=" bg-wihtred">
              {{
                (factorDetail.factor.endPrice | irc).replace("ریال", "تومان")
              }}
            </h3>
          </div>
        </div>
      </div>
      <div class="card card-inverse  text-center bg-info">
        <div class="card-header">
          <i class="font-large-1 float-left mr-2 ft-alert-circle"></i>
          <h4 class="card-title">قیمت اصلی فاکتور</h4>
        </div>
        <div class="card-body">
          <div class="card-block">
            <h3 class=" bg-wihtred">
              {{ (factorDetail.factor.price | irc).replace("ریال", "تومان") }}
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
