 <div
    class="xs-padding itr_section skew_bg skew-right vc_custom_1554797990844 row_5cd59d3c1e9ef"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3 class="itr-heading simple head_5cd59d3c1f018 left">
            <span style="color: #ffffff">آنچه </span>
          </h3>
          <h4 class="itr-heading simple head_5cd59d3c1f1bb left">
            <span style="color: #ffffff">باید بدانید..</span>
          </h4>
        </div>
        <div class="col-md-9 vc_custom_1552256877042">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <i
                  class="hidden itr-hid-chrt-icon stline-bookmarks-document"
                ></i>
                <div
                  id="chrt_5cd59d3c1fd36"
                  class="itr-circle-pie line-round"
                  data-percentage="65"
                  data-text="استفاده از درگاه های واسط"
                  data-icon="stline-bookmarks-document"
                ></div>
              </div>
              <div class="col-md-4">
                <i class="hidden itr-hid-chrt-icon stline-satellite"></i>
                <div
                  id="chrt_5cd59d3c20182"
                  class="itr-circle-pie line-round"
                  data-percentage="95"
                  data-text="امکانات"
                  data-icon="stline-satellite"
                ></div>
              </div>
              <div class="col-md-4">
                <i
                  class="hidden itr-hid-chrt-icon stline-multiple-man-woman-1"
                ></i>
                <div
                  id="chrt_5cd59d3c205ab"
                  class="itr-circle-pie line-round"
                  data-percentage="90"
                  data-text="رضایتمندی شما"
                  data-icon="stline-multiple-man-woman-1"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
