<section id="shopping-cart">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title-wrap bar-success">
                        <h4 class="card-title">آرشیو مدارک</h4>
                        <p>
                          در صورت تایید نشدن مدارم باید دوباره <code>مدارک</code> خودرا ارسال کنید
                           </p>
                    </div>
                </div>
                <div class="card-body">
                    <div class="card-block">
                        <div class="table-responsive">
                            <table id="recent-orders" class="table table-hover table-xl mb-0">
                                <thead>
                                    <tr>
                                        <th class="border-top-0">وضعیت</th>    
                                        <th class="border-top-0">پاسخ</th>                            
                                        <th class="border-top-0">تصویر ارسالی</th>                            
                                        <th class="border-top-0">نوع حساب</th>                                
                                        <th class="border-top-0">نام</th>
                                        
                                        <th class="border-top-0">تاریخ درخواست</th>
                                    </tr>
                                </thead>
                                <tbody *ngIf="documents$ | async as documents">
                                    <tr *ngFor="let doc of documents">
                                        <td class="text-truncate" *ngIf="doc.approve === 0"><i class="fa fa-dot-circle-o warning font-medium-1 mr-1"></i> در حال بررسی</td>
                                        <td class="text-truncate" *ngIf="doc.approve === 1"><i class="fa fa-dot-circle-o success font-medium-1 mr-1"></i> تایید شده</td>
                                        <td class="text-truncate" *ngIf="doc.approve === 2"><i class="fa fa-dot-circle-o danger font-medium-1 mr-1"></i> رد شده</td>

                                        <td class="text-truncate"> {{doc.message}}</td>

                                        <td class="text-truncate">
                                            <span class="avatar avatar-xs">
                                                <img class="box-shadow-2" src="{{doc.picUrl}}" alt="avatar">
                                            </span>
                                        </td>

                                        <td class="text-truncate"
                                        [ngClass]="{'alert alert-success': doc.isTrue}"
                                        *ngIf="doc.isTrue"> حقیقی</td>

                                        <td class="text-truncate"
                                        [ngClass]="{'alert alert-info': !doc.isTrue}"
                                        *ngIf="!doc.isTrue"> حقوقی</td>

                                        <td class="text-truncate">{{doc.name}}</td>
                                        <td class="text-truncate">{{doc.dateCreated}}</td>
                                    </tr>                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>