
      <h2 mat-dialog-title>افزودن و ویرایش کارت بانکی</h2>

      <mat-dialog-content [formGroup]="form">
              <mat-form-field class="col-md-6">
                <mat-label>نام بانک *</mat-label>
                <mat-select>
                  <mat-option value="bsi">بانک صادرات</mat-option>
                  <mat-option value="mellat">بانک ملت</mat-option>
                  <mat-option value="tejarat">بانک تجارت</mat-option>
                  <mat-option value="bmi">بانک ملی ایران</mat-option>
                  <mat-option value="sepah">بانک سپه</mat-option>
                  <mat-option value="bki">بانک کشاورزی</mat-option>
                  <mat-option value="parsian">بانک پارسیان</mat-option>
                  <mat-option value="maskan">بانک مسکن</mat-option>
                  <mat-option value="rb">بانک رفاه کارگران</mat-option>
                  <mat-option value="en">بانک اقتصاد نوین</mat-option>
                  <mat-option value="post">بانک پست بانک</mat-option>
                  <mat-option value="sina">بانک سینا</mat-option>
                  <mat-option value="bpi">بانک سامان</mat-option>
                  <mat-option value="bpi">بانک پاسارگاد</mat-option>
                  <mat-option value="ansar">بانک انصار</mat-option>
                  <mat-option value="sarmayeh">بانک سرمایه</mat-option>
                  <mat-option value="ba">بانک آینده</mat-option>
                  <mat-option value="shahr">بانک شهر</mat-option>
                  <mat-option value="tt">بانک توسعه تعاون</mat-option>
                  <mat-option value="ghbi">بانک قوامین</mat-option>
                  <mat-option value="tourism">بانک گردشگری</mat-option>
                  <mat-option value="kar">بانک کارآفرین</mat-option>
                  <mat-option value="iz">بانک ایران زمین</mat-option>
                  <mat-option value="hi">بانک حکمت ایرانیان</mat-option>
                  <mat-option value="day">بانک دی</mat-option>
                  <mat-option value="ivbb">بانک صنعت و معدن</mat-option>
                  <mat-option value="me">بانک توسعه صادرات</mat-option>
                  <mat-option value="edbi">بانک خاورمیانه</mat-option>
                  <mat-option value="bim">بانک ایران و ونزولا</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="شماره حساب"/>
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="نام صاحب حساب *" />
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <span matPrefix>IR &nbsp;</span>
                <input type="tel" matInput placeholder="شماره شبا" />
              </mat-form-field>
              <mat-form-field class="col-md-12">
                <input matInput placeholder="شماره کارت *"  />
              </mat-form-field>
              <p class="col-md-12">
                <mat-form-field class="ml-10">
                  <input matInput placeholder="تاریخ انقضا / سال *"/>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="تاریخ انقضا / ماه *"/>
                </mat-form-field>
              </p>
       
      </mat-dialog-content>
      
      <mat-dialog-actions class="float-left">
          <button mat-raised-button matDialogClose
           color="warn" class="float-left mb-10">
              <i class="icon-close"></i>
              انصراف
            </button>
          <button mat-raised-button 
          color="green" class="float-left mb-10">
              <i class="icon-check"></i>
              ذخیره کارت بانکی
            </button>
      </mat-dialog-actions> 
