<div class="col-lg-4 col-md-6 col-12 float-right">
  <div
    class="card  carhover"
    [ngClass]="bankcard.approve ? 'bg-success' : 'bg-danger'">
    <div class="card-body">
      <div class="px-1 py-3">
        <div class="row text-white">
          <div class="col-4">
            <p class="banktiilte">
              <span class="bankicon"><i class="ibl64 ibl-bsi"></i></span>
              <span class="pt-1 m-0 text-white">
                بانک صادرات
              </span>
            </p>
          </div>
          <div class="col-8 text-right pr-0">
            <small class="float-left" *ngIf="bankcard.approve"
              >تایید شده<i class="icon-check px-1"></i
            ></small>
            <small class="float-left" *ngIf="!bankcard.approve"
              >تایید نشده<i class="icon-close px-1"></i
            ></small>
            <h5 class="text-white cardnum">6104-33**-****-2516</h5>
            <span class="float-right lblhesab"
              ><small>شماره حساب : </small><small>578965354</small></span
            >
            <span class="float-left lblexpire"
              ><small>انقضا : </small><small>1403/09</small></span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <button mat-raised-button class="float-left mb-10">
          <i class="icon-note"></i>
          ویرایش کارت بانکی
        </button>
      </div>
    </div>
  </div>
</div>
