<div class="main-panel">
  <div class="main-content">
    <div class="content-wrapper">
      <div class="container-fluid">
        <!-- User Profile Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/dashboard']">داشبورد</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/profile']">کارت ها بانکی </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              مشاهده و ویرایش کارت ها
            </li>
          </ol>
        </nav>
        <!--Basic User Details Starts-->
        <section id="user-area">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <div class="card-title-wrap bar-success">
                    <h4 class="card-title">کارت‌ها</h4>
                  </div>
                  <p>
                    تمام کارت‌های شما در این صفحه نمایش داده می‌شوند
                  </p>
                </div>
                <div class="card-body">
                  <div class="col-xl-3 col-lg-6 col-12">
                    <div class="card bg-success">
                      <div class="card-body">
                        <div class="px-1 py-3">
                          <div class="row text-white">
                            <div class="col-4">
                              <p class="banktiilte">
                                <span class=bankicon><i class="ibl64 ibl-bsi"></i></span>
                                <span class="pt-1 m-0 text-white">
                                  بانک صادرات
                                </span>
                              </p>
                            </div>
                            <div class="col-8 text-right pr-0">
                              <small class="float-left">تایید شده<i class="icon-check px-1"></i></small>
                              <h4 class="text-white mb-2">6104-3356-8914-2516</h4>
                              <span>90%</span>
                              <br />
                              <span>شبکه</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--User Profile Starts-->
      </div>
    </div>
  </div>
</div>
