<div class="widget widget_recent_entries">
  <h2 class="widgettitle">پربازدید ترین ها</h2>
  <ul>
    <li *ngFor="let item of blogDirData.mostViewed">
      <a [routerLink]="['/blog/post']">{{item.title}}</a>
    </li>
  </ul>
</div>
<div class="widget widget_recent_entries">
  <h2 class="widgettitle">پربحث ترین ها</h2>
  <ul>
    <li *ngFor="let item of blogDirData.mostCommented">
      <a [routerLink]="['/blog/post']">{{item.title}}</a>
    </li>
  </ul>
</div>
<div class="widget widget_recent_comments">
  <h2 class="widgettitle">آخرین دیدگاه‌ها</h2>
  <ul id="recentcomments">
    <li *ngFor="let item of blogDirData.lastComments" class="recentcomments">
      <span class="comment-author-link">مدیر</span> در
      <a [routerLink]="['/blog']">بارش برف در زمستان</a>
    </li>
  </ul>
</div>
<div class="widget widget_archive">
  <h2 class="widgettitle">بایگانی</h2>
  <ul>
    <li><a class="pointer" (click)="changeFilter(toFilterDate(dateTime1))">{{toPersianDate(dateTime1)}}</a></li>
    <li><a class="pointer"  (click)="changeFilter(toFilterDate(dateTime2))">{{toPersianDate(dateTime2)}}</a></li>
    <li><a class="pointer"  (click)="changeFilter(toFilterDate(dateTime3))">{{toPersianDate(dateTime3)}}</a></li>
  </ul>
</div>
<div class="widget widget_categories">
  <h2 class="widgettitle">دسته‌ها</h2>
  <ul>
    <li *ngFor="let item of blogDirData.blogGroups" class="cat-item cat-item-7">
      <a class="pointer" [routerLink]="['/blog/group',item.name,'page',blogDirData.blogs.pagination.currentPage]" >{{item.name}}</a>
    </li>
  </ul>
</div>
