  <div
    class="xs-padding itr_section skew_bg vc_custom_1554798007227 row_5cd59d3c11ad6"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 vc_custom_1550746661362" id="feedbak-place">
          <h3 class="itr-heading style2 head_5cd59d3c120e7 left">
            با <span style="color: #ef2674">ما</span>
          </h3>
          <div
            class="wpb_text_column wpb_content_element  vc_custom_1554372234395"
          >
            <div class="wpb_wrapper">
              <p>
                برای رشد کسب و کار پذیرندگان، ما مثل شما فکر میکنیم تا بتونیم
                بهترین ابزارها و راه حل ها رو آماده کنیم
              </p>
            </div>
          </div>
          <div
            class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey prog1 square"
          >
            <div class="vc_single_bar ">
              <h6 class="vc_label">شروع کار</h6>
              <span
                class="vc_bar "
                data-percentage-value="40"
                data-value="40"
                style="background-color: #ff2a2a;"
              >
                <span class="vc_label_units">۴۰%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">اتصال درگاه به ما</h6>
              <span
                class="vc_bar "
                data-percentage-value="68"
                data-value="68"
                style="background-color: #ef2674;"
              >
                <span class="vc_label_units">۶۸%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">فروش محصولات</h6>
              <span
                class="vc_bar "
                data-percentage-value="85"
                data-value="85"
                style="background-color: #3da6ff;"
              >
                <span class="vc_label_units">۸۵%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">موفقیت</h6>
              <span
                class="vc_bar "
                data-percentage-value="100"
                data-value="100"
                style="background-color: #49bd61;"
              >
                <span class="vc_label_units">۱۰۰%</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="itr-heading style2 head_5cd59d3c12e3e left">
            <span style="color: #000000">
              <span style="color: #000000">آنچه</span>
              <span style="color: #ffffff">مردم می گویند!!</span>
            </span>
          </h3>
          <div class="container">
            <div class="row vc_custom_1552227527054">
              <div class="col-md-12">
                <div
                  class="itr-testimonials testi-5cd59d3c14d03 itr-testimonial-1 itr-carousel-slider bullets-1 cust_nxt cust_prv"
                  data-type="horizontal"
                  data-slidesnum="1"
                  data-scamount="1"
                  data-speed="500"
                  data-arrow-shape="circle"
                  data-dots="1"
                  data-arrows="1"
                  data-next-icon="fa fa-chevron-right"
                  data-prev-icon="fa fa-chevron-left"
                  data-auto ="1"
                >
                <ng-container *ngFor="let feedBack of feedBacks">
                  <app-feedback-item [feedBack]="feedBack" class=""></app-feedback-item>
                </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
