  <div
    class="xs-padding itr_section skew_bg vc_custom_1554798007227 row_5cd59d3c11ad6"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-6 vc_custom_1550746661362" id="feedbak-place">
          <h3 class="itr-heading style2 head_5cd59d3c120e7 left">
            با <span style="color: #ef2674">ما</span>
          </h3>
          <div
            class="wpb_text_column wpb_content_element  vc_custom_1554372234395"
          >
            <div class="wpb_wrapper">
              <p>
                برای رشد کسب و کار پذیرندگان، ما مثل شما فکر میکنیم تا بتونیم
                بهترین ابزارها و راه حل ها رو آماده کنیم
              </p>
            </div>
          </div>
          <div
            class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey prog1 square"
          >
            <div class="vc_single_bar ">
              <h6 class="vc_label">شروع کار</h6>
              <span
                class="vc_bar "
                data-percentage-value="40"
                data-value="40"
                style="background-color: #ff2a2a;"
              >
                <span class="vc_label_units">۴۰%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">اتصال درگاه به ما</h6>
              <span
                class="vc_bar "
                data-percentage-value="68"
                data-value="68"
                style="background-color: #ef2674;"
              >
                <span class="vc_label_units">۶۸%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">فروش محصولات</h6>
              <span
                class="vc_bar "
                data-percentage-value="85"
                data-value="85"
                style="background-color: #3da6ff;"
              >
                <span class="vc_label_units">۸۵%</span>
              </span>
            </div>
            <div class="vc_single_bar ">
              <h6 class="vc_label">موفقیت</h6>
              <span
                class="vc_bar "
                data-percentage-value="100"
                data-value="100"
                style="background-color: #49bd61;"
              >
                <span class="vc_label_units">۱۰۰%</span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="itr-heading style2 head_5cd59d3c12e3e left">
            <span style="color: #000000">
              <span style="color: #000000">آنچه</span>
              <span style="color: #ffffff">مردم می گویند!!</span>
            </span>
          </h3>
          <div class="container">
            <div class="row vc_custom_1552227527054">
              <div class="col-md-12">
                <div
                  class="itr-testimonials testi-5cd59d3c14d03 itr-testimonial-1 itr-carousel-slider bullets-1 cust_nxt cust_prv"
                  data-type="horizontal"
                  data-slidesnum="1"
                  data-scamount="1"
                  data-speed="500"
                  data-arrow-shape="circle"
                  data-dots="1"
                  data-arrows="1"
                  data-next-icon="fa fa-chevron-right"
                  data-prev-icon="fa fa-chevron-left"
                  data-auto ="1"
                >
                  <div class="">
                    <div class="itr-blockquote itm-5cd59d3c14eb0">
                      <div class="testi_content">
                        <div class="quote_abs">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 44.44 28.27"
                          >
                            <path
                              class="cls-1"
                              d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z"
                            />
                          </svg>
                        </div>
                        <div class="testi_desc">
                          <span style="color: #ffffff"
                            >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                            و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است</span
                          >
                        </div>
                      </div>
                      <div class="testi_holder">
                        <div class="testi_img rounded">
                          <img
                            class="test-img-70x70"
                            alt=""
                            src="../../../../../../assets/wp-content/uploads/2019/03/testo1.jpg"
                          />
                        </div>
                        <div class="testi_slug">
                          <h5 class="testi_author">آرش خادملو</h5>
                          <span class="testi_slogan">لیدر تیم</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="itr-blockquote itm-5cd59d3c1581c">
                      <div class="testi_content">
                        <div class="quote_abs">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 44.44 28.27"
                          >
                            <path
                              class="cls-1"
                              d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z"
                            />
                          </svg>
                        </div>
                        <div class="testi_desc">
                          <span style="color: #ffffff"
                            >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                            و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است</span
                          >
                        </div>
                      </div>
                      <div class="testi_holder">
                        <div class="testi_img rounded">
                          <img
                            class="test-img-70x70"
                            alt=""
                            src="../../../../../../assets/wp-content/uploads/2019/03/testo2.jpg"
                          />
                        </div>
                        <div class="testi_slug">
                          <h5 class="testi_author">آرش خادملو</h5>
                          <span class="testi_slogan">لیدر تیم</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="">
                    <div class="itr-blockquote itm-5cd59d3c15fea">
                      <div class="testi_content">
                        <div class="quote_abs">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 44.44 28.27"
                          >
                            <path
                              class="cls-1"
                              d="M5.48,0H22.54L12.73,28.27H0Zm22,0H44.44L34.76,28.27H22Z"
                            />
                          </svg>
                        </div>
                        <div class="testi_desc">
                          <span style="color: #ffffff"
                            >لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                            صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها
                            و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                            لازم است</span
                          >
                        </div>
                      </div>
                      <div class="testi_holder">
                        <div class="testi_img rounded">
                          <img
                            class="test-img-70x70"
                            alt=""
                            src="../../../../../../assets/wp-content/uploads/2019/03/testo3.jpg"
                          />
                        </div>
                        <div class="testi_slug">
                          <h5 class="testi_author">آرش خادملو</h5>
                          <span class="testi_slogan">لیدر تیم</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
