
        <!-- User Profile Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/dashboard']">داشبورد</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/profile']">تنظیمات اطلاع رسانی </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              مشاهده و ویرایش اطلاع رسانی ها
            </li>
          </ol>
        </nav>
        <div class="chat-application mt-2 row">
          <div class="col-md-4 pl-0">
              <div class="chat-sidebar float-left d-none d-sm-none d-md-block d-lg-block">
                  <div class="chat-sidebar-content">
                      <div class="chat-fixed-search p-2">
                          <form>
                              <div class="position-relative has-icon-left">
                                  <input class="form-control" id="timesheetinput1" name="employeename" type="text">
                                  <div class="form-control-position">
                                      <i class="ft-user"></i>
                                  </div>
                              </div>
                          </form>
                      </div>
                      <div id="users-list" class="list-group position-relative">
                          <div class="users-list-padding">
                              <a class="list-group-item bg-blue-grey bg-lighten-5 border-right-primary border-right-2">
                                  <!-- (click)="SetActive($event, 'chat1')" -->
                                  <span class="media">
                                      <div class="media-body">
                                          <h6 class="list-group-item-heading my-2">
                                              سارا وزیری
                                              <span class="float-left info"> بعد از ظهر</span>
                                          </h6>
                                          <p class="list-group-item-text text-muted my-2">
                                              <i class="info font-small-2">#</i> 25698563154
                                              <span class="float-left info">
                                                <a class="btn mr-1 btn-round shadow-z-2 btn-danger lbl-show">بسته</a>
                                                <a class="btn mr-1 btn-round shadow-z-2 btn-warning lbl-show">مهم</a>
                                              </span>
                                          </p>
                                      </div>
                                  </span>
                              </a>
                              <a class="list-group-item no-border">
                                  <!-- (click)="SetActive($event,'chat2')" -->
                                  <span class="media">
                                      <div class="media-body">
                                          <h6 class="list-group-item-heading">
                                              احمد زمانی
                                              <span class="float-left info">قبل از ظهر</span>
                                          </h6>
                                          <p class="list-group-item-text text-muted">
                                              <i class="info font-small-2">#</i> 25698563154
                                              <span class="float-left info"> 
                                                <a class="btn mr-1 btn-round shadow-z-2 btn-info lbl-show">باز</a>
    
                                                <a class="btn mr-1 btn-round shadow-z-2 btn-warning lbl-show">مهم</a>
                                              </span>
                                              
                                          </p>
                                      </div>
                                  </span>
                              </a>
                          </div>
                          <div class="btnadd-div my-4">
                              
                              <button
                              tooltip="افزودن تیکت جدید" placement="top" show-delay="300"
                              mat-raised-button
                              color="green"
                              class="float-left mb-10"
                            >
                              <i class="ft-plus-circle"></i>
                            </button>
                          </div>
                          <div class="btnadd-div">
                              <button
                              mat-raised-button
                              color="red"
                              class="float-left mb-10"
                            >
                              <i class="icon-arrow-right"></i>
                              قدیمی تر
                            
                          </button>
                            <button
                              mat-raised-button
                              color="blue"
                              class="float-left mb-10"
                            >
                              جدید تر
                              <i class="icon-arrow-left"></i>
                             </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-8 pr-0">
              <div class="chat-name p-2 bg-white">
              <div class="media">
                  <span class="chat-app-sidebar-toggle ft-align-justify font-large-1 mr-2 d-none d-block d-sm-block d-md-none"></span>
                  <img src="../../../../../../../assets/img/profilepic.png" width="37" class="rounded-circle ml-1" alt="avatar" />
                  <div class="media-body">
                      <span class="float-right">
                          سارا وزیری
                          <p class="success font-small-2">آنلاین</p>
                      </span>
                      <i class="ft-more-vertical float-left mt-1"></i>
                  </div>
              </div>
          </div>
          <section class="chat-app-window">
              <div class="badge badge-dark mb-1">تاریخچه ی گفتگو</div>
              <div class="chats">
                  <div class="chats">
                      <div class="chat">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                  <img src="img/portrait/small/avatar-s-1.jpg" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>چطور میتوانیم کمک کنیم؟ ما برای شما اینجا هستیم</p>
                              </div>
                          </div>
                      </div>
                      <div class="chat chat-left">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>سلام علی من به دنبال بهترین الگو مدیریت هستم.</p>
                              </div>
                              <div class="chat-content">
                                  <p>آیا می توانید به من کمک کنید تا آن را بیابید؟</p>
                              </div>
                              <div class="chat-content">
                                  <p>باید بوت استرپ 4 سازگار باشد.</p>
                              </div>
                          </div>
                      </div>
                      <p class="time">1 ساعت پیش</p>
                      <div class="chat">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>کاملا!</p>
                              </div>
                              <div class="chat-content">
                                  <p>Convex admin بوت استرپ پاسخگو 4 قالب مدیریت است.</p>
                              </div>
                          </div>
                      </div>
                      <p class="time">30 دقیقه پیش</p>
                      <div class="chat chat-left">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>آیا می توانید لینک صوتی خود را به من بدهید؟</p>
                              </div>
                          </div>
                      </div>
                      <p class="time">20 دقیقه پیش</p>
                      <div class="chat">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>صدا</p>
                              </div>
                          </div>
                      </div>
                      <div class="chat chat-left">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>آیا می توانید لینک ویدیو را به من ارائه دهید؟</p>
                              </div>
                          </div>
                      </div>
                      <p class="time">10 دقیقه پیش</p>
                      <div class="chat">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>ویدیو</p>
                              </div>
                          </div>
                      </div>
                      <div class="chat chat-left">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>به نظر می رسد رابط کاربری پاک و تازه است.</p>
                              </div>
                              <div class="chat-content">
                                  <p>این برای پروژه بعدی من مناسب است.</p>
                              </div>
                              <div class="chat-content">
                                  <p>چگونه می توانم آن را خریداری کنم؟</p>
                              </div>
                          </div>
                      </div>
                      <p class="time">همین الان</p>
                      <div class="chat">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="right" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>متشکرم از خانم کاظمی زاده </p>
                              </div>
                          </div>
                      </div>
                      <div class="chat chat-left">
                          <div class="chat-avatar">
                              <a class="avatar" data-toggle="tooltip" href="#" data-placement="left" title="" data-original-title="">
                                  <img src="../../../../../../../assets/img/profilepic.png" class="width-50 rounded-circle" alt="avatar" />
                              </a>
                          </div>
                          <div class="chat-body">
                              <div class="chat-content">
                                  <p>من آن را مطمئن خریدم.</p>
                              </div>
                              <div class="chat-content">
                                  <p>ممنونم</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="chat-app-form bg-blue-grey bg-lighten-5">
              <form class="chat-app-input row">
                  <fieldset class="form-group position-relative has-icon-left col-lg-10 col-8 m-0">
                      <div class="form-control-position">
                          <i class="icon-emoticon-smile"></i>
                      </div>
                      <input type="text" class="form-control" id="iconLeft4" placeholder="پیام خود را تایپ کنید">
                      <div class="form-control-position control-position-right">
                          <i class="ft-image"></i>
                      </div>
                  </fieldset>
                  <fieldset class="form-group position-relative has-icon-left col-lg-2 col-4 m-0">
                      <button type="button" class="btn btn-info">
                          <i class="fa fa-paper-plane-o hidden-lg-up"></i> ارسال
                      </button>
                  </fieldset>
              </form>
          </section>
          </div>
         
        
      </div>
