.text-muted{
font-size: 12px;
}
.lbl-show{
    font-size: 15px;

padding: 2px 10px 3px;
}

.mat-green {
    background: #4caf50;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 50px;   
      padding: 20px;
    float: none !important;
  }
  .ft-plus-circle{
    font-size: 40px;
  }
  .mat-red {
    background: #ff4949;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 50px;  
    border-top-left-radius:4px;        
    border-bottom-left-radius:4px;            
    float: right !important;
  }
  .mat-blue {
    background: #197dff;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    border-radius: 50px;   
    border-top-right-radius:4px;        
    border-bottom-right-radius:4px;           
    float: left !important;
  }
  .btnadd-div{
      text-align: center;
  }
  pl-0{
      padding-left: 0 !important;

  }pr-0{
    padding-left: 0 !important;

}

.divtopnav{
  border-bottom: 1px solid #D9D9D9;
}
.divmottnav{
  padding-top: 15px;
}

.media-body{
padding: 0 25px;
}
.update-time{
  margin-left: 25px;
}
.chats{
  background: #fff;
padding: 25px 15px;
}.my-scrollbar {
  --scrollbar-color: transparent;
  --scrollbar-container-color: transparent;
  --scrollbar-thumb-color: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.3);
  --scrollbar-border-radius: 4px;
  --scrollbar-size: 6px;
  --scrollbar-padding: 8px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;
  height:500px ;
}
