<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/panel/admin/dashboard']">داشبورد</a>
    </li>
    <li class="breadcrumb-item">
      <a>ادمین </a>
    </li>

    <li class="breadcrumb-item active" aria-current="page">
      مدیریت فایل ها
    </li>
  </ol>
</nav>
<section>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="card-title-wrap bar-success">
            <h4 class="card-title">مدیریت فایل ها</h4>
          </div>
          <p>
            امکان کپی ، انتقال ، حذف ، اپلود و مشاهده ی فایل ها را در این بخش دارید
          </p>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--User Profile Starts-->
