table {
  width: 100%;
}

.delete-icon {
  font-size: 25px;
  color: red;
}

.edit-icon {
  font-size: 25px;
  color: #111;
}

.hide {
  display: none;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
  font-size: 17px;
  font-weight: 900;
}

.mat-blue {
  background: #197dff;
  color: #fff;
  float: right !important;
  margin-top: 15px;
}

.search-form-field {
  width: 60%;
  margin-right: 10px;
  margin-bottom: 15px;
}

.user-img {
  width: 35px;
  border-radius: 53px;
  border: 2px solid #ededed;
}

.mat-column-photoUrl {
  flex: 0 0 60px;
}

.mat-column-id{
  flex: 0 0 200px;
}
.mat-column-userName {
  flex: 0 0 150px;
}
.mat-column-phoneNumber {
  flex: 0 0 130px;
}

.col-fontsize-10{
  font-size: 10px;
  font-weight: 900;
}
.monytoman{
      font-size: 8px;
      background: #f14a4a;
      color: #fff;
      padding: 0px 2px;
      border-radius: 25px;
      line-height: 2;
      margin-right: 2px;
}