<h2 mat-dialog-title class="mmatdiagtitle">
  مشخصات شخص حقوقی
</h2>

<mat-dialog-content [formGroup]="">
  <mat-form-field class="col-md-12 ml-10">
    <input
      matInput
      formControlName="ownerName"
      placeholder="نام شرکت یا سازمان *"
    />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="ownerName" placeholder="شناسه ملی *" />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input matInput formControlName="ownerName" placeholder="شماره ثبت *" />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input
      matInput
      formControlName="ownerName"
      placeholder="تاریخ تولد مدیر عامل *"
    />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10">
    <input
      matInput
      formControlName="ownerName"
      placeholder="آدرس و کد پستی *"
    />
    <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
  </mat-form-field>
  <mat-form-field class="col-md-12 ml-10 ngxmatfileinput">
      <ngx-mat-file-input
        formControlName="ownerName"
        placeholder="تصویر کارت ملی مدیرعامل *"
      >
      </ngx-mat-file-input>
      <i class="icon-camera float-left icon-fileupload">
        </i>
      <mat-error>این فیلد نمیتواند خالی باشد</mat-error>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="float-left">
  <button mat-raised-button color="green" class="float-left mb-10 mx-1">
    <i class="icon-check"></i>
    <span>ارسال مدارک</span>
  </button>
  <button
    mat-raised-button
    matDialogClose
    color="warn"
    class="float-left mb-10"
  >
    <i class="icon-close"></i>
    انصراف
  </button>
</mat-dialog-actions>
