<div class="wrapper"><!--Login Page Starts-->
  <section id="login">
      <div class="container-fluid">
          <div class="row full-height-vh">
              <div class="col-12 d-flex align-items-center justify-content-center gradient-aqua-marine">
                  <div class="card px-4 py-2 box-shadow-2 width-400">
                      <div class="card-header text-center">
                          <img src="img/logos/logo-color-big.png" alt="company-logo" class="mb-3" width="80">
                          <h4 class="text-uppercase text-bold-400 grey darken-1">ورود</h4>
                      </div>
                      <div class="card-body">
                          <div class="card-block">
                              <form>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <input type="email" class="form-control form-control-lg" name="inputEmail" id="inputEmail" placeholder="ایمیل" required email>
                                      </div>
                                  </div>
  
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <input type="password" class="form-control form-control-lg" name="inputPass" id="inputPass" placeholder="رمز عبور" required>
                                      </div>
                                  </div>
  
                                  <div class="form-group">
                                      <div class="row">
                                          <div class="col-md-12">
                                              <div class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0 ml-5">
                                                  <input type="checkbox" class="custom-control-input" checked id="rememberme">
                                                  <label class="custom-control-label float-left" for="rememberme">مرا به خاطر بسپار</label>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
  
                                  <div class="form-group">
                                      <div class="text-center col-md-12">
                                          <button type="submit" class="btn btn-danger px-4 py-2 text-uppercase white font-small-4 box-shadow-2 border-0">ارسال</button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                      <div class="card-footer grey darken-1">
                          <div class="text-center mb-1">رمز عبور را فراموش کرده اید؟ <a><b>بازیابی</b></a></div>
                          <div class="text-center">آیا حساب کاربری ندارید؟ <a><b>ثبت نام</b></a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--Login Page Ends-->
      </div>