  <div
    class="xs-padding itr_section skew_bg skew-center vc_custom_1552256739333 row_5cd59d3c20dd0"
  >
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h3 class="itr-heading style2 centered">
            آخرین مطالب <span style="color: #ef2674">وبلاگ</span> &#8230;
          </h3>
          <div
            id="caros_5cd59d3c21c90"
            class="itr-carousel-slider multi-slides bullets-2"
            data-type="horizontal"
            data-slidesnum="4"
            data-scamount="1"
            data-dots="1"
            data-auto="1"
            data-arrows="1"
            data-arrow-shape="circle"
            data-next-icon="fa fa-chevron-right"
            data-prev-icon="fa fa-chevron-left"
          >
          <ng-container *ngFor="let item of blogs">
            <app-blog-item [blog]="item" class="wpb_single_image wpb_content_element vc_align_center">
            </app-blog-item>
          </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>