<div class="itr-blog-single">
  <article class="itr-post-content">
    <div class="itr-single-img">
      <img
        width="1024"
        height="680"
        src="{{blogPostData.blog.picAddress}}?h=680"
        class="attachment-full size-full wp-post-image"
        alt="{{blogPostData.blog.title}}"
        srcset="
          {{blogPostData.blog.picAddress}}?w=1024 1024w,
          {{blogPostData.blog.picAddress}}?w=600  600w,
          {{blogPostData.blog.picAddress}}?w=300  300w,
          {{blogPostData.blog.picAddress}}?w=768  768w
        "
        sizes="(max-width: 1024px) 100vw, 1024px"
      />
    </div>
    <div class="post-info">
      <div class="meta_date">{{blogPostData.blog.dateModified | persianDate}} </div>
      <h2 class="itr-single-title">{{blogPostData.blog.title}}</h2>
      <ul class="post-meta">
        <li class="meta-user">
          <a [routerLink]="['/blog/search',blogPostData.blog.name.toSeoString(),'page',1]">{{blogPostData.blog.name}}</a></li>
        <li><a [routerLink]="['/blog/post',blogPostData.blog.id,blogPostData.blog.title.toSeoString(),'#comments']">0 نظر</a></li>
        <!-- <li>
          <span class="hidden lk">لایک</span
          ><span class="hidden unlk">Unلایک</span
          ><a href="#" class="jm-post-like" data-post_id="3582" title="لایک"
            ><i class="fa fa-heart main-color" data-hover="\f08a"></i
            ><span>4</span></a
          >
        </li> -->
        <li>{{blogPostData.blog.viewCount}} بازدید</li>
      </ul>
      <div class="itr-single-cats">
        <ul class="post-categories">
          <li>
            <a [routerLink]="['/blog/group',blogPostData.blog.blogGroupName.toSeoString(),'page',1]" rel="category tag">{{blogPostData.blog.blogGroupName}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div
    [innerHtml]="blogPostData.blog.text | safeHtml"
    class="itr-single-content" >
    </div>

    <div class="itr-post-block itr-single-tags">
      <a *ngFor="let tag of blogPostData.blog.tags.split(',')" 
      [routerLink]="['/blog/search',tag.toSeoString(),'page',1]" rel="tag">{{tag}}</a>
    </div>
    <div class="itr-post-block itr_post_share">
      <span class="main-color">اشتراک: </span>
      <div
        class="itr_single_share jssocials"
        data-share-on="twitter,facebook,googleplus,linkedin,pinterest"
      >
        <div class="jssocials-shares">
          <div class="jssocials-share jssocials-share-twitter">
            <a
              target="_blank"
              href="https://twitter.com/share?url="
              class="jssocials-share-link"
              ><i class="fa fa-twitter jssocials-share-logo"></i
              ><i class="fa fa-twitter jssocials-share-logo"></i
            ></a>
            <div class="jssocials-share-count-box jssocials-share-no-count">
              <span class="jssocials-share-count"></span>
            </div>
          </div>
          <div class="jssocials-share jssocials-share-facebook">
            <a
              target="_blank"
              href="https://facebook.com/sharer/sharer.php?u="
              class="jssocials-share-link"
              ><i class="fa fa-facebook jssocials-share-logo"></i
              ><i class="fa fa-facebook jssocials-share-logo"></i
            ></a>
            <div class="jssocials-share-count-box jssocials-share-no-count">
              <span class="jssocials-share-count"></span>
            </div>
          </div>
          <div class="jssocials-share jssocials-share-googleplus">
            <a
              target="_blank"
              href="https://plus.google.com/share?url="
              class="jssocials-share-link"
              ><i class="fa fa-google jssocials-share-logo"></i
              ><i class="fa fa-google jssocials-share-logo"></i
            ></a>
            <div class="jssocials-share-count-box jssocials-share-no-count">
              <span class="jssocials-share-count"></span>
            </div>
          </div>
          <div class="jssocials-share jssocials-share-linkedin">
            <a
              target="_blank"
              href="https://www.linkedin.com/shareArticle?mini=true&amp;url="
              class="jssocials-share-link"
              ><i class="fa fa-linkedin jssocials-share-logo"></i
              ><i class="fa fa-linkedin jssocials-share-logo"></i
            ></a>
            <div class="jssocials-share-count-box jssocials-share-no-count">
              <span class="jssocials-share-count"></span>
            </div>
          </div>
          <div class="jssocials-share jssocials-share-pinterest">
            <a
              target="_blank"
              href="https://pinterest.com/pin/create/bookmarklet/?&amp;url="
              class="jssocials-share-link"
              ><i class="fa fa-pinterest jssocials-share-logo"></i
              ><i class="fa fa-pinterest jssocials-share-logo"></i
            ></a>
            <div class="jssocials-share-count-box jssocials-share-no-count">
              <span class="jssocials-share-count"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="blogPostData.leftBlog != null || blogPostData.rightBlog != null" class="itr-post-block nav-single">
      <div  *ngIf="blogPostData.leftBlog != null" class="nav-previous">
        <a  [routerLink]="['/blog/post',blogPostData.leftBlog.id,blogPostData.leftBlog.title.toSeoString()]" rel="prev"
          ><span class="meta-nav"
            ><i class="fa fa-long-arrow-left"></i>پست قبلی
          </span>
          <span class="nav-block main-color">{{blogPostData.leftBlog.title}}</span></a
        >
      </div>
      <a [routerLink]="['']" class="nav-blog main-color"
        ><i class="stline-navigation-menu-3"></i
      ></a>
      <div *ngIf="blogPostData.rightBlog != null" class="nav-next text-right">
        <a [routerLink]="['/blog/post',blogPostData.rightBlog.id,blogPostData.rightBlog.title.toSeoString()]" rel="next"
          ><span class="meta-nav"
            >پست بعدی <i class="fa fa-long-arrow-right"></i
          ></span>
          <span class="nav-block main-color">{{blogPostData.rightBlog.title}}</span></a
        >
      </div>
    </div>
    <div class="itr-related-posts">
      <h3 class="itr-inner-heading">
        بلاگ های مرتبط <span class="main-color">این پست هارو هم بخون</span>
      </h3>
      <div class="row">
        <div *ngFor="let blog of blogPostData.relatedBlogs"   class="col-md-4">
          <div class="itr_rel_img">
            <a
              [routerLink]="['/blog/post',blog.id,blog.title.toSeoString()]"
              rel="bookmark"
              ><img
                width="1024"
                height="680"
                src="{{blog.picAddress}}?h=680"
                class="attachment-large size-large wp-post-image"
                alt="{{blog.title}}"
                srcset="
                  {{blog.picAddress}}?w=1024         1024w,
                  {{blog.picAddress}}?w=600  600w,
                  {{blog.picAddress}}?w=300  300w,
                  {{blog.picAddress}}?w=768  768w
                "
                sizes="(max-width: 1024px) 100vw, 1024px"
            /></a>
          </div>
          <h5 class="itr_rel_link">
            <a
              [routerLink]="['/blog/post',blog.id,blog.title.toSeoString()]"
              rel="bookmark"
              >{{blog.title}}</a
            >
          </h5>
          <div class="itr_rel_date">{{blog.dateModified | persianDate}}</div>
        </div>
    
      </div>
    </div>

    <div id="comments" class="comments">
      <h3 class="itr-inner-heading">نظرات</h3>

      <p class="hint text-right bold">
        <span class="main-color">0</span> نظرات
      </p>

      <ul class="comment-list">
        <!-- <li
          id="comment-3"
          class="comment byuser comment-author-admin bypostauthor even thread-even depth-1"
        >
          <article id="div-comment-3" class="comment-body">
            <footer class="comment-meta">
              <div class="comment-author vcard">
                <img
                  alt=""
                  src="http://0.gravatar.com/avatar/f6796c48158664cc9e89b7a39e078eb9?s=32&amp;d=mm&amp;r=g"
                  srcset="
                    http://0.gravatar.com/avatar/f6796c48158664cc9e89b7a39e078eb9?s=64&amp;d=mm&amp;r=g 2x
                  "
                  class="avatar avatar-32 photo"
                  height="32"
                  width="32"
                />
                <b class="fn">مدیر</b> <span class="says">گفت:</span>
              </div>
              <div class="comment-metadata">
                <a href="index.html#comment-3">
                  <time datetime="۱۳۹۸/۱/۱۷ ۱۷:۲۴:۵۵">
                    فروردین ۱۷, ۱۳۹۸ در ۵:۲۴ ب٫ظ
                  </time>
                </a>
              </div>
            </footer>
            <div class="comment-content">
              <p>بهترین طرح بندی رو داره این قالب</p>
            </div>

            <div class="reply">
              <a
                rel="nofollow"
                class="comment-reply-link"
                href="index3094.html?replytocom=3#respond"
                data-commentid="3"
                data-postid="114"
                data-belowelement="div-comment-3"
                data-respondelement="respond"
                aria-label="پاسخ به مدیر"
                >پاسخ</a
              >
            </div>
          </article>
        </li> -->
      </ul>
    </div>
    <div id="respond" class="comment-respond">
      <div
        class="comment-form"
        novalidate=""
      >
        <p class="comment-notes">
          <span id="email-notes">نشانی ایمیل شما منتشر نخواهد شد.</span> بخش‌های
          موردنیاز علامت‌گذاری شده‌اند <span class="required">*</span>
        </p>
        <p class="comment-form-comment">
          <label for="comment">دیدگاه</label>
          <textarea
            id="comment"
            name="comment"
            cols="45"
            rows="8"
            maxlength="65525"
            required="required"
          ></textarea>
        </p>
        <p class="comment-form-author">
          <label for="author">نام <span class="required">*</span></label>
          <input
            id="author"
            name="author"
            type="text"
            value=""
            size="30"
            maxlength="245"
            required="required"
          />
        </p>
        <p class="comment-form-email">
          <label for="email">ایمیل <span class="required">*</span></label>
          <input
            id="email"
            name="email"
            type="email"
            value=""
            size="30"
            maxlength="100"
            aria-describedby="email-notes"
            required="required"
          />
        </p>
        <p class="comment-form-cookies-consent">
          <input
            id="wp-comment-cookies-consent"
            name="wp-comment-cookies-consent"
            type="checkbox"
            value="yes"
          /><label for="wp-comment-cookies-consent"
            >ذخیره نام، ایمیل و وبسایت من در مرورگر برای زمانی که دوباره دیدگاهی
            می‌نویسم.</label
          >
        </p>
        <p class="form-submit">
          <a
            name="submit"
            (click)="sendComment"
            class="submit"
            value="ارسال دیدگاه"
          ></a>
        </p>
      </div>
    </div>
    <!-- #respond -->
  </article>
</div>
