<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <div class="main-content">
      <div class="content-wrapper">
        <div class="container-fluid">
          <router-outlet> </router-outlet>
        </div>
      </div>
    </div>
    <footer class="footer footer-static footer-light float-left">
      <p class="clearfix text-muted text-center px-2">
        <span>
          copyright &copy; 2019
          <a
            href="..."
            id="pixinventLink"
            target="_blank"
            class="text-bold-800 primary darken-2"
          >
            keyone2693 </a
          >all right reserved
        </span>
      </p>
    </footer>
  </div>
</div>
