<p>
  blog-dashboard works!
</p>

<div *ngIf="helloMessage$ | async as hm">
  <div class="col-md-12 text-center">
    <button (click)="onPersian()" class="btn success ml-2">فارسی</button>
    <label class="label ml-2"> {{ hm.helloMessage }}</label>
    <button (click)="onEnglish()" class="btn danger ml-2">English</button>
  </div>
</div>

<div *ngIf="titleCounter$ | async as tc">
  <div class="col-md-12 text-center">
    <label class="label mb-2 mt-5"> {{ tc.title }} </label>
  </div>
  <div class="col-md-12 text-center">
    <button class="btn btn-primary mb-2 ">{{ tc.counter }}</button>
  </div>
  <div class="col-md-12 text-center">
    <button (click)="increaseCounter()" class="btn btn-success ml-2">
      (+) افزایش
    </button>
    <button (click)="resetCounter()" class="btn btn-warning ml-2">ریست</button>
    <button (click)="decreaseCounter()" class="btn btn-danger ml-2">
      (-) کاهش
    </button>
  </div>

  <div class="col-md-12 text-center">
    <div class="form-group">
      <input [(ngModel)]="title" type="email" class="form-control" />
    </div>
    <button (click)="editTitle()" class="btn btn-info">تغییر عنوان</button>
  </div>
</div>
