
                <!--Statistics cards Starts-->
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ blogDashboard.totalBlogCount}}
                                               </h4>
                                            <span class="grey darken-1">مجموع بلاگ ها </span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-cup font-large-1 primary"></i>
                                        </div>
                                    </div>
                                </div>
                                    <x-chartist
                                     id="Widget-line-chart"
                                     class="height-150 lineChartWidget WidgetlineChart mb-2"
                                      [type]="TotalBlogChartType"
                                      [data]="TotalBlogChartData"
                                      [options]="TotalBlogChartOptions"
                                      [events]="TotalBlogChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ blogDashboard.approvedBlogCount}}
                                              </h4>
                                            <span class="grey darken-1">بلاگ های تایید شده</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-wallet font-large-1 warning"></i>
                                        </div>
                                    </div>
                                </div>                               
                                 <x-chartist
                                     id="Widget-line-chart1"
                                     class="height-150 lineChartWidget WidgetlineChart1 mb-2"
                                      [type]="ApprovedBlogChartType"
                                      [data]="ApprovedBlogChartData"
                                      [options]="ApprovedBlogChartOptions"
                                      [events]="ApprovedBlogChartEvents"
                                    ></x-chartist>

                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                        <div class="card bg-white">
                            <div class="card-body">
                                <div class="card-block pt-2 pb-0">
                                    <div class="media">
                                        <div class="media-body white text-right">
                                            <h4 class="font-medium-5 card-title mb-0">
                                              {{ blogDashboard.unApprovedBlogCount}}
                                              </h4>
                                            <span class="grey darken-1">بلاگ های تایید نشده</span>
                                        </div>
                                        <div class="media-right text-right">
                                            <i class="icon-basket-loaded font-large-1 success"></i>
                                        </div>
                                    </div>
                                </div>
                                <x-chartist
                                     id="Widget-line-chart2"
                                     class="height-150 lineChartWidget WidgetlineChart2 mb-2"
                                      [type]="UnApprovedBlogChartType"
                                      [data]="UnApprovedBlogChartData"
                                      [options]="UnApprovedBlogChartOptions"
                                      [events]="UnApprovedBlogChartEvents"
                                    ></x-chartist>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Statistics cards Ends-->

                <div class="row match-height">
                    <div class="col-xl-4 col-lg-12 col-12">
                         <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-warning">
                                    <h4 class="card-title">خلاصه ی تولید محتوا</h4>
                                </div>
                            </div>
                            <div class="card-body">

                                <p class="font-medium-2 text-muted text-center">تولید محتوا از ابتدا</p>
                               
                                    <x-chartist
                                     id="donut-dashboard-chart"
                                     class="height-250 donut donutShadow"
                                      [type]="BlogSummaryChartType"
                                      [data]="BlogSummaryChartData"
                                      [options]="BlogSummaryChartOptions"
                                      [events]="BlogSummaryChartEvents"
                                    ></x-chartist>
                                <div class="card-block">
                                    <div class="row my-3">
                                       <div class="col">
                                            <span class="mb-1 text-muted d-block">100 % - همه</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-blackberry "
                                                [style.width.%] = "100"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <span class="mb-1 text-muted d-block">{{getPersent(this.blogDashboard.approvedBlogCount)}} % - تایید شده</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-green-tea" 
                                                [style.width.%] = "getPersent(this.blogDashboard.approvedBlogCount)"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        
                                        <div class="col">
                                            <span class="mb-1 text-muted d-block">{{getPersent(this.blogDashboard.unApprovedBlogCount)}} % - تایید نشده</span>
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar gradient-pomegranate"
                                                [style.width.%] = "getPersent(this.blogDashboard.unApprovedBlogCount)"
                                                role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-8" id="recent-sales">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-primary">
                                    <h4 class="card-title">
                                        بلاگ های اخیر
                                    </h4>
                                </div>
                                <a class="heading-elements-toggle">
                                    <i class="la la-ellipsis-v font-medium-3"></i>
                                </a>
                            </div>
                            <div class="card-content mt-1">
                                <div class="table-responsive">
                                    <table class="table table-hover table-xl mb-0" id="recent-orders">
                                        <thead>
                                            <tr>
                                                <th class="border-top-0">تصویر</th>
                                                <th class="border-top-0">نام یوزر</th>
                                                <th class="border-top-0">دسته بندی</th>
                                                <th class="border-top-0">تایتل</th>
                                                <th class="border-top-0">تاریخ ایجاد </th>
                                                <th class="border-top-0">وضعیت نمایش</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let blog of blogDashboard.last7Blogs">
                                                <td class="text-truncate"><img class="blog-img" [src]="blog.picAddress" alt=""> </td>
                                                <td class="text-truncate">{{blog.name}} </td>
                                                <td class="text-truncate">{{blog.blogGroupName}} </td>
                                                <td class="text-truncate">{{blog.title}} </td>
                                                <td class="text-truncate">
                                                    ({{ blog.dateModified | date: "HH:mm" }})
                                                    {{ blog.dateModified | persianDate }}
                                                </td>
                                                <td>
                                                    <button
                                                    [ngClass]="blog.status ? 'btn-outline-success' :'btn-outline-danger' "
                                                    class="btn btn-sm round mb-0" type="button">
                                                        {{blog.status.toStatus()}}
                                                    </button
                                                    >
                                                </td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row match-height" *appHasRole="['AdminBlog']">
                    <div class="col-xl-12">
                      <div class="card">
                            <div class="card-header">
                                <div class="card-title-wrap bar-success">
                                    <h4 class="card-title">پرکار ترین کاربران </h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="card-block">
                                  <div class="chart-info mb-2">
                                        <span class="text-uppercase mr-3">
                                          <i class="fa fa-circle primary font-small-2 mr-1"></i> همه ی بلاگ کاربر
                                        </span>
                                        <span class="text-uppercase">
                                          <i class="fa fa-circle warning font-small-2 mr-1"></i> بلاگ تایید شده کاربر
                                        </span>
                                          <span class="text-uppercase">
                                          <i class="fa fa-circle danger font-small-2 mr-1"></i> بلاگ تایید نشده کاربر
                                        </span>
                                  </div>
                                    <x-chartist
                                     id="line-chart"
                                     class="height-300 lineChart lineChartShadow"
                                      [type]="UserBlogsChartType"
                                      [data]="UserBlogsChartData"
                                      [options]="UserBlogsChartOptions"
                                      [events]="UserBlogsChartEvents"
                                    ></x-chartist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
