  
  <div
    class="card  carhover"
    [ngClass]="bankcard.approve ? 'bg-success' : 'bg-danger'">
    <div class="card-body">
        <button mat-mini-fab (click)="onDelete(bankcard)" class="btnDelete">
            <i class="icon-close px-1"></i>
          </button>
      
      <div class="px-1 my-3" [ngClass]="{blurcard : !bankcard.approve}">
        <div class="row text-white">
          <div class="col-4">
            <p class="banktiilte">
              <span class="bankicon"><i class="ibl64 ibl-{{bankcard.bankName}}"></i></span>
              <span class="pt-1 m-0 text-white">
               {{getBankName(bankcard.bankName)}}
              </span>
            </p>
          </div>
          <div class="col-8 text-right pr-0">
            <small class="float-left" *ngIf="bankcard.approve"
              >تایید شده<i class="icon-check px-1"></i
            ></small>
            <small class="float-left" *ngIf="!bankcard.approve"
              >تایید نشده<i class="icon-close px-1"></i
            ></small>
            <h6 class="text-white cardnum">
              {{bankcard.cardNumber | slice:0:4}}-{{bankcard.cardNumber | slice:4:8}}-{{bankcard.cardNumber | slice:8:12}}-{{bankcard.cardNumber | slice:12:16}}
            </h6>
            <span class="float-right lblhesab"
              ><small>ش.ح: </small><small>{{bankcard.hesabNumber}}</small></span
            >
            <span class="float-left lblexpire"
              ><small>انقضا: </small><small>{{bankcard.expireDateYear}}/{{bankcard.expireDateMonth}}</small></span
            >
          </div>
        </div>
      </div>
      <div class="col-12">
        <button mat-raised-button (click)="onEdit(bankcard)" class="float-left mb-10">
          <i class="icon-note"></i>
          ویرایش کارت بانکی
        </button>
        <span class="float-right lblownname"  [ngClass]="{blurcard : !bankcard.approve}">
          <small>نام صاحب حساب : </small><small>{{bankcard.ownerName}}</small>
        </span>
      </div>
    </div>
  </div>
