.btn-success{
      border-radius: 50px;
      padding-bottom: 8px;

padding-top: 10px;

}.btn-success i,
.btn-success span {
  color: #fff !important;
}

.btn-success i {
border: 2px solid #fff;
padding: 6px;
border-radius: 50px;
vertical-align: middle;
font-size: 18px;
}
.btn-success span {
  color: #fff !important;
}
