
        <!-- User Profile Starts-->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/dashboard']">داشبورد</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['/panel/users/usersmanagement']">مدیریت کاربران</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              مشاهده و ویرایش اطلاعات کاربران
            </li>
          </ol>
        </nav>
        <!--Basic User Details Starts-->
        <!--User Profile Starts-->
