
<div class="xs-padding itr_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="itr-heading style2 left">برخی از سوالات <span style="color: #ef2674">شما</span></h3>
                <style type="text/css">
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel-heading {
                        border-color: #d8d8d8 !important;
                        border-bottom-width: 1px !important;
                        border-style: dashed !important;
                    }
                    
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading a {
                        color: #ffffff !important;
                    }
                    
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading {
                        background-color: #ef2674;
                    }
                    
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-panel-heading {
                        border-color: #ef2674 !important;
                    }
                    
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel .vc_tta-icon {
                        color: #ef2674 !important;
                    }
                    
                    .accr-5cd59d4b2f7f8.vc_tta.vc_general .vc_tta-panel.vc_active .vc_tta-icon {
                        color: #ffffff !important;
                    }
                </style>
                <div class="vc_tta-container" data-vc-action="collapseAll">
                    <div class="vc_general vc_tta vc_tta-accordion vc_tta-shape-square vc_tta-o-shape-group vc_tta-controls-align-right vc_tta-o-all-clickable accr-5cd59d4b2f7f8 with_pd">
                        <div class="vc_tta-panels-container">
                            <div class="vc_tta-panels">
                                <div class="vc_tta-panel" id="1446220139863-cbab5c06-669c" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1446220139863-cbab5c06-669c" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-cogs"></i><span class="vc_tta-title-text">چگونه طراحی وب در حال حاضر متفاوت از قبل است</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body" style="height: 0px;">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel vc_active" id="1446220140139-b007a0ae-cf31" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1446220140139-b007a0ae-cf31" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">آیا قالب بهینه و آماده است و چگونگی اجرای آن</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body" style="">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1446220140420-25f43a7c-13b9" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1446220140420-25f43a7c-13b9" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-certificate"></i><span class="vc_tta-title-text">چگونه طرح های آماده برای تمام دستگاه ها طراحی کنیم</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1486006629400-80d0cecf-37dd" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1486006629400-80d0cecf-37dd" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">کجا می توانم کد خرید محصول خودم را پیدا کنم؟</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1526594481178-408e1e13-8082" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1526594481178-408e1e13-8082" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">کجا می توانم اولین محصول خودم را در بازار خرید کنم؟</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1526594480881-b18240b3-0e5d" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1526594480881-b18240b3-0e5d" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">آیا می توانم ازنام های علامت های تجاری درعناوین خود استفاده کنم؟</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1526594480545-4a2d16b5-a139" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1526594480545-4a2d16b5-a139" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">چگونه می توانم نام کاربری خود را در بازار تغییر دهم؟</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="vc_tta-panel" id="1526594479065-a58c266c-39ff" data-vc-content=".vc_tta-panel-body">
                                    <div class="vc_tta-panel-heading">
                                        <h4 class="vc_tta-panel-title vc_tta-controls-icon-position-right"><a href="#1526594479065-a58c266c-39ff" data-vc-accordion="" data-vc-container=".vc_tta-container"><i class="vc_tta-icon fa fa-bell-slash"></i><span class="vc_tta-title-text">معرفی نویسنده به راست چین</span><i class="vc_tta-controls-icon vc_tta-controls-icon-plus"></i></a></h4></div>
                                    <div class="vc_tta-panel-body">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>